<script setup>
import navigation from '../data/navigation.json';
import AppMenuItem from './AppMenuItem.vue';

const authStore = useAuthStore();
const permissions = computed(() => authStore.permissions);
const user = computed(() => authStore.user);
</script>

<template>
  <ul class="layout-menu">
    <div v-for="(item, i) in navigation" :key="i">
      <template v-if="(item.hasCompany && user.company) || (!item.hasCompany && !user.company)">
        <app-menu-item v-if="!item.separator" :item="item" :index="i"></app-menu-item>

        <li v-if="item.separator" class="menu-separator"></li>
      </template>
    </div>
  </ul>
</template>

<style lang="scss" scoped></style>
