<script setup lang="ts">
import { getToasts } from '~/utils/vue.utils';

const props = defineProps({
  loading: {
    type: Boolean,
    default: false
  }
});
const toast = useToast();
const copyPageLink = () => {
  const fullUrl = window.location.href;
  navigator.clipboard
    .writeText(fullUrl)
    .then(() => {
      getToasts(toast).info('Ссылка на страницу скопирована');
    })
    .catch((err) => {
      console.error('Ошибка копирования ссылки: ', err);
    });
};
</script>
<template>
  <div>
    <CommonSiteBreadcrumb />

    <div class="flex flex-column gap-2">
      <div class="flex align-items-center justify-content-between gap-2 mb-2">
        <div class="flex align-items-center gap-3">
          <Skeleton width="15rem" height="2rem" v-if="loading" />
          <h1 class="text-xl m-0 md:text-3xl" v-else>
            <slot name="title"></slot>
          </h1>
          <div class="flex align-items-center gap-1">
            <Skeleton width="20px" height="20px" v-if="loading" />
            <template v-else>
              <Button
                size="small"
                severity="secondary"
                :unstyled="true"
                class="bg-transparent border-none text-600 hover:text-primary cursor-pointer text-sm"
                @click="copyPageLink"
                icon="pi pi-link"
              />
              <slot name="titleControls"></slot>
            </template>
          </div>
        </div>
        <div class="flex align-items-center gap-2">
          <Skeleton width="8rem" height="2rem" v-if="loading" />
          <template v-else>
            <slot name="headerControls"></slot>
          </template>
        </div>
      </div>
      <div class="flex flex-column gap-2">
        <slot name="header" class="mb-4 w-auto"></slot>

        <slot name="body"></slot>
        <slot name="footer"></slot>
      </div>
    </div>
    <slot name="modal"></slot>
  </div>
</template>
