<script setup>
import { usePrimeVue } from 'primevue/config';
import { useNotificationsStore } from '~/stores/notifications.store';
import { useLayout } from './composables/layout';

const { layoutConfig, onMenuToggle } = useLayout();
const filePath = useRuntimeConfig().public.filePath;

const appStore = useAppStore();
const notificationsRef = ref();
const outsideClickListener = ref(null);
const topbarMenuActive = ref(false);

const AuthService = useAuth();

const authStore = useAuthStore();
const currentUser = computed(() => authStore.user);
const notificationStore = useNotificationsStore();
const notifications = computed(() => notificationStore.notifications);
onMounted(() => {
  bindOutsideClickListener();
});
onBeforeUnmount(() => {
  unbindOutsideClickListener();
});

const onTopBarMenuButton = () => {
  topbarMenuActive.value = !topbarMenuActive.value;
};

const onLogout = async () => {
  await AuthService.logout();
  navigateTo('/');
};

const topbarMenuClasses = computed(() => {
  return {
    'layout-topbar-menu-mobile-active': topbarMenuActive.value
  };
});

const bindOutsideClickListener = () => {
  if (!outsideClickListener.value) {
    outsideClickListener.value = (event) => {
      if (isOutsideClicked(event)) {
        topbarMenuActive.value = false;
      }
    };

    document.addEventListener('click', outsideClickListener.value);
  }
};

const unbindOutsideClickListener = () => {
  if (outsideClickListener.value) {
    document.removeEventListener('click', outsideClickListener);
    outsideClickListener.value = null;
  }
};

const isOutsideClicked = (event) => {
  if (!topbarMenuActive.value) return;
  const sidebarEl = document.querySelector('.layout-topbar-menu');
  const topbarEl = document.querySelector('.layout-topbar-menu-button');

  return !(
    sidebarEl.isSameNode(event.target) ||
    sidebarEl.contains(event.target) ||
    topbarEl.isSameNode(event.target) ||
    topbarEl.contains(event.target)
  );
};
const isDarkTheme = computed(() => appStore.themeMode);
const $primevue = usePrimeVue();

const onDarkModeChange = () => {
  const newThemeName = !isDarkTheme.value
    ? layoutConfig.theme.value.replace('light', 'dark')
    : layoutConfig.theme.value.replace('dark', 'light');

  appStore.setDarkMode(!isDarkTheme.value);

  onChangeTheme(newThemeName, isDarkTheme.value);
};
const onChangeTheme = (theme, mode) => {
  $primevue.changeTheme(layoutConfig.theme.value, theme, 'theme-css', () => {
    layoutConfig.theme.value = theme;
    layoutConfig.darkTheme.value = mode;
  });
};
const onToggleNotificationPanel = (event) => {
  notificationsRef.value?.toggle(event);
};
const onReadNotification = async (id) => {
  await notificationStore.readNotification(id);
  if (notifications.value.length === 0) {
    notificationsRef.value?.hide();
  }
};
</script>

<template>
  <div class="layout-topbar">
    <NuxtLink :to="getLogoLink()" class="layout-topbar-logo">
      <img :src="getUserCompanyLogo()" alt="logo" class="w-16rem h-3rem" style="object-fit: contain; object-position: left" />
    </NuxtLink>
    <div class="flex layout-menu-button gap-2">
      <Button
        icon="pi pi-bars"
        size="small"
        severity="secondary"
        outlined
        class="p-1 h-2rem w-2rem layout-topbar-menu-button"
        @click="onMenuToggle()"
      />

      <Button
        v-tooltip.bottom="'Выйти'"
        icon="pi pi-sign-out"
        size="small"
        severity="secondary"
        outlined
        class="p-1 h-2rem w-2rem layout-topbar-menu-button"
        @click="onLogout()"
      />
    </div>

    <div class="layout-topbar-menu align-items-center gap-2" :class="topbarMenuClasses">
      <NuxtLink to="/profile">
        <Button
          icon="pi pi-user"
          :label="`${currentUser.email}`"
          size="small"
          severity="secondary"
          outlined
          class="p-1 h-2rem align-items-center"
        >
          <template #icon>
            <Image
              v-if="currentUser.avatar"
              :src="filePath + '/' + currentUser.avatar"
              width="20px"
              height="20px"
              imageClass="mr-2 mt-1 border-round"
            />
          </template>
        </Button>
      </NuxtLink>
      <div class="relative">
        <Button
          size="small"
          icon="pi pi-comments"
          severity="secondary"
          outlined
          @click="onToggleNotificationPanel"
          class="p-1 h-2rem w-2rem"
        />

        <Badge
          v-if="notifications.length"
          class="absolute"
          style="
            bottom: -8px;
            right: -4px;
            font-size: 8px !important;
            padding: 0px;
            z-index: 100;
            min-width: 16px;
            height: 16px;
            line-height: 16px;
          "
          severity="info"
          :value="notifications.length"
        />
      </div>
      <OverlayPanel ref="notificationsRef" class="h-33rem">
        <ScrollPanel
          class="overflow-auto"
          :class="notifications.length ? 'h-30rem' : 'h-0'"
          :pt="{
            wrapper: {
              style: {
                'border-right': '10px solid var(--surface-ground)'
              }
            },
            bary: 'hover:bg-primary-400 bg-primary-300 opacity-100'
          }"
        >
          <div class="flex flex-column gap-2 w-25rem">
            <div v-if="notifications.length" v-for="notification in notifications" :key="notification.id">
              <Message severity="info" :closable="true" class="m-0" @close="onReadNotification(notification.id)">{{
                notification.message
              }}</Message>
            </div>
            <div v-else class="text-center mt-2">Нет уведомлений</div>
          </div>
        </ScrollPanel>
      </OverlayPanel>
      <Button
        :icon="`pi ${isDarkTheme === true ? 'pi-sun' : 'pi-moon'}`"
        size="small"
        severity="secondary"
        outlined
        class="p-1 h-2rem w-2rem"
        @click="onDarkModeChange"
      />
      <Button icon="pi pi-sign-out" size="small" severity="secondary" outlined class="p-1 h-2rem w-2rem" @click="onLogout()" />
    </div>
  </div>
</template>
