<script setup lang="ts">
import { useLayout } from '@/layouts/composables/layout';
import { useToast } from 'primevue/usetoast';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import useAuth from '~/composables/useAuth';
import { useAuthStore } from '~/stores/auth.store';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  layout: false
});

//Toast
const toast = useToast();
const AuthService = useAuth();
const isSubmitting = ref(false);
const router = useRouter();
//Layout
const { layoutConfig } = useLayout();
const logoUrl = computed(() => {
  return `/layout/images/${layoutConfig.darkTheme.value ? 'logo-white' : 'logo-dark'}.webp`;
});
//Auth
const authStore = useAuthStore();

const code = ref<string>('');

const onSubmit = async () => {
  try {
    isSubmitting.value = true;

    if (code.value && code.value.length) {
      await AuthService.confirmAccount(code.value);
      code.value = '';
    }

    router.push('/cabinet');
  } catch (e) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    code.value = '';
    isSubmitting.value = false;
  }
};

const sendCode = async () => {
  try {
    const userInfo = authStore.getTokenInfo;

    await AuthService.resendCode(userInfo.email);
    getToasts(toast).success('Код успешно отправлен на вашу почту');
  } catch (e) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    code.value = '';
    isSubmitting.value = false;
  }
};
const logout = async () => {
  await AuthService.logout();
  navigateTo('/');
};
</script>

<template>
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <!-- Form -->
      <div>
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
          <div class="text-center mb-3">
            <div class="text-900 text-md md:text-3xl font-medium mb-3">Подтвердите регистрацию</div>
            <span class="text-600 font-medium">Введите код из письма</span>
          </div>

          <div class="field flex flex-column align-items-center">
            <InputOtp v-model="code" :length="6" :disabled="isSubmitting" />
            <Button link class="text-primary mt-2" @click="sendCode">Отправить код повторно</Button>
          </div>

          <Button
            :disabled="isSubmitting"
            :loading="isSubmitting"
            @click="onSubmit"
            label="Подтвердить регистрацию"
            class="w-full p-3 text-md"
          />

          <div class="flex mt-4 text-sm flex-column align-items-center">
            <span class="text-primary cursor-pointer" @click="logout">Выйти из аккаунта</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.pi-eye {
  transform: scale(1.6);
  margin-right: 1rem;
}
.pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
}
</style>
