<script setup lang="ts">
import { useLayout } from '@/layouts/composables/layout';
import { useAuthStore } from '@/stores/auth.store';
import { toTypedSchema } from '@vee-validate/zod';
import { useToast } from 'primevue/usetoast';
import { Field, useForm } from 'vee-validate';
import { computed, ref } from 'vue';
import { z } from 'zod';
import useAuth from '~/composables/useAuth';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  layout: false
});

//Toast
const toast = useToast();
const AuthService = useAuth();
//Layout
const { layoutConfig } = useLayout();
const logoUrl = computed(() => {
  return `/layout/images/${layoutConfig.darkTheme.value ? 'logo-white' : 'logo-dark'}.webp`;
});
//Auth
const authStore = useAuthStore();

const VALIDATION_TEXT = {
  EMAIL_REQUIRED: 'Необходимо указать действительный email',
  EMAIL_INVALID: 'Неверный адрес электронной почты'
};
const ResetFormSchema = z.object({
  email: z.string().email(VALIDATION_TEXT.EMAIL_INVALID).nonempty(VALIDATION_TEXT.EMAIL_REQUIRED)
});

type FormInput = z.infer<typeof ResetFormSchema>;
const validationSchema = toTypedSchema(ResetFormSchema);

const initialValues = computed<FormInput>(() => ({
  email: ''
}));

const { handleSubmit, isSubmitting } = useForm({
  validationSchema,
  initialValues
});

const isReset = ref(false);
const onSubmit = handleSubmit(async (values: FormInput) => {
  await AuthService.resetPassword(values.email);
  isReset.value = true;
  getToasts(toast).success('Новый пароль отправлен на почту');
});
</script>

<template>
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <div>
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
          <template v-if="!isReset">
            <div class="text-center mb-5">
              <div class="text-900 text-md md:text-3xl font-medium mb-3">Восстановление пароля</div>
              <span class="text-600 font-medium"
                >Нажмите на кнопку "Восстановить пароль" и ваш новый пароль будет отправлен вам на почту</span
              >
            </div>
            <div>
              <div class="field">
                <label for="email" class="block text-900 text-md font-medium mb-2">Email</label>
                <Field v-slot="{ field, errorMessage, errors, handleChange, handleBlur }" name="email">
                  <InputText
                    id="email"
                    v-model="field.value"
                    type="text"
                    placeholder="Email"
                    class="w-full"
                    :disabled="isSubmitting"
                    :invalid="errors.length ? true : false"
                    @update:model-value="handleChange"
                    @blur="handleBlur"
                    @keyup.enter="onSubmit"
                  />
                  <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
                </Field>
              </div>
              <Button
                :disabled="isSubmitting"
                :loading="isSubmitting"
                @click="onSubmit"
                label="Восстановить пароль"
                class="w-full p-3 text-md"
              ></Button>
            </div>
          </template>
          <template v-else>
            <div class="text-900 text-md md:text-3xl font-medium mb-3">Новый пароль отправлен на почту</div>
          </template>
          <div class="flex mt-4 text-sm flex-column">
            <div>Вернуться на страницу<NuxtLink to="/" class="text-primary font-medium ml-2">входа</NuxtLink></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.pi-eye {
  transform: scale(1.6);
  margin-right: 1rem;
}
.pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
}
</style>
