<script setup lang="ts">
import { useLayout } from '@/layouts/composables/layout';
import { toTypedSchema } from '@vee-validate/zod';
import { useToast } from 'primevue/usetoast';
import { Field, useForm } from 'vee-validate';
import { computed } from 'vue';
import { z } from 'zod';

definePageMeta({
  layout: false
});
//Layout
const { layoutConfig } = useLayout();
const logoUrl = computed(() => {
  return `/layout/images/${layoutConfig.darkTheme.value ? 'logo-white' : 'logo-dark'}.webp`;
});
//Auth
const AuthService = useAuth();

//Toast
const toast = useToast();

const VALIDATION_TEXT = {
  EMAIL_REQUIRED: 'Необходимо указать действительный email',
  PASSWORD_LENGTH: 'Пароль должен содержать минимум 8 символов',
  PASSWORD_CONTAINS_EMAIL: 'Пароль не может содержать ваш email',
  PASSWORD_MATCH: 'Пароли не совпадают',
  ACCEPT_TERMS: 'Вы должны принять условия использования',
  COMPANY_NAME: 'Необходимо указать название компании'
};

const zodSchema = z
  .object({
    email: z.string().email(VALIDATION_TEXT.EMAIL_REQUIRED),
    password: z.string().min(8, VALIDATION_TEXT.PASSWORD_LENGTH),
    confirmPassword: z.string(),
    companyName: z.string(),
    acceptTerms: z.boolean().refine((val) => val, {
      message: VALIDATION_TEXT.ACCEPT_TERMS
    })
  })
  .superRefine((data, ctx) => {
    if (data.password.includes(data.email)) {
      ctx.addIssue({
        code: z.ZodIssueCode.custom,
        message: VALIDATION_TEXT.PASSWORD_CONTAINS_EMAIL,
        path: ['password']
      });
    }
    if (data.password !== data.confirmPassword) {
      ctx.addIssue({
        code: z.ZodIssueCode.custom,
        message: VALIDATION_TEXT.PASSWORD_MATCH,
        path: ['confirmPassword']
      });
    }
  });

type FormInput = z.infer<typeof zodSchema>;

const validationSchema = toTypedSchema(zodSchema);
const initialValues = computed<FormInput>(() => ({
  email: '',
  password: '',
  confirmPassword: '',
  companyName: '',
  acceptTerms: false
}));

const { handleSubmit, isSubmitting } = useForm({
  validationSchema,
  initialValues
});

const onSubmit = handleSubmit(async (values: FormInput) => {
  await AuthService.register(values.email, values.password, values.confirmPassword, values.companyName);
  setTimeout(() => {
    navigateTo('/auth/login');
  }, 1000);
});
</script>

<template>
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <!-- FORM -->
      <div>
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
          <div class="text-center mb-5">
            <div class="text-900 text-xl md:text-3xl font-medium mb-3">Регистрация</div>
            <span class="text-600 font-medium">Зарегистрируйтесь для продолжения</span>
          </div>

          <div>
            <div class="field">
              <label for="companyName" class="block text-900 text-xl font-medium mb-2">Название компании</label>
              <Field v-slot="{ field, errorMessage, errors, handleChange, handleBlur }" name="companyName">
                <InputText
                  id="companyName"
                  v-model="field.value"
                  type="text"
                  placeholder="Название компании"
                  class="w-full md:w-30rem"
                  style="padding: 1rem"
                  :disabled="isSubmitting"
                  :invalid="errors.length ? true : false"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                  @keyup.enter="onSubmit"
                />
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
              </Field>
            </div>
            <div class="field">
              <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
              <Field v-slot="{ field, errorMessage, errors, handleChange, handleBlur }" name="email">
                <InputText
                  id="email"
                  v-model="field.value"
                  type="text"
                  placeholder="Email"
                  class="w-full md:w-30rem"
                  style="padding: 1rem"
                  :disabled="isSubmitting"
                  :invalid="errors.length ? true : false"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                  @keyup.enter="onSubmit"
                />
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
              </Field>
            </div>

            <div class="field">
              <label for="password" class="block text-900 font-medium text-xl mb-2">Пароль</label>
              <Field v-slot="{ field, errorMessage, handleChange, handleBlur, errors }" name="password">
                <Password
                  id="password"
                  v-model="field.value"
                  placeholder="Пароль"
                  :toggleMask="true"
                  :disabled="isSubmitting"
                  class="w-full"
                  inputClass="w-full"
                  :invalid="errors.length ? true : false"
                  :inputStyle="{ padding: '1rem' }"
                  :feedback="false"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                  @keyup.enter="onSubmit"
                />
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
              </Field>
            </div>
            <div class="field">
              <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2">Повторите пароль</label>
              <Field v-slot="{ field, errorMessage, handleChange, handleBlur, errors }" name="confirmPassword">
                <Password
                  id="confirmPassword"
                  v-model="field.value"
                  placeholder="Подтвердите пароль"
                  :toggleMask="true"
                  :disabled="isSubmitting"
                  class="w-full"
                  inputClass="w-full"
                  :invalid="errors.length ? true : false"
                  :inputStyle="{ padding: '1rem' }"
                  :feedback="false"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                  @keyup.enter="onSubmit"
                />
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
              </Field>
            </div>

            <div class="mb-3">
              <Field v-slot="{ field, errorMessage, handleChange, handleBlur }" name="acceptTerms">
                <Checkbox
                  id="acceptTerms"
                  v-model="field.value"
                  :disabled="isSubmitting"
                  binary
                  class="mr-2"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                />
                <label for="acceptTerms">Соглашение с условиями</label>
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
              </Field>
            </div>
            <Button
              :disabled="isSubmitting"
              :loading="isSubmitting"
              @click="onSubmit"
              label="Создать аккаунт"
              class="w-full p-3 text-xl"
            ></Button>
          </div>
          <div class="flex mt-4">У меня уже есть аккаунт? <NuxtLink to="/" class="text-primary font-medium ml-2">Войти</NuxtLink></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.pi-eye {
  transform: scale(1.6);
  margin-right: 1rem;
}
.pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
}
</style>
