<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useCompanyStore } from '~/stores/company.store';
import { useUsersStore } from '~/stores/users.store';
import type { ICompany } from '~/types/company.type';
import { CABINET_PERMISSIONS, SYSTEM_PERMISSIONS, type IChangePasswordDto, type IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Пользователи',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_CLINICS],

  breadcrumb: async () => {
    const { user_id } = useRoute().params;

    const _store = useUsersStore();
    const title = await _store.getItemTitle(Number(user_id));
    return title;
  }
});

//Common

const toast = useToast();
const route = useRoute();
const { clinic_id } = route.params;
const isLoading = ref<boolean>(true);

//Stores & services
const companyStore = useCompanyStore();
const cabinetStore = useCabinetStore();

//Data
const company = computed<ICompany | undefined>(() => cabinetStore.company);
const clinic = computed<ICompany | undefined>(() => cabinetStore.clinic);
const user_id = Number(route.params.user_id);
const user = computed<IUser | undefined>(() => companyStore.user);
const changePasswordData = ref<Partial<IChangePasswordDto>>({});

onBeforeMount(async () => {
  isLoading.value = true;
  try {
    await fetchCompany();
    await fetchClinic();
    if (clinic.value) {
      await companyStore.fetchCompanyUser(clinic.value.id, user_id);

      changePasswordData.value = {
        user_id: user.value?.id,
        email: user.value?.email,
        password: '',
        confirm_password: ''
      };
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
});
const fetchCompany = async () => {
  try {
    await cabinetStore.fetchCompany();
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchClinic = async () => {
  try {
    await cabinetStore.fetchItemClinic(Number(clinic_id));
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
</script>
<template>
  <app-page :loading="isLoading && user === null">
    <template #title>{{ user?.last_name }} {{ user?.first_name }} {{ user?.middle_name }}</template>
    <template #body>
      <div class="grid">
        <div class="col-12 md:col-8">
          <div class="card" v-if="user">
            <div class="flex gap-5 flex-column md:flex-row">
              <CommonAvatar class="w-8rem h-8rem" edit :img="user.avatar" />
              <div class="flex flex-column">
                <div class="flex flex-column gap-1">
                  <div class="flex align-items-center gap-2">
                    <div class="flex align-items-center gap-1 font-semibold">Общая информация</div>
                  </div>
                  <div class="flex align-items-center gap-1">
                    <i
                      class="pi"
                      :class="{
                        'text-green-500 pi-check-circle': user.is_active,
                        'text-pink-500 pi-times-circle': !user.is_active
                      }"
                    ></i>
                    <span>{{ user.is_active ? 'Активен' : 'Неактивен' }}</span>
                  </div>
                  <div class="flex align-items-center gap-1">
                    <i
                      class="pi"
                      :class="{
                        'text-green-500 pi-check-circle': user.email_verified,
                        'text-pink-500 pi-times-circle': !user.email_verified
                      }"
                    ></i>
                    <span>{{ user.email_verified ? 'Верифицирован' : 'Неверифицирован' }}</span>
                  </div>
                  <div class="flex align-items-center gap-1">
                    <div class="font-medium">Email:</div>
                    <div>{{ user.email }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </app-page>
</template>
