<script setup lang="ts"></script>

<template>
  <Toast />
  <ConfirmDialog group="confirmDelete">
    <template #container="{ message, acceptCallback, rejectCallback }">
      <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
        <div class="border-circle bg-red-400 text-white inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
          <i class="pi pi-question text-5xl"></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="flex align-items-center gap-2 mt-4">
          <Button :label="message.acceptLabel" class="min-w-8rem" severity="danger" @click="acceptCallback"></Button>
          <Button :label="message.rejectLabel" severity="secondary" @click="rejectCallback" class="w-8rem"></Button>
        </div>
      </div>
    </template>
  </ConfirmDialog>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>
