<script setup lang="ts">
import { format } from 'date-fns';
import type { IPatient } from '~/types/customer.type';
import type { IOrder } from '~/types/order.type';
import type { IUser } from '~/types/user.type';
const props = defineProps({
  order: {
    type: Object as PropType<IOrder>,
    default: () => ({})
  },
  openOrder: {
    type: Function as PropType<(payload: IOrder) => void>,
    required: true
  },
  openPatient: {
    type: Function as PropType<(payload: IPatient) => void>,
    required: true
  },
  openCustomer: {
    type: Function as PropType<(payload: IUser) => void>,
    required: true
  }
});
</script>
<template>
  <div
    class="bg-white shadow border-round-xl px-3 pt-3 pb-3 border border-white relative mb-2"
    :class="order.status.slug === FINISHED_STATUS ? 'opacity-50' : ''"
  >
    <div class="flex justify-between">
      <div class="flex flex-column">
        <span @click="openOrder(order)" class="text-lg cursor-pointer font-semibold tracking-wide text-sm">{{ order.title }}</span>
        <div>
          <span class="text-sm font-medium text-gray-700">Услуги:</span> {{ order.order_services?.map((os) => os.title).join(' | ') }}
        </div>

        <span @click="openCustomer(order.customer)" class="absolute cursor-pointer" style="top: 10px; right: 10px">
          <CommonSmallProfile
            hideName
            imageClass="w-2rem h-2rem"
            :name="`${order?.customer?.last_name} ${order?.customer?.first_name}.${order?.customer?.middle_name}.`"
            :avatar="order.customer.avatar"
          />
        </span>
      </div>
    </div>
    <div class="flex mt-4 justify-content-between align-items-center" v-if="order.created_at">
      <span class="text-sm text-gray-600">{{ format(order.created_at, 'dd.MM.yyyy, HH:mm') }}</span>
      <Tag severity="secondary" :value="order.status.name"></Tag>
    </div>
  </div>
</template>
