<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { onBeforeMount, ref, type PropType } from 'vue';
import useCabinet from '~/composables/useCabinet';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder, IOrderStatus } from '~/types/order.type';
import type { IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

const props = defineProps({
  orders: {
    type: Array as PropType<IOrder[]>,
    required: true
  },
  statuses: {
    type: Array as PropType<IOrderStatus[]>,
    required: true
  },
  openOrder: {
    type: Function as PropType<(order: IOrder) => void>,
    required: true
  },
  openPatient: {
    type: Function as PropType<(clinic: ICompany, patient: IPatient) => void>,
    required: true
  },
  openCustomer: {
    type: Function as PropType<(user: IUser) => void>,
    required: true
  },
  changeStatus: {
    type: Function as PropType<(order: IOrder) => IOrder>,
    required: true
  }
});

interface IDescColumn {
  id: number;
  title: string;
  slug: string;
  orders: IOrder[];
}
//Common
const toast = useToast();

//Stores & services
const cabinetService = useCabinet();

const columns = ref<IDescColumn[]>([]);
const oldOrderList = ref<IOrder[]>([]);
onBeforeMount(async () => {
  oldOrderList.value = props.orders;

  columns.value = props.statuses.map((status: IOrderStatus) => {
    return {
      id: status.id,
      title: status.name,
      slug: status.slug,
      orders: props.orders.filter((order: IOrder) => order.status.id === status.id) || []
    };
  });
});

const changeOrderStatus = async (evt: any) => {
  try {
    const status_id = Number(evt.to.parentElement.getAttribute('status'));
    const order_id = Number(evt.item.getAttribute('order'));

    const order = props.orders.find((order: IOrder) => order.id === order_id);
    if (!order) return;

    const newOrder = await props.changeStatus({
      ...order,
      status: {
        ...order.status,
        id: status_id
      }
    });
    if (!newOrder) return;
    columns.value = columns.value.map((column: IDescColumn) => {
      if (column.id === status_id) {
        column.orders = column.orders.map((order: IOrder) => (order.id === newOrder.id ? newOrder : order));
      }
      return column;
    });
    getToasts(toast).success('Статус изменен');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
</script>
<template>
  <div class="flex gap-2 overflow-x-scroll overflow-y-hidden pb-5" style="min-height: 70vh">
    <div
      v-for="column in columns"
      :key="column.id"
      :status="column.id"
      class="bg-gray-100 rounded-lg column-width rounded mr-4 border-round-xl"
    >
      <div class="text-gray-700 font-semibold bg-blue-100 font-sans tracking-wide text-lg px-3 py-3 border-round-xl border-noround-bottom">
        {{ column.title }}
      </div>
      <template v-if="hasPermission([CABINET_PERMISSIONS.CABINET_UPDATE_ORDER, SYSTEM_PERMISSIONS.SYSTEM_UPDATE_ORDER])">
        <draggable
          v-model="column.orders"
          :animation="200"
          ghost-class="ghost-card"
          group="orders"
          class="min-h-full px-3 py-3"
          :dragging="false"
          @end="changeOrderStatus"
        >
          <div v-for="item in column.orders" :key="item.title" :order="item.id" class="draggable-order">
            <OrderCard :order="item" :openOrder="openOrder" :openPatient="openPatient" :openCustomer="openCustomer" />
          </div>
        </draggable>
      </template>
      <template v-else>
        <div class="min-h-full px-3 py-3">
          <div v-for="item in column.orders" :key="item.title" :order="item.id" class="draggable-order">
            <OrderCard :order="item" :openOrder="openOrder" :openPatient="openPatient" :openCustomer="openCustomer" />
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<style scoped>
.column-width {
  min-width: 320px;
  width: 320px;
}
.ghost-card {
  opacity: 0.5;
  background: #f7fafc;
  border: 1px solid #4299e1;
}
</style>
