<script setup lang="ts">
import type { IPatient } from '#imports';
import { format } from 'date-fns';
import Editor from 'primevue/editor';
import { computed, onBeforeMount, ref, watch, type PropType } from 'vue';
import { useAuthStore } from '~/stores/auth.store';
import type { IOrder, IOrderCommentCreateDto, IOrderStatus } from '~/types/order.type';
import type { IAuthUser, IUser } from '~/types/user.type';
import { fullName, localeFilter } from '~/utils/helper.utils';

const props = defineProps({
  order: {
    type: Object as PropType<IOrder | undefined>,
    required: true
  },
  statuses: {
    type: Array as PropType<IOrderStatus[]>,
    required: true
  },
  changeStatus: {
    type: Boolean as PropType<boolean>,
    default: false
  },
  changePermissions: {
    type: Object as PropType<{
      changeDescription: boolean;
      changeFinishDate: boolean;
      changeResponsible: boolean;
      changeExecutor: boolean;
      changeStatus: boolean;
      viewComments: boolean;
      createComment: boolean;
      deleteComment: boolean;
    }>,
    default: () => ({
      changeDescription: false,
      changeFinishDate: false,
      changeResponsible: false,
      changeExecutor: false,
      changeStatus: false,
      viewComments: false,
      createComment: false,
      deleteComment: false
    })
  },
  customers: {
    type: Array as PropType<IUser[]>,
    required: true
  },
  responsibles: {
    type: Array as PropType<IUser[]>,
    required: true
  },
  executors: {
    type: Array as PropType<IUser[]>,
    required: true
  },
  saveOrder: {
    type: Function as PropType<(order: IOrder) => void>,
    required: false
  },
  deleteOrder: {
    type: Function as PropType<(order: IOrder, reason: string) => void>,
    required: false
  },
  saveComment: {
    type: Function as PropType<(order: IOrder, comment: IOrderCommentCreateDto) => void>,
    required: false
  },
  deleteComment: {
    type: Function as PropType<(order: IOrder, comment_id: number) => void>,
    required: false
  },
  openPatient: {
    type: Function as PropType<(patient: IPatient) => void>,
    required: false
  },
  openCustomer: {
    type: Function as PropType<(user: IUser) => void>,
    required: false
  }
});
const finishAt = ref('');

const deleteReason = ref<string>('');
const comment = ref<IOrderCommentCreateDto>({
  message: ''
});

const isEditDescription = ref<boolean>(false);
const isEditFinishDate = ref<boolean>(false);
const isEditMainTechnic = ref<boolean>(false);
const isEditExecutor = ref<boolean>(false);

const menu = ref<any>(null);
const overlayStatusMenu = computed<any[]>(() => {
  const menu: any[] = [];
  props.statuses.forEach((status: any) => {
    menu.push({
      label: status.name,

      command: () => {
        changeStatus(status);
      }
    });
  });
  return menu;
});
const toggleMenu = (event: any) => {
  if (!menu.value) return;
  menu.value.toggle(event);
};

const authStore = useAuthStore();
const currentUser = computed<IAuthUser | undefined>(() => authStore.user);

const deleteOrderDialog = ref<boolean>(false);
const confirmDeleteOrder = () => {
  deleteOrderDialog.value = true;
};

const changeStatus = (status: IOrderStatus) => {
  if (!props.saveOrder || !props.order) return;
  props.order.status = status;
  props.saveOrder({
    ...props.order,
    status
  });
};
const saveDescription = () => {
  if (!props.saveOrder || !props.order) return;
  props.saveOrder(props.order);
  isEditDescription.value = false;
};

onBeforeMount(() => {
  localeFilter();
});
watch(
  () => props.order,
  () => {
    if (!props.order) return;
    finishAt.value = props.order.finish_at ? format(new Date(props.order.finish_at), 'dd.MM.yyyy') : '';
  }
);
const saveOrderComment = () => {
  if (!props.saveComment || !props.order) return;
  props.saveComment(props.order, comment.value);
  comment.value = {
    message: ''
  };
};
const status_history = computed<{ status: string; date: string }[]>(
  () => props.order?.status_history.map((el) => ({ status: el.name, date: format(el.created_at, 'dd.MM.yyyy, HH:mm') })) || []
);
const logs = computed<{ status: string; date: string }[]>(
  () => props.order?.logs.map((el) => ({ status: el.title, date: format(el.created_at, 'dd.MM.yyyy, HH:mm') })) || []
);
</script>
<template>
  <div>
    <div class="flex flex-column md:grid md:flex-row md:flex-wrap" v-if="order">
      <div class="col-12 md:col-8">
        <div class="card m-0 mb-2 md:mb-4 p-3" style="min-height: 256px">
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between">
              <div class="text-sm">
                Создано {{ format(order.created_at, 'dd.MM.yyyy, HH:mm') }}, обновлено {{ format(order.updated_at, 'dd.MM.yyyy, HH:mm') }}
              </div>

              <Button
                v-if="deleteOrder"
                unstyled
                @click="confirmDeleteOrder"
                class="bg-transparent border-none cursor-pointer text-red-600"
              >
                Удалить
              </Button>
            </div>
            <div class="flex gap-4 align-items-center mb-5 mt-1"></div>
          </div>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between">
              <div class="flex gap-2 flex-wrap" v-if="changePermissions.changeStatus">
                <Button
                  v-for="status in statuses"
                  :key="status.id"
                  :label="status.name"
                  severity="secondary"
                  class="w-auto"
                  size="small"
                  @click="changeStatus(status)"
                />
              </div>
            </div>
            <template v-if="!isEditDescription">
              <div class="relative parent-hover" style="padding-right: 30px">
                <div class="text-md mt-2">
                  <template v-if="order.description">
                    <span v-html="order.description"></span>
                  </template>
                  <template v-else>
                    <span class="opacity-50">Добавьте описание</span>
                  </template>
                </div>
                <Button
                  v-if="changePermissions.changeDescription"
                  @click="changePermissions.changeDescription ? (isEditDescription = true) : void 0"
                  text
                  size="small"
                  severity="secondary"
                  class="absolute top-0 right-0 cursor-pointer"
                >
                  <i class="pi pi-pencil"></i>
                </Button>
              </div>
            </template>
            <template v-else>
              <Editor v-model="order.description" editorStyle="height: 130px" />

              <div class="flex justify-content-end mt-1 gap-1">
                <Button
                  label="Отменить"
                  size="small"
                  severity="secondary"
                  outline
                  v-tooltip.bottom="'Отменить'"
                  @click="isEditDescription = false"
                />
                <Button label="Сохранить" size="small" severity="info" outline v-tooltip.bottom="'Сохранить'" @click="saveDescription" />
              </div>
            </template>
          </div>
        </div>

        <TabView>
          <TabPanel header="Услуги" contentClass="p-0">
            <div class="card m-0 p-3">
              <div class="flex flex-column">
                <h3 class="text-2xl mt-4">Услуги заказа</h3>
                <TabView>
                  <TabPanel v-for="(os, index) in order.order_services" :key="index" :header="os.title">
                    <div class="grid">
                      <div class="col-7">
                        <b>Название услуги:</b>
                      </div>
                      <div class="col-5">
                        <div class="text-md">{{ os.title }}</div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-7">
                        <b>Вид услуги:</b>
                      </div>
                      <div class="col-5">
                        <div class="text-md">{{ os.service?.title }}</div>
                      </div>
                    </div>
                    <FieldDisplay :values="os.metadata" />
                  </TabPanel>
                </TabView>
              </div>
            </div>
          </TabPanel>
          <TabPanel header="Комментарии" contentClass="p-0">
            <div v-if="changePermissions.viewComments">
              <div class="flex flex-column mt-2">
                <div class="flex flex-column gap-2">
                  <template v-if="order?.comments?.length">
                    <div v-for="comment in order.comments" :key="comment.id" class="card p-3 m-0 flex flex-column gap-2">
                      <div class="flex justify-content-between gap-2">
                        <div class="flex gap-2 align-items-center">
                          <div class="flex gap-2 align-items-center">
                            <div class="bg-primary border-circle h-2rem w-2rem flex align-items-center justify-content-center font-bold">
                              {{ comment.user.avatar ? comment.user.avatar : comment.user.last_name }}
                            </div>
                            <div class="font-medium text-md">
                              {{ fullName(comment.user) }}
                            </div>
                          </div>
                          <span class="text-sm opacity-80">- {{ format(comment.created_at, 'dd.MM.yyyy, HH:mm') }}</span>
                        </div>

                        <div class="flex gap-1" v-if="comment.user.id === currentUser?.id && changePermissions.deleteComment">
                          <Button
                            v-if="deleteComment"
                            :unstyled="true"
                            class="bg-transparent border-none hover:text-red-600 cursor-pointer"
                            @click="() => (deleteComment && order ? deleteComment(order, comment.id) : void 0)"
                          >
                            <i class="pi pi-trash text-sm"></i>
                          </Button>
                        </div>
                      </div>
                      <div class="text-sm" v-html="comment.message"></div>
                    </div>
                  </template>
                  <template v-else>
                    <div class="text-md">Нет комментариев</div>
                  </template>
                </div>
                <div class="flex flex-column mt-5" v-if="saveComment && changePermissions.createComment">
                  <Editor v-model="comment.message" editorStyle="height: 100px" />
                  <div class="flex flex-column align-items-end gap-2 mt-4">
                    <Button
                      label="Добавить комментарий"
                      size="small"
                      severity="info"
                      @click="() => (saveComment ? saveOrderComment() : void 0)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </TabPanel>
          <TabPanel header="История статусов">
            <div class="card p-3 m-0">
              <Timeline :value="status_history" class="w-full md:w-20rem">
                <template #content="slotProps">
                  {{ slotProps.item.status }}
                  <div class="text-xs p-text-secondary">{{ slotProps.item.date }}</div>
                </template>
              </Timeline>
            </div>
          </TabPanel>
          <TabPanel header="Пинг">
            <div class="card p-3 m-0">
              <template v-if="!logs.length">
                <div class="text-center">Список пуст</div>
              </template>
              <template v-else>
                <Timeline :value="logs" class="w-full md:w-full">
                  <template #content="slotProps">
                    {{ slotProps.item.status }}
                    <div class="text-sm p-text-secondary">{{ slotProps.item.date }}</div>
                  </template>
                </Timeline>
              </template>
            </div>
          </TabPanel>
        </TabView>
      </div>
      <div class="col-12 md:col-4">
        <div class="card m-0 p-3 mb-2 md:mb-4">
          <div class="flex flex-column gap-2">
            <div class="flex align-items-center">
              <div class="col-5 font-medium text-sm">Статус</div>
              <div class="col-7">
                <Menu v-if="changePermissions.changeStatus" ref="menu" :model="overlayStatusMenu" :popup="true" />
                <Button
                  type="button"
                  :label="order.status.name"
                  size="small"
                  severity="secondary"
                  :icon-pos="'right'"
                  :icon="changePermissions.changeStatus ? 'pi pi-angle-down' : ''"
                  @click="toggleMenu"
                  class="m-0"
                />
              </div>
            </div>
            <div class="flex align-items-center">
              <div class="col-5 font-medium text-sm">Крайний срок</div>
              <div class="col-7 text-sm">
                <template v-if="!isEditFinishDate">
                  <div
                    class="flex parent-hover cursor-pointer"
                    @click="changePermissions.changeFinishDate ? (isEditFinishDate = true) : void 0"
                  >
                    <span v-if="order.finish_at">
                      {{ format(order.finish_at, 'dd.MM.yyyy') }}
                    </span>
                    <span v-else class="opacity-70"> Не задано </span>
                    <Button
                      v-if="changePermissions.changeFinishDate"
                      :unstyled="true"
                      class="bg-transparent border-none hover:text-primary children-hover"
                    >
                      <i class="pi pi-pencil text-xs"></i>
                    </Button>
                  </div>
                </template>
                <template v-else>
                  <Calendar
                    inputId="calendar"
                    v-model="finishAt"
                    :minDate="new Date()"
                    placeholder="Выберите дату"
                    inputClass="text-sm"
                    dateFormat="dd.mm.yy"
                    @update:model-value="changePermissions.changeFinishDate = false"
                    @date-select="() => (saveOrder && order ? saveOrder(order) : void 0)"
                  />
                </template>
              </div>
            </div>

            <div class="flex align-items-center">
              <div class="col-5 font-medium text-sm">Старший техник</div>
              <div class="col-7 text-sm">
                <template v-if="!isEditMainTechnic">
                  <div
                    class="flex parent-hover cursor-pointer"
                    @click="changePermissions.changeResponsible ? (isEditMainTechnic = true) : void 0"
                  >
                    <span v-if="order.responsible">
                      <CommonSmallProfile :name="fullName(order?.responsible)" :avatar="order.responsible.avatar" />
                    </span>
                    <span v-else class="opacity-70"> Не задано </span>
                    <Button
                      v-if="changePermissions.changeResponsible"
                      :unstyled="true"
                      class="bg-transparent border-none hover:text-primary children-hover"
                    >
                      <i class="pi pi-pencil text-xs"></i>
                    </Button>
                  </div>
                </template>
                <template v-else>
                  <Dropdown
                    v-on:update:model-value="isEditMainTechnic = false"
                    filter
                    class="w-full"
                    @change="() => (saveOrder && order ? saveOrder(order) : void 0)"
                    v-model="order.responsible"
                    :options="responsibles"
                  >
                    <template #value="slotProps">
                      <template v-if="!slotProps.value || slotProps.value.length === 0">
                        <div class="opacity-70">Старший техник</div>
                      </template>
                      <template v-else>
                        {{ fullName(slotProps.value) }}
                      </template>
                    </template>
                    <template #option="slotProps">
                      <div class="flex align-items-center">
                        {{ fullName(slotProps.option) }}
                      </div>
                    </template>
                  </Dropdown>
                </template>
              </div>
            </div>
            <div class="flex align-items-center">
              <div class="col-5 font-medium text-sm">Техник</div>
              <div class="col-7 text-sm">
                <template v-if="!isEditExecutor">
                  <div
                    class="flex parent-hover cursor-pointer"
                    @click="changePermissions.changeExecutor ? (isEditExecutor = true) : void 0"
                  >
                    <span v-if="order.executor">
                      <CommonSmallProfile :name="fullName(order?.executor)" :avatar="order.executor.avatar" />
                    </span>
                    <span v-else class="opacity-70"> Не задано </span>

                    <Button
                      v-if="changePermissions.changeExecutor"
                      :unstyled="true"
                      class="bg-transparent border-none hover:text-primary children-hover"
                    >
                      <i class="pi pi-pencil text-xs"></i>
                    </Button>
                  </div>
                </template>
                <template v-else>
                  <Dropdown
                    v-model="order.executor"
                    filter
                    :options="executors"
                    class="w-full"
                    @change="() => (saveOrder && order ? saveOrder(order) : void 0)"
                    v-on:update:model-value="isEditExecutor = false"
                  >
                    <template #value="slotProps">
                      <template v-if="!slotProps.value || slotProps.value.length === 0">
                        <div class="opacity-70">Техник</div>
                      </template>
                      <template v-else>
                        {{ fullName(slotProps.value) }}
                      </template>
                    </template>
                    <template #option="slotProps">
                      <div class="flex align-items-center">
                        {{ fullName(slotProps.option) }}
                      </div>
                    </template>
                  </Dropdown>
                </template>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-2 p-3">
          <div class="flex flex-column">
            <div class="flex gap-2">
              <div class="flex flex-column gap-2">
                <div class="font-bold">Пациент</div>
                <span @click="openPatient ? openPatient(order.patient) : void 0" class="flex gap-2 align-items-center cursor-pointer">
                  <div
                    class="bg-primary border-circle h-2rem w-2rem flex-grow-0 overflow-hidden flex justify-content-center align-items-center"
                    style="flex-shrink: 0"
                  >
                    <span class="text-md font-bold">{{ order.patient.fio[0] }}</span>
                  </div>
                  <div class="flex flex-column">
                    <div class="font-bold inline-flex mb-1">
                      {{ order.patient.fio }}
                    </div>
                  </div>
                </span>

                <div class="flex flex-column text-sm opacity-80 gap-2">
                  <span> Дата рождения: {{ order.patient.dob ? format(order.patient.dob, 'dd.MM.yyyy') : '-' }} </span>

                  <span>
                    Телефон: <a type="tel" :href="`tel:${order.patient.phone}`"> {{ order.patient.phone || '-' }}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card m-0 p-3">
          <div class="flex flex-column">
            <div class="flex gap-2">
              <div class="flex flex-column gap-2">
                <div class="font-bold">Заказчик</div>
                <span @click="openCustomer ? openCustomer(order.customer) : void 0" class="flex gap-2 align-items-center cursor-pointer">
                  <div
                    class="bg-primary border-circle h-2rem w-2rem flex-grow-0 overflow-hidden flex justify-content-center align-items-center"
                    style="flex-shrink: 0"
                  >
                    <span class="text-md font-bold">
                      {{ order.customer.last_name ? order.customer.last_name[0] : 'U' }}
                    </span>
                  </div>
                  <div class="flex flex-column">
                    <span class="font-bold inline-flex mb-1">
                      {{ fullName(order.customer) }}
                    </span>
                  </div>
                </span>

                <div class="font-bold">Реквизиты</div>
                <div class="flex flex-column text-sm gap-2">
                  <div class="flex align-items">
                    <span class="opacity-80">Способ оплаты: </span> <span>{{ BillingTypes[order.customer.metadata.billing_type] }} </span>
                  </div>
                  <div class="flex align-items">
                    <span class="opacity-80">Плательщик: </span> <span>{{ order.customer?.metadata?.billing_name }} </span>
                  </div>
                  <div class="flex align-items">
                    <span class="opacity-80"> Адрес плательщика: </span><span>{{ order.customer?.metadata?.billing_address }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-8"></div>
    </div>
    <Dialog v-if="deleteOrder" v-model:visible="deleteOrderDialog" :style="{ width: '450px' }" header="Подтвердите действие" :modal="true">
      <div class="flex flex-column">
        <template v-if="order">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
            <span>
              Вы действительно хотите удалить <b>{{ order.title }}</b
              >?
            </span>
          </div>
          <div class="field mt-3">
            <label for="reason" class="font-medium block">Укажите причину*</label>
            <Textarea v-model="deleteReason" rows="5" class="w-full" />
            <small class="opacity-60">Причина удаления не может быть пустой</small>
          </div>
        </template>
      </div>
      <template #footer>
        <Button label="Нет" icon="pi pi-times" text @click="deleteOrderDialog = false" />
        <Button label="Да" icon="pi pi-check" text @click="() => (deleteOrder && order ? deleteOrder(order, deleteReason) : void 0)" />
      </template>
    </Dialog>
  </div>
</template>
<style>
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-panels,
.p-tabview .p-tabview-nav {
  background: transparent !important;
}
.p-tabview-panels {
  padding-left: 0;
  padding-right: 0;
}
.p-timeline-event-opposite {
  display: none !important;
}
</style>
