<script setup lang="ts">
import { format } from 'date-fns';
import { useToast } from 'primevue/usetoast';
import { computed, ref, type PropType } from 'vue';
import { useAuthStore } from '~/stores/auth.store';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder } from '~/types/order.type';
import type { IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

const props = defineProps({
  orders: {
    type: Array as PropType<IOrder[]>
  },
  filters: {
    type: Object as PropType<any>
  },
  isFetching: {
    type: Boolean as PropType<boolean>,
    default: true
  },
  openOrder: {
    type: Function as PropType<(order: IOrder) => void>,
    required: true
  },
  openClinic: {
    type: Function as PropType<(company: ICompany) => void>,
    required: true
  },
  openPatient: {
    type: Function as PropType<(company: ICompany, patient: IPatient) => void>,
    required: true
  },
  openCustomer: {
    type: Function as PropType<(user: IUser) => void>,
    required: true
  },
  deleteOrder: {
    type: Function as PropType<(order: IOrder, reason: string) => void>,
    required: false
  }
});
const authStore = useAuthStore();
const currentUserRole = computed<any>(() => authStore.role || null);

// data
const toast = useToast();

const deleteOrderDialog = ref<boolean>(false);
const deleteReason = ref<string>('');

const order = ref<IOrder | null>(null);

const confirmDeleteOrder = (editOrder: IOrder) => {
  order.value = editOrder;
  deleteOrderDialog.value = true;
};

const remove = async () => {
  try {
    if (!order.value || !props.deleteOrder) return;
    await props.deleteOrder(order.value, deleteReason.value);
    order.value = null;
    deleteOrderDialog.value = false;
  } catch (e: any) {
    getToasts(toast).error('Не удалось удалить заказ');
  }
};
</script>
<template>
  <div class="surface-0 p-2 border-round-xl">
    <DataTable
      size="small"
      :value="orders"
      class="text-sm"
      dataKey="id"
      :paginator="true"
      :rows="30"
      paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      :rowsPerPageOptions="[30, 60, 90]"
      currentPageReportTemplate="{first} из {last} всего {totalRecords}"
      :rowHover="true"
      v-bind:filters="filters"
      :loading="isFetching"
    >
      <template #empty> <div class="text-center text-sm">Список пуст</div> </template>
      <template #loading
        ><ProgressSpinner
          style="width: 20px; height: 20px"
          strokeWidth="4"
          fill="var(--surface-ground)"
          animationDuration=".5s"
          aria-label="Custom ProgressSpinner"
        />
      </template>

      <Column header="Задача" field="title" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          <i class="pi pi-info-circle text-red-600 mr-2" v-tooltip.bottom="data.delete_reason" v-if="data?.deleted_at"></i>
          <span @click="openOrder(data)" class="text-primary font-medium cursor-pointer">
            {{ data.title }}
          </span>
        </template>
      </Column>
      <Column header="Статус" field="status.id" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          <Tag class="mr-2" :value="data.status?.name" :rounded="true" severity="success" />
        </template>
      </Column>
      <Column header="Клиника" field="customer_company.title" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          <span class="text-primary cursor-pointer" @click="openClinic ? openClinic(data.customer_company) : void 0">
            {{ data.customer_company.title }}
          </span>
        </template>
      </Column>
      <Column header="Пациент" field="customer.last_name" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          <span class="text-primary cursor-pointer" @click="openPatient ? openPatient(data.customer.company, data.patient) : void 0">
            {{ data.patient.fio }}
          </span>
        </template>
      </Column>
      <Column header="Заказчик" field="customer.last_name" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          <span @click="openCustomer ? openCustomer(data.customer) : void 0" class="text-primary cursor-pointer">
            {{ data.customer.last_name || 'unknown' }} {{ data.customer.first_name ? data.customer.first_name[0] : 'U' }}.{{
              data.customer.middle_name ? data.customer.middle_name[0] : 'U'
            }}.
          </span>
        </template>
      </Column>
      <Column header="Дата создания" field="created_at" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          {{ format(data.created_at, 'dd.MM.yyyy, HH:mm') }}
        </template>
      </Column>
      <Column header="Дата завершения" field="finish_at" style="min-width: 10rem" :sortable="true">
        <template #body="{ data }">
          {{ data.finish_at ? format(data.finish_at, 'dd.MM.yyyy, HH:mm') : '-' }}
        </template>
      </Column>
      <Column v-if="currentUserRole === Role.SuperAdmin" header="Создатель" field="creator.last_name" style="min-width: 10rem">
        <template #body="{ data }">
          {{ data.creator.last_name || 'unknown' }} {{ data.creator.first_name ? data.creator.first_name[0] : 'U' }}.{{
            data.creator.middle_name ? data.creator.middle_name[0] : 'U'
          }}.
        </template>
      </Column>

      <Column style="width: 5rem">
        <template #body="{ data }">
          <div class="flex justify-content-end">
            <Button
              icon="pi pi-pencil"
              class="mr-1 w-2rem h-2rem"
              size="small"
              severity="secondary"
              text
              v-tooltip.bottom="'Редактировать'"
              @click="openOrder(data)"
            />

            <Button
              v-if="hasPermission(CABINET_PERMISSIONS.CABINET_DELETE_ORDER)"
              icon="pi pi-trash"
              class="w-2rem h-2rem"
              size="small"
              severity="secondary"
              text
              v-tooltip.bottom="'Удалить'"
              @click="confirmDeleteOrder(data)"
            />
          </div>
        </template>
      </Column>
    </DataTable>
    <Dialog v-model:visible="deleteOrderDialog" :style="{ width: '450px' }" header="Подтвердите действие" :modal="true">
      <div class="flex flex-column">
        <template v-if="order">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
            <span>
              Вы действительно хотите удалить <b>{{ order.title }}</b
              >{{ currentUserRole == Role.SuperAdmin ? ` от ${order.customer.last_name} безвозвратно` : '' }}?
            </span>
          </div>
          <div class="field mt-3" v-if="currentUserRole !== Role.SuperAdmin">
            <label for="reason" class="font-medium block">Укажите причину*</label>
            <Textarea v-model="deleteReason" rows="5" class="w-full" />
            <small class="opacity-60">Причина удаления не может быть пустой</small>
          </div>
        </template>
      </div>
      <template #footer>
        <Button label="Нет" icon="pi pi-times" text @click="deleteOrderDialog = false" />
        <Button label="Да" icon="pi pi-check" text @click="remove" />
      </template>
    </Dialog>
  </div>
</template>
