<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, ref } from 'vue';
import useAuth from '~/composables/useAuth';
import { useAuthStore } from '~/stores/auth.store';
import type { IAuthUser, IChangeProfilePasswordDto } from '~/types/user.type';
import { fullName } from '~/utils/helper.utils';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Профиль',
  breadcrumb: 'Профиль'
});

const toast = useToast();
const submitted = ref<boolean>(false);
const passwordSubmitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);

const authStore = useAuthStore();
const authService = useAuth();

const currentUser = computed<IAuthUser | undefined>(() => authStore.user);
const currentUserRole = computed<any>(() => authStore.role || null);

const editPassword = ref<IChangeProfilePasswordDto>({
  old_password: '',
  password: '',
  confirm_password: ''
});

const validateChangeProfile = () => {
  if (!currentUser.value?.email) {
    return false;
  }
  return true;
};
const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;

    if (!currentUser.value || !validateChangeProfile()) return;

    await authService.changeProfile({
      first_name: currentUser.value.first_name,
      last_name: currentUser.value.last_name,
      middle_name: currentUser.value.middle_name,
      avatar: currentUser.value.avatar,
      email: currentUser.value.email,
      user_notice_permissions: currentUser.value.user_notice_permissions
    });
    submitted.value = false;
    getToasts(toast).success('Профиль успешно обновлен');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
const validateChangePassword = () => {
  if (!editPassword.value.old_password || !editPassword.value.password || !editPassword.value.confirm_password) {
    return false;
  }
  if (editPassword.value.old_password === editPassword.value.password) {
    return false;
  }
  if (editPassword.value.password !== editPassword.value.confirm_password) {
    return false;
  }
  return true;
};
const changePassword = async () => {
  try {
    passwordSubmitted.value = true;
    isLoading.value = true;

    if (!validateChangePassword()) return;

    await authService.changePassword(editPassword.value);
    passwordSubmitted.value = false;

    getToasts(toast).success('Пароль успешно изменен');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};

const changeAvatar = async (avatarPath: string) => {
  if (!currentUser.value) return;
  currentUser.value.avatar = avatarPath;
  try {
    await authService.changeAvatar({
      avatar: currentUser.value.avatar
    });
    getToasts(toast).success('Аватар успешно обновлен');
  } catch (e) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const handleConnectTelegram = async () => {
  await authService.connectTelegram();
};
</script>

<template>
  <div v-if="currentUser">
    <div class="card relative flex align-items-start gap-4 mt-4 h-8rem">
      <CommonAvatar
        class="w-8rem h-8rem absolute"
        style="top: -3rem"
        edit
        :img="currentUser.avatar"
        :alt="fullName(currentUser)"
        @upload:file="changeAvatar"
      />
      <div class="flex flex-column gap-2">
        <div class="text-2xl font-semibold">{{ fullName(currentUser) }}</div>
        <div class="flex gap-2">
          <Tag v-if="currentUserRole" rounded severity="success" :value="currentUserRole"></Tag>
          <Tag v-if="currentUser.company" rounded severity="secondary" :value="currentUser.company?.title"></Tag>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <div class="card gap-3 flex flex-column" style="height: 100%">
          <h2 class="text-2xl">Настройки профиля</h2>
          <div class="grid">
            <div class="col-12 md:col-4">
              <div class="flex flex-column gap-1 w-full">
                <label for="last_name" class="font-medium">Фамилия</label>
                <InputText
                  id="last_name"
                  v-model.trim="currentUser.last_name"
                  required="true"
                  autofocus
                  :invalid="submitted && !currentUser.last_name"
                />
                <small class="p-invalid text-red-600" v-if="submitted && !currentUser.last_name">Обазательно для заполнения</small>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="flex flex-column gap-1 w-full">
                <label for="first_name" class="font-medium">Имя</label>
                <InputText
                  id="first_name"
                  v-model.trim="currentUser.first_name"
                  required="true"
                  autofocus
                  :invalid="submitted && !currentUser.first_name"
                />
                <small class="p-invalid text-red-600" v-if="submitted && !currentUser.first_name">Обазательно для заполнения</small>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="flex flex-column gap-1 w-full">
                <label for="middle_name" class="font-medium">Отчество</label>
                <InputText
                  id="middle_name"
                  v-model.trim="currentUser.middle_name"
                  required="true"
                  autofocus
                  :invalid="submitted && !currentUser.middle_name"
                />
                <small class="p-invalid text-red-600" v-if="submitted && !currentUser.middle_name">Обазательно для заполнения</small>
              </div>
            </div>
            <div class="col-12">
              <div class="flex flex-column gap-1">
                <label for="email" class="font-medium">Email</label>
                <InputText
                  id="email"
                  type="email"
                  v-model.trim="currentUser.email"
                  required="true"
                  autofocus
                  :invalid="submitted && !currentUser.email"
                />
                <small class="p-invalid text-red-600" v-if="submitted && !currentUser.email">Обязательно для заполнения</small>
              </div>
            </div>
          </div>

          <div class="flex justify-content-end">
            <Button label="Сохранить" severity="info" icon="pi pi-save" size="small" :loading="isLoading" @click="save" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="card gap-3 flex flex-column" style="height: 100%">
          <h2 class="text-2xl">Изменить пароль</h2>
          <div class="flex flex-column gap-2">
            <div class="flex flex-column gap-1">
              <label for="password" class="font-medium">Старый пароль</label>
              <Password
                id="password"
                placeholder="Старый пароль"
                v-model.trim="editPassword.old_password"
                class="w-full"
                inputClass="w-full"
              />
              <small class="p-invalid text-red-600" v-if="passwordSubmitted && !editPassword.password">Обязательно для заполнения</small>
            </div>
            <div class="flex flex-column gap-1">
              <label for="password" class="font-medium">Пароль</label>
              <Password
                id="password"
                placeholder="Пароль"
                v-model.trim="editPassword.password"
                :toggleMask="true"
                class="w-full"
                inputClass="w-full"
                weakLabel="Слишком простой пароль"
                mediumLabel="Пароль средненй сложности"
                strongLabel="Сложный пароль"
                promptLabel="Введите пароль"
              />
              <small class="p-invalid text-red-600" v-if="passwordSubmitted && !editPassword.password">Обязательно для заполнения</small>
            </div>

            <div class="flex flex-column gap-1">
              <label for="confirm_password" class="font-medium">Повторите пароль</label>
              <Password
                id="confirm_password"
                placeholder="Пароль"
                v-model.trim="editPassword.confirm_password"
                :toggleMask="true"
                class="w-full"
                inputClass="w-full"
                :feedback="false"
              />
              <small class="p-invalid text-red-600" v-if="passwordSubmitted && !editPassword.confirm_password"
                >Обязательно для заполнения</small
              >
            </div>
            <div class="flex justify-content-end">
              <Button
                label="Изменить пароль"
                severity="info"
                icon="pi pi-save"
                size="small"
                security="primary"
                :loading="isLoading"
                @click="changePassword"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="card" style="height: 100%">
          <div class="flex gap-3 flex-column justify-content-between h-full">
            <h2 class="text-2xl">Управление уведомлениями</h2>
            <div class="flex flex-column justify-content-between h-full">
              <div class="flex flex-column gap-2">
                <div v-for="noticePermission in currentUser.user_notice_permissions">
                  <div class="flex align-items-center">
                    <InputSwitch id="comment" v-model="noticePermission.active" />
                    <label for="comment" class="font-medium ml-4">
                      {{ NOTICE_TYPE_LABELS[noticePermission.slug as LogType].label }}
                      <span v-if="noticePermission.slug === LogType.TELEGRAM">
                        <span v-if="currentUser.telegram_username">
                          на аккаут
                          <NuxtLink class="text-primary" target="_blank" :to="`https://t.me/${currentUser.telegram_username}`"
                            >@{{ currentUser.telegram_username }}</NuxtLink
                          >
                        </span>
                      </span>
                    </label>
                  </div>
                  <template v-if="noticePermission.slug === LogType.TELEGRAM">
                    <small v-if="!currentUser.telegram_username" class="mt-1">
                      Для получения уведомлений в телеграм, необходимо
                      <span class="text-primary cursor-pointer" @click="handleConnectTelegram">подключить</span>
                      аккаунт
                    </small>
                    <small v-if="currentUser.telegram_username" class="mt-1">
                      Для того, чтобы получать уведомления на другой аккаунт, его необходимо
                      <span class="text-primary cursor-pointer" @click="handleConnectTelegram">переподключить</span>
                    </small>
                  </template>
                </div>
              </div>
              <div class="flex justify-content-end">
                <Button
                  label="Сохранить"
                  severity="info"
                  icon="pi pi-save"
                  size="small"
                  security="primary"
                  :loading="isLoading"
                  @click="save"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
