<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany } from '~/types/company.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Клиники',
  breadcrumb: 'Клиники',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_CLINICS]
});
//Common
const route = useRoute();
const isLoading = ref(true);
const toast = useToast();

const submitted = ref<boolean>(false);

//Stores & hooks
const companyStore = useCompanyStore();

//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => companyStore.item as ICompany);
const createdApiKey = ref<string | undefined>('');
onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  await fetchApiKeys();
  isLoading.value = false;
});

//dialogs
const dialog = ref<boolean>(false);
const createdDialog = ref<boolean>(false);

const keys = computed(() => companyStore.apiKeys);

const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await companyStore.fetchItem(Number(company_id));
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchApiKeys = async () => {
  isLoading.value = true;
  if (company.value?.id) await companyStore.fetchApiKeys(Number(company.value.id));
  isLoading.value = false;
};

const validate = (key: ICreateApiKey): boolean => {
  if (!key?.title?.length) return false;

  return true;
};
const save = async (key: ICreateApiKey) => {
  submitted.value = true;

  if (!validate(key)) return;
  try {
    if (!key || !company.value) return;
    const response = await companyStore.saveApiKey(Number(company.value.id), key);
    createdApiKey.value = response.key;
    getToasts(toast).success('Ключ успешно создана');
    createdDialog.value = true;
    submitted.value = false;
    hideDialog();
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const dispose = async (id: number) => {
  try {
    if (!id || !company.value) return;
    await companyStore.removeApiKey(Number(company.value.id), id);
    getToasts(toast).success('Ключ удалена');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const hideDialog = () => {
  dialog.value = false;
  submitted.value = false;
};
const hideApiKeyDialog = () => {
  createdApiKey.value = '';
  createdDialog.value = false;
};
const copy = (text: string | undefined) => {
  if (!text) return;
  navigator.clipboard.writeText(text);
  getToasts(toast).success('Скопировано в буфер обмена');
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>
      {{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Api ключи
    </template>

    <template #body>
      <div class="grid">
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock :company="company" />
        </div>
        <div class="col-12 md:col-9">
          <CompaniesApiKeys
            :loading="isLoading"
            :title="company?.title ? company.title : ''"
            :keys="keys"
            :deleteKey="dispose"
            :saveKey="save"
          />
        </div>
      </div>
    </template>
    <template #modal>
      <Dialog
        v-bind:visible="createdDialog"
        @update:visible="hideApiKeyDialog"
        header="Ваш ключ"
        class="p-fluid"
        :modal="true"
        :style="{ width: '350px' }"
      >
        <div class="flex flex-column gap-2">
          <div class="field">
            <label for="name" class="font-medium">Api ключ</label>
            <InputGroup>
              <InputText v-model="createdApiKey" />
              <Button icon="pi pi-copy" severity="success" @click="copy(createdApiKey)" />
            </InputGroup>
          </div>
        </div>
        <template #footer>
          <Button label="Закрыть" severity="secondary" icon="pi pi-times" @click="hideApiKeyDialog" />
        </template>
      </Dialog>
    </template>
  </app-page>
</template>
