<script setup lang="ts">
const props = defineProps({
  src: {
    type: String
  },
  name: {
    type: String
  },
  class: {
    type: String,
    default: 'w-full h-15rem'
  }
});
const file = ref(PLACEHOLDER_FILE);

const extension = ref<string | null>(null);
watch(
  () => props.src,
  () => {
    if (!props.src) {
      file.value = PLACEHOLDER_FILE;
      extension.value = null;
    } else if (isServerBase64(props.src)) {
      extension.value = getExtension(props.src);
    } else if (props.src !== PLACEHOLDER_IMAGE) {
      file.value = FILE_URL + props.src;
      extension.value = getExtension(props.src);
    } else {
      file.value = props.src;
      extension.value = null;
    }
  },
  { immediate: true }
);
</script>
<template>
  <div class="flex gap-2 align-items-center border-1 border-dashed border-round-lg border-gray-300" v-if="file && name">
    <div class="flex-grow-0">
      <img :src="`/images/files/file-${extension ? extension : 'default'}.svg`" class="w-4rem h-4rem" />
    </div>
    <div class="w-full font-medium">{{ truncateText(name, 5, 8) }}</div>
  </div>
</template>
