<script setup lang="ts">
const props = defineProps({
  name: {
    type: String as PropType<string>
  },
  value: {
    type: String as PropType<string>
  }
});
const isOpenStl = ref<boolean>(false);
const getExtension = (value: string) => {
  return value.split('.').pop();
};
const downloadFile = (value: string) => {
  window.open(value, '_blank');
};
</script>
<template>
  <div>
    <div class="flex gap-2 align-items-center border-1 border-dashed border-round-lg border-gray-300 relative py-1">
      <div class="flex-grow-0">
        <img :src="`/images/files/file-default.svg`" class="w-4rem h-4rem" />
      </div>
      <div class="w-full font-medium">{{ name }}</div>
      <div class="absolute right-0 top-0 mt-3 mr-2 flex gap-1">
        <Button
          v-if="getExtension(value) === 'stl'"
          unstyled
          @click="isOpenStl = !isOpenStl"
          class="bg-transparent border-none cursor-pointer bg-blue-600 text-white border-circle border-1 border-blue-600 w-2rem h-2rem hover:bg-white hover:text-blue-600 hover:border-blue-600"
        >
          <i v-if="isOpenStl" class="pi-eye-slash pi text-xs`"></i>
          <i v-else class="pi-eye pi text-xs`"></i>
        </Button>
        <Button
          unstyled
          @click="downloadFile(fileUrl(value))"
          class="bg-transparent border-none cursor-pointer bg-blue-600 text-white border-circle border-1 border-blue-600 w-2rem h-2rem hover:bg-white hover:text-blue-600 hover:border-blue-600"
        >
          <i class="pi pi-download text-xs"></i>
        </Button>
      </div>
    </div>
    <div class="mt-1" v-if="isOpenStl">
      <UiStlViewer :src="fileUrl(value)" v-if="getExtension(value) === 'stl'" />
    </div>
  </div>
</template>
