<script setup lang="ts">
import { ref, watch } from 'vue';
import { FILE_URL, isBase64, PLACEHOLDER_IMAGE } from '~/utils/image.utils';

const props = defineProps({
  src: {
    type: String
  },
  class: {
    type: String,
    default: 'w-full h-15rem object-contain'
  },
  preview: {
    type: Boolean,
    default: true,
    required: false
  }
});
const image = ref(PLACEHOLDER_IMAGE);

watch(
  () => props.src,
  () => {
    if (!props.src) {
      image.value = PLACEHOLDER_IMAGE;
    } else if (isBase64(props.src)) {
      image.value = props.src;
    } else if (props.src !== PLACEHOLDER_IMAGE) {
      image.value = FILE_URL + props.src;
    } else {
      image.value = props.src;
    }
  },
  { immediate: true }
);
</script>
<template>
  <Image :src="image" alt="Image" :imageClass="props.class" :preview="preview" />
</template>
