<script setup lang="ts">
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';
import { STLLoader } from 'three/examples/jsm/loaders/STLLoader.js';
import { onMounted, ref } from 'vue';

const viewerContainer = ref(null);

const props = defineProps({
  src: {
    type: String as PropType<string>
  },
  height: {
    type: Number as PropType<number>,
    default: 300
  }
});

onMounted(() => {
  // Создание сцены
  const scene = new THREE.Scene();

  // Камера
  const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

  // Рендерер
  const renderer = new THREE.WebGLRenderer({ antialias: true });
  const width = viewerContainer.value.closest('.stl-container').offsetWidth;
  renderer.setSize(width, props.height);
  renderer.setClearColor(0xdcdcdc); // Белый фон сцены
  viewerContainer.value.appendChild(renderer.domElement);

  // Управление мышью
  const controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true; // Плавное движение камеры
  controls.dampingFactor = 0.25;
  controls.screenSpacePanning = false;

  // Мягкое теплое освещение
  // Тёплый окружающий свет (ambient light)
  const ambientLight = new THREE.AmbientLight(0xffccaa, 0.8); // Светлый теплый оттенок с интенсивностью 0.6
  scene.add(ambientLight);

  // Направленный свет (directional light) с теплым оттенком
  const directionalLight = new THREE.DirectionalLight(0xffddaa, 1.0); // Теплый свет с интенсивностью 1.0
  directionalLight.position.set(10, 10, 10).normalize();
  scene.add(directionalLight);

  // Мягкий заполняющий свет (point light) с теплым оттенком
  const pointLight = new THREE.PointLight(0xffbb88, 0.8, 30); // Теплый свет с интенсивностью 0.8 и радиусом 300
  pointLight.position.set(10, 10, 10);
  scene.add(pointLight);

  // Полусферический свет (hemisphere light) для более мягких теней
  const hemisphereLight = new THREE.HemisphereLight(0xffeebb, 0x202020, 2); // Небо с теплым оттенком и тёмные тени
  scene.add(hemisphereLight);

  // Загрузка STL модели
  const loader = new STLLoader();
  loader.load(props.src, (geometry) => {
    const material = new THREE.MeshStandardMaterial({ color: 0xffffff, roughness: 0.7, metalness: 0.5 });
    const mesh = new THREE.Mesh(geometry, material);

    // Вычисление bounding box для определения размера объекта
    geometry.computeBoundingBox();
    const boundingBox = geometry.boundingBox;
    const size = new THREE.Vector3();
    boundingBox.getSize(size);

    // Вычисление центра Bounding Box
    const center = new THREE.Vector3();
    boundingBox.getCenter(center);

    // Перемещение объекта так, чтобы его центр оказался в (0, 0, 0)
    mesh.position.sub(center); // Переместить модель так, чтобы её центр совпал с (0, 0, 0)
    scene.add(mesh);

    // Масштабирование объекта
    const scale = 10 / Math.max(size.x, size.y, size.z); // Масштабирование объекта в зависимости от его размеров
    mesh.scale.set(scale, scale, scale);

    // Позиционирование камеры
    const distance = Math.max(size.x, size.y, size.z) * 1.5; // Расстояние от камеры до объекта
    camera.position.set(0, 0, distance); // Позиционирование камеры на оси Z
    camera.lookAt(0, 0, 0); // Камера смотрит на центр объекта

    // Настройка точки вращения камеры
    controls.target.set(0, 0, 0); // Устанавливаем точку вращения камеры на центр объекта
    controls.update(); // Обновляем управление
  });

  // Анимация и рендеринг
  const animate = function () {
    requestAnimationFrame(animate);
    controls.update(); // Обновление управления камерой
    renderer.render(scene, camera);
  };

  animate();
});
</script>

<template>
  <div class="flex w-full stl-container">
    <div ref="viewerContainer"></div>
  </div>
</template>

<style scoped>
.stl-container {
  width: 100%;
  height: 100%;
}
</style>
