<template>
  <yandex-map
    :settings="{
      location: {
        center,
        zoom
      },
      showScaleInCopyrights: true
    }"
    :width="width"
    :height="height"
  >
    <yandex-map-default-scheme-layer />
    <yandex-map-default-features-layer />
    <yandex-map-controls :settings="{ position: 'right' }">
      <yandex-map-zoom-control />
    </yandex-map-controls>
    <yandex-map-controls :settings="{ position: 'left' }">
      <yandex-map-geolocation-control />
    </yandex-map-controls>

    <template v-for="(marker, i) in markers" :key="i">
      <yandex-map-default-marker :settings="{ coordinates: marker.coordinates }" />
    </template>

    <yandex-map-listener :settings="{ onClick: updatePosition }" />
  </yandex-map>
</template>
<script lang="ts">
import {
  YandexMap,
  YandexMapDefaultSchemeLayer,
  YandexMapListener,
  YandexMapControl,
  YandexMapControls,
  YandexMapGeolocationControl,
  YandexMapZoomControl,
  YandexMapDefaultMarker,
  YandexMapDefaultFeaturesLayer,
  YandexMapMarker
} from 'vue-yandex-maps';
import type { YMap } from '@yandex/ymaps3-types';
export default {
  components: {
    YandexMap,
    YandexMapDefaultSchemeLayer,
    YandexMapListener,
    YandexMapControl,
    YandexMapControls,
    YandexMapGeolocationControl,
    YandexMapZoomControl,
    YandexMapDefaultMarker,
    YandexMapDefaultFeaturesLayer,
    YandexMapMarker
  },
  props: {
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '500px'
    },
    zoom: {
      type: Number,
      default: 10
    },
    center: {
      type: Array,
      default: () => [37.617644, 55.755819]
    },
    lat: {
      type: [String, null],
      required: false
    },
    long: {
      type: [String, null],
      required: false
    }
  },

  mounted() {
    const map = shallowRef<null | YMap>(null);
  },

  setup(props) {
    const markers = ref([]);
    if (props.lat && props.long) {
      markers.value = [
        {
          coordinates: [Number(props.lat), Number(props.long)]
        }
      ];
    }

    return {
      markers
    };
  },
  methods: {
    updatePosition(object: any, event: any) {
      this.markers = [
        {
          coordinates: [event.coordinates[0], event.coordinates[1]]
        }
      ];

      this.$emit('update:lat', `${event.coordinates[0]}`);
      this.$emit('update:long', `${event.coordinates[1]}`);
    }
  }
};
</script>
