<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import useCompanies from '~/composables/useCompanies';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useOrderStore } from '~/stores/order.store';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder, IOrderCommentCreateDto, IOrderStatus } from '~/types/order.type';
import { CABINET_PERMISSIONS, SYSTEM_PERMISSIONS, type IUser } from '~/types/user.type';
import { hasPermission } from '~/utils/helper.utils';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Страница заказа'
});
const toast = useToast();
const route = useRoute();

const changePermissions = {
  changeStatus: hasPermission(CABINET_PERMISSIONS.CABINET_UPDATE_ORDER_STATUS),
  changeDescription: hasPermission(CABINET_PERMISSIONS.CABINET_UPDATE_ORDER_DESCRIPTION),
  changeFinishDate: hasPermission(CABINET_PERMISSIONS.CABINET_UPDATE_ORDER_FINISH_AT),
  changeResponsible: hasPermission(CABINET_PERMISSIONS.CABINET_UPDATE_ORDER_RESPONSIBLE),
  changeExecutor: hasPermission(CABINET_PERMISSIONS.CABINET_UPDATE_ORDER_EXECUTOR),
  viewComments: hasPermission(CABINET_PERMISSIONS.CABINET_VIEW_ORDER_COMMENT),
  createComment: hasPermission(CABINET_PERMISSIONS.CABINET_CREATE_ORDER_COMMENT),
  deleteComment: hasPermission(CABINET_PERMISSIONS.CABINET_DELETE_ORDER_COMMENT)
};

const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(true);
const order_id = Number(route.params.order_id);

//stores & hooks
const orderStore = useOrderStore();
const cabinetStore = useCabinetStore();

// data
const company = computed<ICompany | undefined>(() => cabinetStore.company);

const order = computed<IOrder | undefined>(() => cabinetStore.order);
const statuses = computed<IOrderStatus[]>(() => orderStore.statuses || []);
const customers = ref<IUser[]>([]);
const responsibles = ref<IUser[]>([]);
const executors = ref<IUser[]>([]);

const companyService = useCompanies();
onMounted(async () => {
  try {
    await fetchCompany();
    await fetchOrder();
    await cabinetStore.fetchOrderComments(order_id);
    cabinetStore.fetchServices();
    orderStore.fetchStatuses();
    if (company.value && hasPermission(SYSTEM_PERMISSIONS.SYSTEM_VIEW_USER)) {
      responsibles.value = await companyService.fetchCompanyResponsibleUsers(Number(company.value.id));
      executors.value = await companyService.fetchCompanyExecutorsUsers(Number(company.value.id));
    }
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
});
const fetchOrder = async () => {
  try {
    await cabinetStore.fetchOrder(order_id);
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchCompany = async () => {
  try {
    await cabinetStore.fetchCompany();
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const saveOrder = async (order: IOrder, finish_at?: string) => {
  submitted.value = true;

  try {
    if (!order || !company.value) return;
    const data: Partial<IUpdateOrderDto> = {
      id: order.id,
      description: order.description,
      status_id: order.status.id
    };

    if (order.executor) {
      data.responsible_id = order.responsible?.id;
    }
    if (order.responsible) {
      data.executor_id = order.executor?.id;
    }
    if (order.patient) {
      data.patient = order.patient;
    }
    if (finish_at) {
      order.finish_at = new Date(finish_at);
    }
    await cabinetStore.updateOrder(data as IUpdateOrderDto);
    submitted.value = false;
    getToasts(toast).success('Заказ обновлен');
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const saveComment = async (order: IOrder, comment: IOrderCommentCreateDto) => {
  if (!changePermissions.createComment) return;
  try {
    if (!company.value) return;

    if (!comment || comment.message === '') {
      getToasts(toast).error('Комментарий не может быть пустым');
      return;
    }
    await cabinetStore.createOrderComment(order.id, comment);
    getToasts(toast).success('Комментарий добавлен');
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const deleteComment = async (order: IOrder, comment_id: number) => {
  if (!changePermissions.deleteComment) return;
  try {
    if (!company.value) return;

    await cabinetStore.deleteOrderComment(order.id, comment_id);
    getToasts(toast).success('Комментарий удален');
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const openCustomer = (customer: IUser) => {
  navigateTo(`/cabinet/clinics/${customer.company?.id}/users/${customer.id}`);
};
const openPatient = (patient: IPatient) => {
  navigateTo(`/cabinet/patients/${patient.uid}`);
};
</script>

<template>
  <app-page :loading="isLoading">
    <template #title>{{ order?.title }}</template>
    <template #titleControls></template>
    <template #body>
      <OrderItem
        v-if="order"
        :order="order"
        :statuses="statuses"
        :changePermissions="changePermissions"
        :customers="customers"
        :responsibles="responsibles"
        :executors="executors"
        :saveOrder="saveOrder"
        :saveComment="saveComment"
        :deleteComment="deleteComment"
        :openCustomer="openCustomer"
        :openPatient="openPatient"
      />
    </template>
  </app-page>
</template>
