<script setup lang="ts">
import { format } from 'date-fns';
import Editor from 'primevue/editor';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router';
import useCabinet from '~/composables/useCabinet';
import { useAuthStore } from '~/stores/auth.store';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useOrderStore } from '~/stores/order.store';
import type { IPatient } from '~/types/customer.type';
import type { IOrder, IOrderCreate, IOrderService } from '~/types/order.type';
import type { IService } from '~/types/service.type';
import { CABINET_PERMISSIONS, type IUser } from '~/types/user.type';
import { localeFilter } from '~/utils/helper.utils';
import { getToasts } from '~/utils/vue.utils';

interface IPermissions {
  SET_MAIN_TECHNIC: boolean;
  SET_TECHNIC: boolean;
  SET_CUSTOMER: boolean;
}

definePageMeta({
  title: 'Добавить заказ',
  permissions: [CABINET_PERMISSIONS.CABINET_CREATE_ORDER]
});
const toast = useToast();

const router = useRouter();
const submitted = ref<boolean>(false);
const isFetching = ref<boolean>(true);
const isLoading = ref<boolean>(true);

//stores & hooks

const orderStore = useOrderStore();
const cabinetStore = useCabinetStore();
const authStore = useAuthStore();
const cabinetService = useCabinet();
// data
const currentUser = computed(() => authStore.user);
const order = ref<IOrderCreate>({
  description: '',
  finish_at: undefined,
  customer: currentUser.value,
  patient: undefined,
  responsible: undefined,
  executor: undefined
});

const laboratory_services = computed<IService[]>(() => cabinetStore.services);
const services = ref<IOrderService[]>([]);
const customers = ref<any[]>([]);

const finishAt = ref('');
onBeforeMount(async () => {
  localeFilter();
  try {
    await orderStore.fetchStatuses();
    await cabinetStore.fetchServices();

    finishAt.value = order.value.finish_at ? format(new Date(order.value.finish_at), 'dd.MM.yyyy') : '';

    if (currentUser.value?.company?.id) {
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
  }
});

const validate = () => {
  let is_validated = true;
  if (!services.value?.length) {
    getToasts(toast).error('Не добавлена услуга');

    is_validated = false;
  }
  if (order.value.patient == null) {
    getToasts(toast).error('Не выбран пациент');

    is_validated = false;
  }

  return is_validated;
};
const saveOrder = async () => {
  submitted.value = true;
  try {
    if (!validate() || !order.value.patient) return;

    const response: IOrder = await cabinetStore.createOrder({
      description: order.value.description,
      responsible_id: order.value.responsible?.id,
      executor_id: order.value.executor?.id,
      patient: order.value.patient,
      customer_id: order.value.customer?.id,
      finish_at: new Date(finishAt.value),
      services: services.value.map((os) => {
        return {
          title: os.title,
          service_id: os.service?.id,
          metadata: os.metadata
        };
      })
    });
    navigateTo(`/cabinet/orders/${response.id}`);
    submitted.value = false;
    getToasts(toast).success('Заказ создан');
  } catch (e: any) {
    console.log(e.message);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const shortUserName = (user: IUser) => {
  return `${user.last_name ? user.last_name : 'Unknown'}${user.first_name ? ' ' + user.first_name[0] + '.' : ''}${
    user.middle_name ? user.middle_name[0] + '.' : ''
  }`;
};
const addPatientDialog = ref<boolean>(false);
const newPatient = ref<IPatient>({
  fio: '',
  phone: '',
  dob: ''
});
const addPatient = () => {
  addPatientDialog.value = true;
};
const closeAddPatientDialog = () => {
  newPatient.value = {
    fio: '',
    phone: '',
    dob: ''
  };
  addPatientDialog.value = false;
};
const saveAddPatient = async () => {
  try {
    if (!currentUser.value?.company?.id) return;
    const response: IPatient = await cabinetStore.savePatient(currentUser.value.company.id, newPatient.value);
    order.value.patient = response;
    addPatientDialog.value = false;
    newPatient.value = {
      fio: '',
      phone: '',
      dob: ''
    };
    getToasts(toast).success('Пациент добавлен');
  } catch (e: any) {
    getToasts(toast).error(e.message);
  }
};
const searchPatients = async (query: string) => {
  if (currentUser.value?.company?.id) {
    return await cabinetService.searchPatients(currentUser.value?.company?.id, query);
  }
};
</script>

<template>
  <div>
    <div class="flex flex-column flex-column-reverse md:grid md:flex-row">
      <div class="col-12 md:col-8">
        <div class="card m-0 p-3">
          <div class="flex flex-column gap-2">
            <div class="flex md:hidden gap-4 align-items-center mb-5 mt-1 justify-content-between">
              <div class="text-xl md:text-2xl p-0 m-0 font-semibold">Описание</div>
            </div>
            <div class="hidden md:flex gap-4 align-items-center mb-5 mt-1 justify-content-between">
              <h1 class="text-xl md:text-2xl p-0 m-0">Новый заказ</h1>
              <div class="flex gap-2">
                <Button label="Отменить" size="small" severity="secondary" outline v-tooltip.bottom="'Отменить'" @click="router.back()" />
                <Button label="Сохранить" size="small" severity="info" outline v-tooltip.bottom="'Сохранить'" @click="saveOrder" />
              </div>
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <Editor v-model="order.description" editorStyle="height: 130px" />
          </div>
        </div>
        <ServicesControl class="mt-4" v-model:value="services" :services="laboratory_services" />
      </div>
      <div class="col-12 md:col-4">
        <div class="card m-0 p-3 mb-2 md:mb-4">
          <h1 class="flex md:hidden text-xl p-0 mb-2">Основные параметры</h1>

          <div class="flex flex-column gap-2">
            <div class="flex align-items-center">
              <div class="col-5 font-medium text-sm">Крайний срок</div>
              <div class="col-7 text-sm">
                <Calendar
                  inputId="calendar"
                  v-model="finishAt"
                  :minDate="new Date()"
                  placeholder="Выберите дату"
                  inputClass="text-sm w-full"
                  dateFormat="dd.mm.yy"
                />
              </div>
            </div>

            <div class="flex align-items-center">
              <div class="col-5 font-medium text-sm">Заказчик</div>
              <div class="col-7 text-sm">
                <Dropdown class="w-full" filter v-model="order.customer" :options="customers">
                  <template #value="slotProps">
                    <template v-if="!slotProps.value || slotProps.value.length === 0">
                      <div class="opacity-70">Заказчик</div>
                    </template>
                    <template v-else>
                      {{ shortUserName(slotProps.value) }}
                    </template>
                  </template>
                  <template #option="slotProps">
                    <div class="flex align-items-center">
                      {{ shortUserName(slotProps.option) }}
                    </div>
                  </template>
                </Dropdown>
              </div>
            </div>

            <div class="flex align-items-flex-start">
              <div class="col-5 font-medium text-sm">Пациент</div>
              <div class="col-7 text-sm">
                <div class="flex flex-column gap-1">
                  <PatientsSearch :searchPatients="searchPatients" v-model:value="order.patient" />
                  <Button icon="pi pi-plus" label="Добавить пациента" size="small" severity="secondary" @click="addPatient" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card m-0 p-3" v-if="order.patient?.uid">
          <div class="flex flex-column">
            <div class="flex gap-2">
              <div class="flex flex-column gap-2">
                <NuxtLink :to="`/cabinet/patients/${order.patient.uid}`" class="flex gap-2 align-items-center">
                  <div
                    class="bg-primary border-circle h-2rem w-2rem flex-grow-0 overflow-hidden flex justify-content-center align-items-center"
                    style="flex-shrink: 0"
                  >
                    <span class="text-md font-bold">{{ order.patient.fio?.slice(0, 1) }}</span>
                  </div>
                  <div class="flex flex-column">
                    <div class="font-bold text-lg inline-flex mb-1">
                      {{ order.patient.fio }}
                    </div>
                  </div>
                </NuxtLink>

                <div class="flex flex-wrap text-sm opacity-80 gap-2">
                  <span>Дата рождения: {{ order.patient.dob ? format(order.patient.dob, 'dd.MM.yyyy') : '-' }}</span>
                  <span>|</span>
                  <span>
                    Телефон: <a type="tel" :href="`tel:${order.patient.phone}`"> {{ order.patient.phone || '-' }}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Dialog
      v-model:visible="addPatientDialog"
      @update:visible="closeAddPatientDialog"
      :style="{ width: '650px' }"
      :header="'Добавить пациента'"
      :modal="true"
      class="p-fluid"
    >
      <div class="flex flex-column gap-2">
        <div class="field">
          <label for="fio" class="font-medium">ФИО</label>
          <InputText id="fio" v-model.trim="newPatient.fio" required="true" autofocus :invalid="submitted && !newPatient.fio" />
          <small class="p-invalid text-red-600" v-if="submitted && !newPatient.fio">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="phone" class="font-medium">Телефон</label>
          <InputText id="phone" v-model.trim="newPatient.phone" mask="+7 (999) 999-9999" placeholder="+7 (999) 999-9999" required="true" autofocus :invalid="submitted && !newPatient.phone" />
          <small class="p-invalid text-red-600" v-if="submitted && !newPatient.phone">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="dob" class="font-medium">Дата рождения</label>
          <Calendar
            inputId="calendar"
            v-model="newPatient.dob"
            :maxDate="new Date()"
            placeholder="Выберите дату рождения"
            inputClass="text-sm w-full"
            dateFormat="dd.mm.yy"
          />

          <small class="p-invalid text-red-600" v-if="submitted && !newPatient.dob">Обазательно для заполнения</small>
        </div>
      </div>
      <template #footer>
        <Button label="Отмена" icon="pi pi-times" severity="secondary" @click="closeAddPatientDialog" />
        <Button label="Сохранить" icon="pi pi-check" severity="info" @click="saveAddPatient" />
      </template>
    </Dialog>
  </div>
</template>
