<script setup lang="ts">
import { format } from 'date-fns';
import { ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
definePageMeta({
  title: 'Управление пользователями',
  breadcrumb: 'Управление пользователями',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_LOGS]
});
//Common
const filters = ref<any>({});
const isLoading = ref<boolean>(true);

//Stores & services
const logsStore = useLogsStore();
//Data
const logs = computed(() => logsStore.list);

onMounted(async () => {
  isLoading.value = true;
  await logsStore.fetchAll();
  isLoading.value = false;
});
</script>

<template>
  <app-page :loading="isLoading">
    <template #title>Логи системы</template>

    <template #body>
      <div class="flex items-center justify-between gap-2 sm:flex-row flex-col mb-2">
        <IconField iconPosition="left" class="block md:mt-0 w-full">
          <InputIcon class="pi pi-search" />
          <InputText class="w-full" size="small" placeholder="Поиск..." />
        </IconField>
      </div>
      <div class="bg-surface-0 dark:bg-surface-900 p-2 rounded-xl">
        <DataTable
          size="small"
          :value="logs"
          class="text-sm"
          dataKey="id"
          :paginator="true"
          :rows="20"
          :filters="filters"
          :rowHover="true"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          currentPageReportTemplate="{first} из {last} всего {totalRecords}"
        >
          <Column field="id" header="ID" :sortable="true" headerStyle="min-width:3rem;">
            <template #body="slotProps">
              {{ slotProps.data.id }}
            </template>
          </Column>
          <Column field="details" header="Сообщение" :sortable="true" headerStyle="min-width:20rem;">
            <template #body="slotProps">
              <div class="flex gap-2 align-items-center">
                <span>
                  {{ slotProps.data.details }}
                </span>
                <NuxtLink
                  v-if="getLinkByEntityType(slotProps.data.entity_type, slotProps.data.entity_id, slotProps.data.metadata)"
                  :to="getLinkByEntityType(slotProps.data.entity_type, slotProps.data.entity_id, slotProps.data.metadata)"
                  target="_blank"
                >
                  <Button :link="true" icon="pi pi-link" size="small" severity="secondary" :outlined="false" />
                </NuxtLink>
              </div>
            </template>
          </Column>
          <Column field="is_default" header="Тип" headerStyle="width:5rem; min-width:10rem;">
            <template #body="slotProps">
              <Tag
                :severity="ENTITY_TYPE_LABELS[slotProps.data.entity_type as EntityType].severity"
                :value="ENTITY_TYPE_LABELS[slotProps.data.entity_type as EntityType].label"
              />
            </template>
          </Column>
          <Column field="is_default" header="Тип" headerStyle="width:5rem; min-width:10rem;">
            <template #body="slotProps">
              <Tag
                :severity="LOG_TYPE_LABELS[slotProps.data.type as EntityType].severity"
                :value="LOG_TYPE_LABELS[slotProps.data.type as EntityType].label"
              />
            </template>
          </Column>
          <Column field="created_at" header="Дата" :sortable="true" headerStyle="width:10rem;">
            <template #body="slotProps">
              {{ format(slotProps.data.created_at, 'dd.MM.yyyy, HH:mm') }}
            </template>
          </Column>

          <template #footer v-if="isLoading">
            <div class="flex justify-between flex-col sm:flex-row">
              <ProgressSpinner
                style="width: 20px; height: 20px"
                strokeWidth="4"
                fill="var(--surface-ground)"
                animationDuration=".5s"
                aria-label="Custom ProgressSpinner"
              />
            </div>
          </template>
          <template #empty><div class="text-center text-sm">Список пуст</div></template>
        </DataTable>
      </div>
    </template>
  </app-page>
</template>
