<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, ref } from 'vue';
import { usePatientStore } from '~/stores/patient.store';
import type { IPatient } from '~/types/customer.type';
import { getToasts } from '~/utils/vue.utils';

// PROPS
const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  company: {
    type: Object as PropType<ICompany>,
    required: true
  },
  item: {
    type: Object as PropType<IPatient>,
    required: true
  },
  visible: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  savePatient: {
    type: Function as PropType<(payload?: IPatient) => void>,
    required: true
  }
});

//Common
const toast = useToast();
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const isNew = computed<boolean>(() => !itemData.value?.uid);

//Hooks & Stores

const patientStore = usePatientStore();
//Data
const itemData = computed<IPatient>(() => props.item as IPatient);

const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = (): boolean => {
  if (!itemData.value.fio) return false;
  return true;
};

const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;
    await props.savePatient(itemData.value);
    getToasts(toast).success(isNew ? 'Пациент успешно создан' : 'Информация успешно обновлена');
    emits('update:item', itemData.value);
    close();
    submitted.value = false;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
</script>
<template>
  <PanelsSmall
    v-bind:visible="visible"
    @update:visible="close"
    :header="isNew ? 'Добавить пациента' : `Пациент: ${itemData.fio}`"
    class="p-fluid"
  >
    <template #body>
      <div class="flex flex-column gap-2">
        <div class="field">
          <label for="fio" class="font-medium">ФИО</label>
          <InputText id="fio" v-model.trim="itemData.fio" required="true" :invalid="submitted && !itemData.fio" />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.fio">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="phone" class="font-medium">Телефон</label>
          <InputMask id="phone" mask="+7 (999) 999-9999" placeholder="+7 (999) 999-9999" v-model="itemData.phone" />
        </div>
        <div class="field">
          <label for="dop" class="font-medium">Дата рождения</label>
          <Calendar v-model="itemData.dob" />
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="close" />
      <Button label="Сохранить" severity="info" :loading="isLoading" icon="pi pi-check" @click="save" />
    </template>
  </PanelsSmall>
</template>
