<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { ref, type PropType } from 'vue';
import usePatients from '~/composables/usePatients';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import { getToasts } from '~/utils/vue.utils';

const emits = defineEmits(['update:value']);
const props = defineProps({
  value: {
    type: Object as PropType<IPatient>,
    default: ''
  },
  company: {
    type: Object as PropType<ICompany>,
    required: true
  },
  searchPatients: {
    type: Function as PropType<(value: string) => IPatient[]>,
    required: true
  }
});
const toast = useToast();

const isLoading = ref<boolean>(false);

const internalValue = ref<IPatient>(props.value);
const patients = ref<IPatient[]>([]);

const patientService = usePatients();

const search = async (event: any) => {
  if (event.value.length < 3) {
    patients.value = [];
    return;
  }

  isLoading.value = true;
  try {
    patients.value = await props.searchPatients(event.value);
  } catch (e) {
    console.log(e);
    patients.value = [];
    getToasts(toast).error('Не удалось загрузить пациентов');
  } finally {
    isLoading.value = false;
  }
};
</script>
<template>
  <Dropdown
    filter
    placeholder="Выберите пациента"
    emptyMessage="Для поиска введите больше 3 символов"
    emptyFilterMessage="Для поиска введите больше 3 символов"
    v-model.trim="internalValue"
    :options="patients"
    :loading="isLoading"
    optionLabel="fio"
    class="w-full"
    @update:modelValue="emits('update:value', internalValue)"
    @filter="search"
  >
    <template #value="slotProps">
      <template v-if="!slotProps.value || slotProps.value.length === 0">
        <div class="opacity-70">Выберите пациента</div>
      </template>
      <template v-else>{{ slotProps.value.fio }}</template>
    </template>
    <template #option="slotProps">
      <div class="flex align-items-center">
        {{ slotProps.option.fio }}
      </div>
    </template>
  </Dropdown>
</template>
