<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import useCompanies from '~/composables/useCompanies';
import { useCompanyStore } from '~/stores/company.store';
import { useOrderStore } from '~/stores/order.store';
import type { IOrder, IOrderCommentCreateDto, IOrderStatus } from '~/types/order.type';
import type { IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Добавить заказ',

  breadcrumb: async () => {
    const { company_id, order_id } = useRoute().params;

    const _store = useOrderStore();
    const title = await _store.getItemTitle(Number(company_id), Number(order_id));
    return title;
  }
});
const toast = useToast();
const route = useRoute();

const submitted = ref<boolean>(false);
const isFetching = ref<boolean>(true);
const company_id = Number(route.params.company_id);
const order_id = Number(route.params.order_id);

//stores & hooks
const orderStore = useOrderStore();
const companyStore = useCompanyStore();
const companyService = useCompanies();
// data
const order = computed<IOrder>(() => orderStore.item as IOrder);
const statuses = computed<IOrderStatus[]>(() => orderStore.statuses || []);
const customers = ref<IUser[]>([]);
const responsibles = ref<IUser[]>([]);
const executors = ref<IUser[]>([]);

onMounted(async () => {
  try {
    await orderStore.fetchItem(company_id, order_id);
    await orderStore.fetchComments(company_id, order_id);
    await orderStore.fetchStatuses();
    await companyStore.fetchServices(company_id);

    responsibles.value = await companyService.fetchCompanyResponsibleUsers(Number(company_id));
    executors.value = await companyService.fetchCompanyExecutorsUsers(Number(company_id));
    customers.value = await companyService.fetchCompanyCustomersUsers(Number(company_id));
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
  }
});

const saveOrder = async (order: IOrder, finish_at?: string) => {
  submitted.value = true;

  try {
    if (!order || !order.responsible || !order.executor || !order.patient) return;
    await orderStore.update(company_id, {
      id: order.id,
      description: order.description,
      status_id: order.status.id,
      responsible_id: order.responsible?.id,
      executor_id: order.executor?.id,
      patient: order.patient
    });
    if (finish_at) {
      order.finish_at = new Date(finish_at);
    }
    submitted.value = false;
    getToasts(toast).success('Заказ обновлен');
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const deleteOrder = async (order: IOrder, reason: string) => {
  try {
    if (reason === '') {
      getToasts(toast).error('Причина удаления не может быть пустым');

      return;
    }
    await orderStore.delete(company_id, order.id, reason);
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    navigateTo('/cabinet');
  }
};
const saveComment = async (order: IOrder, comment: IOrderCommentCreateDto) => {
  try {
    if (!comment || comment.message === '') {
      getToasts(toast).error('Комментарий не может быть пустым');
      return;
    }
    await orderStore.createComment(company_id, order.id, comment);
    getToasts(toast).success('Комментарий добавлен');
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const deleteComment = async (order: IOrder, comment_id: number) => {
  try {
    await orderStore.deleteComment(company_id, order.id, comment_id);
    getToasts(toast).success('Комментарий удален');
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const changePermissions = ref<any>({
  changeDescription: true,
  changeFinishDate: true,
  changeResponsible: true,
  changeExecutor: true,
  changeStatus: true,
  viewComments: true,
  createComment: true,
  deleteComment: true
});
</script>

<template>
  <OrderItem
    :order="order"
    :statuses="statuses"
    :customers="customers"
    :responsibles="responsibles"
    :changePermissions="changePermissions"
    :executors="executors"
    :saveOrder="saveOrder"
    :deleteOrder="deleteOrder"
    :saveComment="saveComment"
    :deleteComment="deleteComment"
  />
</template>
