<script lang="ts" setup>
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import useCompanies from '~/composables/useCompanies';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import { useOrderStore } from '~/stores/order.store';
import { useServiceStore } from '~/stores/service.store';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder, IOrderFilterDto, IOrderStatus } from '~/types/order.type';
import type { IService } from '~/types/service.type';
import { SYSTEM_PERMISSIONS, type IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Заказы',
  breadcrumb: 'Заказы',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_ORDER]
});
//Common
const route = useRoute();
const isLoading = ref(true);
const toast = useToast();

//Stores & hooks
const companyStore = useCompanyStore();
const ordersStore = useOrderStore();
const serviceStore = useServiceStore();
const companyService = useCompanies();
//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => companyStore.item as ICompany);
const orders = computed<IOrder[]>(() => ordersStore.list || []);

const statuses = computed<IOrderStatus[]>(() => ordersStore.statuses || []);
const services = computed<IService[]>(() => serviceStore.list || []);
const patients = ref<IPatient[]>([]);
const customers = ref<any[]>([]);
const responsibles = ref<any[]>([]);
const executors = ref<any[]>([]);
onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();

  await ordersStore.fetchAll(company.value.id);
  await ordersStore.fetchStatuses();
  await serviceStore.fetchAll();

  responsibles.value = await companyService.fetchCompanyResponsibleUsers(Number(company_id));
  executors.value = await companyService.fetchCompanyExecutorsUsers(Number(company_id));
  customers.value = await companyService.fetchCompanyCustomersUsers(Number(company_id));

  isLoading.value = false;
});

const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await companyStore.fetchItem(Number(company_id));
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const applyFilter = async (requestFilter: IOrderFilterDto) => {
  isLoading.value = true;
  try {
    await ordersStore.fetchAll(company.value.id, requestFilter);
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
const openNew = () => {
  navigateTo(`/admin/companies/${company.value.id}/orders/create`);
};
const openOrder = (order: IOrder) => {
  navigateTo(`/admin/companies/${company.value.id}/orders/${order.id}`);
};
const openPatient = (clinic: ICompany, patient: IPatient) => {
  navigateTo(`/admin/companies/${clinic.id}/patients/${patient.uid}`);
};
const openCustomer = (customer: IUser) => {
  navigateTo(`/admin/users/${customer.id}`);
};
const openClinic = (company: ICompany) => {
  navigateTo(`/admin/companies/${company.id}`);
};

const deleteOrder = async (order: IOrder, reason: string) => {
  if (!order || !order?.id) return;

  if (reason === '') {
    getToasts(toast).error('Причина удаления не может быть пустым');
    return;
  }
  await ordersStore.delete(Number(company_id), order.id, reason);
};
const changeStatus = async (order: IOrder) => {
  try {
    const newOrder = await ordersStore.update(company.value.id, {
      id: order.id,
      description: order.description,
      customer_id: order.customer.id,
      patient: order.patient,
      responsible_id: order.responsible?.id || null,
      executor_id: order.executor?.id || null,
      status_id: order.status.id,
      finish_at: order.finish_at || undefined
    });
    getToasts(toast).success('Статус изменен');
    return newOrder;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>
      {{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Заказы
    </template>

    <template #body>
      <div class="grid">
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock v-bind:company="company" active="Заказы" />
        </div>
        <div class="col-12 md:col-9">
          <CompaniesOrders
            :orders="orders"
            :loading="isLoading"
            :statuses="statuses"
            :services="services"
            :patients="patients"
            :customers="customers"
            :responsibles="responsibles"
            :executors="executors"
            :applyFilter="applyFilter"
            :openNew="openNew"
            :openOrder="openOrder"
            :changeStatus="changeStatus"
            :openPatient="openPatient"
            :openCustomer="openCustomer"
            :openClinic="openClinic"
            :deleteOrder="deleteOrder"
          />
        </div>
      </div>
    </template>
  </app-page>
</template>
