<script setup lang="ts">
import { format } from 'date-fns';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import { useOrderStore } from '~/stores/order.store';
import { usePatientStore } from '~/stores/patient.store';
import type { IPatient } from '~/types/customer.type';
import type { IOrder } from '~/types/order.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Клиенты',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_PATIENT],
  breadcrumb: async () => {
    const { company_id, uid } = useRoute().params;

    const _store = usePatientStore();
    const title = await _store.getItemTitle(Number(company_id), uid as string);
    return title;
  }
});

//Common

const toast = useToast();
const { company_id, uid } = useRoute().params;

const isFetching = ref<boolean>(true);
const submitted = ref<boolean>(false);
//Stores & services
const route = useRoute();
const orderStore = useOrderStore();
const patientStore = usePatientStore();

//Data
const patient_uid = route.params.uid;
const patient = computed<IPatient | undefined>(() => patientStore.item);

const orders = computed<IOrder[]>(() => orderStore.list);

onBeforeMount(async () => {
  isFetching.value = true;
  try {
    await patientStore.fetchItem(Number(company_id), patient_uid as string);
    await orderStore.fetchAll(Number(company_id), {
      patient_uid: [patient_uid as string]
    });
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
  }
});
</script>
<template>
  <div class="flex flex-column" v-if="patient">
    <div class="card">
      <div class="flex gap-5 flex-column md:flex-row">
        <div class="flex flex-column w-full">
          <div class="flex align-items-center justify-content-between">
            <h1 class="text-xl md:text-2xl">{{ patient.fio }}</h1>
          </div>
          <div class="flex flex-column gap-1">
            <div class="flex gap-2" v-if="patient.dob">
              <span class="font-bold">Дата рождения:</span>
              <span>{{ format(patient.dob, 'dd.MM.yyyy') }}</span>
            </div>
            <div class="flex gap-2" v-if="patient.phone">
              <span class="font-bold">Телефон:</span>
              <span>
                <i class="pi pi-phone mr-2" />
                <a type="tel" :href="`tel:${patient.phone}`">{{ patient.phone }}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="text-xl md:text-2xl font-semibold mb-4">Заказы пациента</div>
      <OrderTable :orders="orders" :isFetching="isFetching" />
    </div>
  </div>
</template>
