<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import { usePatientStore } from '~/stores/patient.store';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Пациенты',
  breadcrumb: 'Пациенты',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_PATIENT]
});
//Common
const route = useRoute();
const isLoading = ref(true);
const toast = useToast();

//Stores & hooks
const companyStore = useCompanyStore();
const patientStore = usePatientStore();

//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => companyStore.item as ICompany);
const patients = computed<IPatient[]>(() => patientStore.list || []);

onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  await fetchPatients();
  isLoading.value = false;
});

const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await companyStore.fetchItem(Number(company_id));
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchPatients = async () => {
  await patientStore.fetchAll(company.value.id);
};

const deletePatient = async (patient: IPatient) => {
  try {
    if (!patient?.uid || !company.value) return;
    await patientStore.delete(Number(company.value.id), patient.uid);
    getToasts(toast).success('Пациент удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const validate = (patient: IPatient): boolean => {
  if (!patient.fio) return false;
  return true;
};
const save = async (patient: IPatient) => {
  if (!validate(patient)) return;
  const isNew = !patient.uid;
  await patientStore.save(company.value.id, patient);
};
const openPatient = (patient: IPatient) => {
  navigateTo(`/admin/companies/${company.value.id}/patients/${patient.uid}`);
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>
      {{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Пациенты
    </template>

    <template #body>
      <div class="grid">
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock v-bind:company="company" active="Пациенты" />
        </div>
        <div class="col-12 md:col-9">
          <CompaniesPatients
            v-bind:company="company"
            :patients="patients"
            :deletePatient="deletePatient"
            :savePatient="save"
            :openPatient="openPatient"
          />
        </div>
      </div>
    </template>
  </app-page>
</template>
