<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useOrderStore } from '~/stores/order.store';
import { useUsersStore } from '~/stores/users.store';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder } from '~/types/order.type';
import { SYSTEM_PERMISSIONS, type IChangePasswordDto, type IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Пользователи',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_USER],

  breadcrumb: async () => {
    const { user_id } = useRoute().params;

    const _store = useUsersStore();
    const title = await _store.getItemTitle(Number(user_id));
    return title;
  }
});

//Common

const toast = useToast();

const isLoading = ref<boolean>(true);

//Stores & services
const route = useRoute();
const orderStore = useOrderStore();
const usersStore = useUsersStore();

//Data
const user_id = Number(route.params.user_id);
const user = computed<IUser | undefined>(() => usersStore.item);
const changePasswordData = ref<Partial<IChangePasswordDto>>({});
const orders = computed(() => orderStore.list || []);

onBeforeMount(async () => {
  isLoading.value = true;
  try {
    await usersStore.fetchItem(user_id);
    if (user.value?.company?.id) {
      await orderStore.fetchAll(user.value?.company.id, {
        customer_id: [user_id]
      });
    }
    changePasswordData.value = {
      user_id: user.value?.id,
      email: user.value?.email,
      password: '',
      confirm_password: ''
    };
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
});
const openOrder = (order: IOrder) => {
  navigateTo(`/admin/companies/${order.company_id}/orders/${order.id}`);
};

const openPatient = (clinic: ICompany, patient: IPatient) => {
  navigateTo(`/admin/companies/${clinic?.id}/patients/${patient.uid}`);
};
const openCustomer = (customer: IUser) => {
  navigateTo(`/admin/users/${customer.id}`);
};
</script>
<template>
  <app-page :loading="isLoading && user === null">
    <template #title>{{ user?.last_name }} {{ user?.first_name }} {{ user?.middle_name }}</template>

    <template #body>
      <UsersItem
        :user="user"
        :loading="isLoading"
        :orders="orders"
        :openOrder="openOrder"
        :openPatient="openPatient"
        :openCustomer="openCustomer"
      />
    </template>
  </app-page>
</template>
