<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import { useRolesStore } from '~/stores/roles.store';
import { useUsersStore } from '~/stores/users.store';
import type { ICompany } from '~/types/company.type';
import { SYSTEM_PERMISSIONS, type IRole, type IUser, type IUserFilter } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Управление пользователями',
  breadcrumb: 'Управление пользователями',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_USER]
});
//Common

const toast = useToast();
const isLoading = ref<boolean>(true);

//Stores & services
const usersStore = useUsersStore();
const rolesStore = useRolesStore();
const companiesStore = useCompanyStore();

//Users
const users = computed<IUser[]>(() => usersStore.list || []);

//Companies
const companies = computed<ICompany[]>(() => companiesStore.list || []);
//Roles
const roles = computed<IRole[]>(() => rolesStore.list);

onBeforeMount(async () => {
  isLoading.value = true;
  try {
    await Promise.all([loadUsers(), companiesStore.fetchAll(), rolesStore.fetchAll()]);
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
  isLoading.value = false;
});

const deleteUser = async (user: Partial<IUser>) => {
  try {
    if (!user || !user?.id) return;
    await usersStore.delete(user.id);
    getToasts(toast).success('Пользователь удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const onUpdateFilter = async (filter?: IUserFilter) => {
  await loadUsers(filter);
};
const loadUsers = async (filter?: IUserFilter) => {
  isLoading.value = true;
  await usersStore.fetchAll(filter);
  isLoading.value = false;

};
</script>

<template>
  <app-page :loading="isLoading">
    <template #title>Пользователи</template>
    <template #titleControls></template>
    <template #body>
      <UsersList :users="users" :companies="companies" :roles="roles" @deleteUser="deleteUser" @update:filter="onUpdateFilter" />
    </template>
  </app-page>
</template>
