<script setup lang="ts">
import { getToasts } from '~/utils/vue.utils';

// PROPS
const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  item: {
    type: Object as PropType<IDirectoryCreateDto>,
    required: true
  },
  visible: {
    type: Boolean as PropType<boolean>,
    required: true
  }
});

//Common
const toast = useToast();
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const isNew = computed<boolean>(() => !itemData.value?.id);

//Hooks & Stores

const directoryStore = useDirectoryStore();

//Data
const itemData = computed<IDirectoryCreateDto>(() => props.item as IDirectoryCreateDto);

const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = () => {
  if (!itemData.value?.title) {
    return false;
  }

  return true;
};

const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;

    if (!validate()) return;
    const isNew = !itemData.value.id;

    await directoryStore.save(itemData.value);
    getToasts(toast).success(isNew ? 'Словарь успешно создан' : 'Информация успешно обновлена');
    emits('update:item', itemData.value);
    submitted.value = false;
    close();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    submitted.value = false;
    isLoading.value = false;
  }
};
</script>
<template>
  <PanelsSmall
    v-bind:visible="visible"
    @update:visible="close"
    :header="isNew ? 'Добавить словарь' : `Словарь: ${itemData.title}`"
    :modal="true"
    class="p-fluid"
  >
    <template #body>
      <div class="flex flex-column gap-2">
        <div class="field">
          <label for="first_name" class="font-medium">Название</label>
          <InputText
            size="small"
            id="first_name"
            v-model.trim="itemData.title"
            required="true"
            autofocus
            :invalid="submitted && !itemData.title"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.title">Обазательно для заполнения</small>
        </div>
      </div>
      <div class="flex flex-column gap-2">
        <div class="field">
          <label for="first_name" class="font-medium">Значения</label>
          <DirectoriesOptions v-model:value="itemData.options" />
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" icon="pi pi-times" severity="secondary" @click="close" />
      <Button label="Сохранить" icon="pi pi-check" :loading="isLoading" severity="info" @click="save" />
    </template>
  </PanelsSmall>
</template>
