<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';

const props = defineProps({
  directories: {
    type: Array as PropType<IDirectory[]>,
    required: true,
    default: () => []
  },
  isFetching: {
    type: Boolean as PropType<boolean>,
    default: true
  }
});
const route = useRoute();
const toast = useToast();

const filters = ref<any>({});
const confirm = useConfirm();
const submitted = ref<boolean>(false);
const directory_id = computed(() => route.query.id);

//Dialogs
const directoryDialog = ref<boolean>(false);
//Stores & services
const directoryStore = useDirectoryStore();

onBeforeMount(() => {
  initFilters();
});
onMounted(async () => {
  try {
    if (directory_id.value) {
      const hasDirectory = props.directories.find((d) => d.id === Number(directory_id.value));
      if (hasDirectory) {
        editDirectory(hasDirectory);
      }
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
});
const directory = ref<IDirectoryCreateDto>({
  id: 0,
  title: '',
  options: []
});

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
const openNew = () => {
  _resetDirectory();
  submitted.value = false;
  directoryDialog.value = true;
};
const hideDialog = () => {
  _resetDirectory();
  directoryDialog.value = false;
  submitted.value = false;
};
const _resetDirectory = () => {
  directory.value = {
    id: 0,
    title: '',
    options: []
  };
};

const confirmDeleteDirectory = (editDirectory: IDirectory) => {
  directory.value = {
    id: editDirectory.id,
    title: editDirectory.title,
    options: editDirectory.options
  };
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить словарь?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: deleteDirectory,
    reject: () => {
      _resetDirectory();
    }
  });
};
const deleteDirectory = async () => {
  try {
    if (!directory.value || !directory.value?.id) return;
    await directoryStore.delete(directory.value.id);
    getToasts(toast).success('Словарь удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const editDirectory = (editDirectory: IDirectory) => {
  directory.value = {
    id: editDirectory.id,
    title: editDirectory.title,
    options: editDirectory.options
  };
  directoryDialog.value = true;
};
</script>
<template>
  <div class="flex align-items-center justify-content-between gap-2 sm:flex-row flex-column mb-2">
    <IconField iconPosition="left" class="block md:mt-0 w-full">
      <InputIcon class="pi pi-search" />
      <InputText class="w-full" size="small" v-model="filters['global'].value" placeholder="Поиск..." />
    </IconField>
    <Button
      size="small"
      v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_DIRECTORY)"
      label="Добавить"
      icon="pi pi-plus"
      class="w-full sm:w-auto"
      severity="info"
      @click="openNew"
    />
  </div>

  <div class="surface-0 p-2 border-round-xl">
    <DataTable
      size="small"
      :value="directories"
      class="text-sm"
      dataKey="id"
      :paginator="true"
      :rows="30"
      :filters="filters"
      :rowHover="true"
      paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      :rowsPerPageOptions="[30, 60, 90]"
      currentPageReportTemplate="{first} из {last} всего {totalRecords}"
    >
      <Column field="id" header="ID" :sortable="true" headerStyle="width:5rem;">
        <template #body="slotProps">
          {{ slotProps.data.id }}
        </template>
      </Column>
      <Column field="title" header="Название" :sortable="true" headerStyle="width:10rem;">
        <template #body="slotProps">
          {{ slotProps.data.title }}
        </template>
      </Column>
      <Column field="category.title" header="Значения" headerStyle="min-width:10rem;">
        <template #body="slotProps">
          {{ slotProps.data.options.slice(0, 8).join(', ') + '...' }}
        </template>
      </Column>

      <Column headerStyle="min-width:2rem;">
        <template #body="slotProps">
          <div class="flex justify-content-end">
            <Button
              icon="pi pi-pencil"
              class="mr-1 w-2rem h-2rem"
              size="small"
              text
              severity="secondary"
              v-tooltip.bottom="'Редактировать'"
              v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_DIRECTORY)"
              @click="editDirectory(slotProps.data)"
            />

            <Button
              icon="pi pi-trash"
              class="w-2rem h-2rem"
              size="small"
              text
              severity="secondary"
              v-tooltip.bottom="'Удалить'"
              v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_DELETE_DIRECTORY)"
              @click="confirmDeleteDirectory(slotProps.data)"
            />
          </div>
        </template>
      </Column>
      <template #footer v-if="isFetching">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <ProgressSpinner
            style="width: 20px; height: 20px"
            strokeWidth="4"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            aria-label="Custom ProgressSpinner"
          />
        </div>
      </template>
      <template #empty><div class="text-center text-sm">Список пуст</div></template>
    </DataTable>
  </div>
  <DirectoriesEdit v-bind:item="directory" v-bind:visible="directoryDialog" @hideDialog="hideDialog" />
</template>
