<script setup lang="ts">
import InputGroup from 'primevue/inputgroup';
import { ref, watch } from 'vue';
const emits = defineEmits(['update:value']);

const props = defineProps({
  value: {
    type: Array as PropType<string[]>,
    required: true
  }
});

const itemData = ref([...props.value]);

const addLine = () => {
  itemData.value.push('');
};
const deleteLine = (index: number) => {
  itemData.value.splice(index, 1);
};
const moveUp = (index: number) => {
  if (index > 0) {
    const temp = itemData.value[index];
    itemData.value[index] = itemData.value[index - 1];
    itemData.value[index - 1] = temp;
  }
};
const moveDown = (index: number) => {
  if (index < itemData.value.length - 1) {
    const temp = itemData.value[index];
    itemData.value[index] = itemData.value[index + 1];
    itemData.value[index + 1] = temp;
  }
};
watch(
  itemData,
  () => {
    emits('update:value', itemData.value);
  },
  { deep: true }
);
</script>
<template>
  <div class="flex flex-column gap-2">
    <div class="flex flex-column gap-2">
      <div v-for="(newValue, i) in itemData" :key="i">
        <div class="flex gap-2">
          <div class="flex">
            <Button text icon="pi pi-arrow-up" class="text-xs p-0 m-0 w-1rem" size="small" @click="moveUp(i)" />
            <Button text icon="pi pi-arrow-down" size="small" class="text-xs w-1rem p-0 m-0" @click="moveDown(i)" />
          </div>
          <InputGroup>
            <InputText placeholder="Значение" size="small" v-model.trim="itemData[i]" required="true" autofocus />
            <Button icon="pi pi-times" size="small" class="text-xs" severity="danger" @click="deleteLine(i)" />
          </InputGroup>
        </div>
      </div>
    </div>
    <Button icon="pi pi-plus" severity="secondary" size="small" class="text-xs w-full" @click="addLine" />
  </div>
</template>
