<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useCompanyStore } from '~/stores/company.store';
import { useUsersStore } from '~/stores/users.store';
import type { ICompany } from '~/types/company.type';
import type { IOrder } from '~/types/order.type';
import { SYSTEM_PERMISSIONS, type IChangePasswordDto, type IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Пользователи',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_USER],

  breadcrumb: async () => {
    const { user_id } = useRoute().params;

    const _store = useUsersStore();
    const title = await _store.getItemTitle(Number(user_id));
    return title;
  }
});

//Common

const toast = useToast();

const isLoading = ref<boolean>(true);

//Stores & services
const route = useRoute();
const companyStore = useCompanyStore();
const cabinetStore = useCabinetStore();

//Data
const company = computed<ICompany | undefined>(() => cabinetStore.company);
const user_id = Number(route.params.user_id);
const user = computed<IUser | undefined>(() => companyStore.user);
const changePasswordData = ref<Partial<IChangePasswordDto>>({});
const orders = computed<IOrder[]>(() => cabinetStore.orders);

onBeforeMount(async () => {
  isLoading.value = true;
  try {
    await cabinetStore.fetchCompany();
    if (company.value) {
      await companyStore.fetchCompanyUser(company.value.id, user_id);
      await cabinetStore.fetchOrders({
        customer_id: [user_id as number]
      });
      changePasswordData.value = {
        user_id: user.value?.id,
        email: user.value?.email,
        password: '',
        confirm_password: ''
      };
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
});
const openOrder = (order: IOrder) => {
  if (!company.value) return;
  navigateTo(`/cabinet/orders/${order.id}`);
};
const openPatient = (patient: IPatient) => {
  if (!company.value) return;
  navigateTo(`/cabinet/patients/${patient.id}`);
};
</script>
<template>
  <app-page :loading="isLoading && user === null">
    <template #title>{{ user?.last_name }} {{ user?.first_name }} {{ user?.middle_name }}</template>

    <template #body>
      <UsersItem :user="user" :loading="isLoading" />
      <div class="card">
        <div class="text-xl md:text-2xl font-semibold mb-4">Заказы пациента</div>
        <OrderTable :orders="orders" :isFetching="isLoading" :openOrder="openOrder" :openPatient="openPatient" />
      </div>
    </template>
  </app-page>
</template>
