<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany } from '~/types/company.type';
import type { IOrder } from '~/types/order.type';
import { SYSTEM_PERMISSIONS, type ICreateCompanyUserDto, type IRole, type IUser } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Пользователи',
  breadcrumb: 'Пользователи',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_USER]
});
//Common
const toast = useToast();
const route = useRoute();
const isLoading = ref(true);

//Stores & hooks
const cabinetStore = useCabinetStore();
const companyStore = useCompanyStore();

//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => cabinetStore.company as ICompany);
const users = computed<Partial<IUser>[]>(() => companyStore.users);
const roles = computed<IRole[]>(() => companyStore.roles);
onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  await fetchUsers();
  isLoading.value = false;
});

const fetchCompany = async () => {
  try {
    await cabinetStore.fetchCompany();
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchUsers = async () => {
  isLoading.value = true;
  if (company.value?.id) {
    await companyStore.fetchCompanyUsers(company.value?.id);
    await companyStore.fetchCompanyRoles(company.value?.id);
  }
  isLoading.value = false;
};

const saveUser = async (user: ICreateCompanyUserDto) => {
  try {
    isLoading.value = true;
    const isNew = !user.id;
    if (!validate(user)) return;

    if (isNew) {
      await companyStore.createCompanyUser(Number(company.value?.id), user);
    } else {
      await companyStore.updateCompanyUser(Number(company.value?.id), user.id as number, user);
    }
    getToasts(toast).success(isNew ? 'Пользователь успешно создан' : 'Информация успешно обновлена');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
const validate = (user: ICreateCompanyUserDto) => {
  if (!user.email.length) {
    return false;
  }
  if (!user.first_name.length) {
    return false;
  }
  if (!user.last_name.length) {
    return false;
  }
  if (user.password) {
    if (!user.password.length) {
      return false;
    }

    if (user.password.length < 6) {
      return false;
    }
    if (user.password !== user.confirm_password) {
      return false;
    }
  }
  return true;
};

const deleteUser = async (user: IUser) => {
  try {
    await companyStore.deleteCompanyUser(Number(company.value?.id), Number(user.id));
    getToasts(toast).success('Пользователь удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>{{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }}</template>
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <CompaniesUsers
        :company="company"
        type="cabinet"
        :users="users"
        :roles="roles"
        :loading="isLoading"
        :deleteUser="deleteUser"
        :saveUser="saveUser"
      />
      
    </template>
  </app-page>
</template>
