<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany, ICreateCompanyDto } from '~/types/company.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';

definePageMeta({
  title: 'Компания',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_COMPANIES],
  breadcrumb: async () => {
    const route = useRoute();
    if (route) {
      const { company_id } = route?.params;

      const _store = useCompanyStore();
      const title = await _store.getItemTitle(Number(company_id));

      return title;
    }
  }
});

const route = useRoute();

const { company_id } = route.params;
const companyStore = useCompanyStore();

const company = ref<ICompany | null>(null);
const isLoading = ref<boolean>(true);
const companyDialog = ref<boolean>(false);

const editCompanyData = ref<ICreateCompanyDto>({
  title: '',
  type_id: 0,
  is_verified: true,
  parent_id: null,
  image: undefined,
  metadata: {
    phone: '',
    address: '',
    email: ''
  }
});

onBeforeMount(async () => {
  try {
    await companyStore.fetchItem(Number(company_id));
    company.value = companyStore.item as ICompany;
    route.meta.title = company.value?.title;
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  } finally {
    isLoading.value = false;
  }
});
const editCompany = () => {
  if (company.value) {
    editCompanyData.value = {
      id: company.value.id,
      title: company.value.title,
      type_id: company.value.type.id,
      image: company.value.image,
      metadata: company.value.metadata,
      is_verified: company.value.is_verified,
      parent_id: company.value.parent?.id
    };
    companyDialog.value = true;
  }
};
const updateCompany = (newCompany: ICompany) => {
  company.value = newCompany;
};
</script>
<template>
  <app-page :loading="isLoading || !company">
    <template #title>{{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }}</template>
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <div class="grid">
        

        <div class="col-12 md:col-9">
          <div class="card relative">
            <Button
              v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_COMPANIES)"
              text
              icon="pi pi-pencil"
              class="text-xs absolute"
              size="small"
              style="top: 1rem; right: 1rem"
              @click="editCompany"
            />
            <div class="flex flex-column gap-4 md:flex-row">
              <div class="flex justify-content-center align-items-center w-9rem h-9rem">
                <img v-if="company?.image" :src="fileUrl(company?.image)" :alt="company?.title" class="w-full" />
                <img v-else :src="PLACEHOLDER_LOGO" :alt="company?.title" class="w-full" />
              </div>
              <div class="flex flex-column">
                <div class="grid">
                  <div class="col-6 md:col-5 font-bold">Тип компании:</div>
                  <div class="col-6 md:col-5">
                    {{ company?.type.title }}
                  </div>
                </div>
                <div class="grid" v-if="company?.type.id === COMPANY_TYPES.PHARMACY">
                  <div class="col-6 md:col-5 font-bold">Родительская лаборатория:</div>
                  <div class="col-6 md:col-5">
                    <NuxtLink :to="`/admin/companies/${company?.parent.id}`" class="flex gap-2 align-items-center">
                      <span>{{ company?.parent.title }}</span>
                      <span class="pi pi-arrow-up-right text-primary text-xs align-items-center"></span>
                    </NuxtLink>
                  </div>
                </div>
                <div class="grid">
                  <div class="col-6 md:col-5 font-bold">Адрес:</div>
                  <div class="col-6 md:col-5">
                    {{ company?.metadata.address ?? '-' }}
                  </div>
                </div>
                <div class="grid">
                  <div class="col-6 md:col-5 font-bold">Телефон:</div>
                  <div class="col-6 md:col-5">
                    {{ company?.metadata.phone ?? '-' }}
                  </div>
                </div>
                <div class="grid">
                  <div class="col-6 md:col-5 font-bold">Email:</div>
                  <div class="col-6 md:col-5">
                    {{ company?.metadata.email ?? '-' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock :company="company" active="Общая информация" />
        </div>
      </div>
    </template>
    <template #modal>
      <CompaniesEdit
        v-bind:item="editCompanyData"
        v-bind:visible="companyDialog"
        @hideDialog="companyDialog = false"
        @update:item="updateCompany"
      />
    </template>
  </app-page>
</template>
