<script setup lang="ts">
import { useLayout } from '@/layouts/composables/layout';
import { useAuthStore } from '@/stores/auth.store';
import { toTypedSchema } from '@vee-validate/zod';
import { useToast } from 'primevue/usetoast';
import { Field, useForm } from 'vee-validate';
import { computed } from 'vue';
import { z } from 'zod';
import useAuth from '~/composables/useAuth';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  layout: false
});

//Toast
const toast = useToast();
const AuthService = useAuth();
//Layout
const { layoutConfig } = useLayout();
const logoUrl = computed(() => {
  return `/layout/images/${layoutConfig.darkTheme.value ? 'logo-white' : 'logo-dark'}.webp`;
});
//Auth
const authStore = useAuthStore();

const VALIDATION_TEXT = {
  EMAIL_REQUIRED: 'Необходимо указать действительный email',
  EMAIL_INVALID: 'Неверный адрес электронной почты',
  PASSWORD_REQUIRED: 'Необходимо указать пароль'
};
const LoginFormSchema = z.object({
  email: z.string().email(VALIDATION_TEXT.EMAIL_INVALID).nonempty(VALIDATION_TEXT.EMAIL_REQUIRED),
  password: z.string().min(1, VALIDATION_TEXT.PASSWORD_REQUIRED)
});

type FormInput = z.infer<typeof LoginFormSchema>;
const validationSchema = toTypedSchema(LoginFormSchema);

const initialValues = computed<FormInput>(() => ({
  email: '',
  password: ''
}));

const { handleSubmit, isSubmitting } = useForm({
  validationSchema,
  initialValues
});

const onSubmit = handleSubmit(async (values: FormInput) => {
  try {
    const isAuth = await AuthService.login(values.email, values.password);

    if (isAuth) {
      navigateTo('/profile');
    }
  } catch (e) {
    getToasts(toast).error('Неверный логин или пароль');
  }
});
</script>

<template>
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <!-- Form -->
      <div>
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
          <div class="text-center mb-5">
            <div class="text-900 text-md md:text-3xl font-medium mb-3">Добро пожаловать!</div>
            <span class="text-600 font-medium">Авторизуйтесь для продолжения</span>
          </div>

          <div>
            <div class="field">
              <label for="email1" class="block text-900 text-md font-medium mb-2">Email</label>
              <Field v-slot="{ field, errorMessage, errors, handleChange, handleBlur }" name="email">
                <InputText
                  id="email1"
                  v-model="field.value"
                  type="text"
                  placeholder="Электронная почта"
                  class="w-full md:w-30rem"
                  style="padding: 1rem"
                  :disabled="isSubmitting"
                  :invalid="errors.length ? true : false"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                  @keyup.enter="onSubmit"
                />
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
              </Field>
            </div>
            <div class="field">
              <label for="password1" class="block text-900 font-medium text-md mb-2">Пароль</label>
              <Field v-slot="{ field, errorMessage, handleChange, handleBlur, errors }" name="password">
                <Password
                  id="password1"
                  v-model="field.value"
                  placeholder="Пароль"
                  :toggleMask="true"
                  :disabled="isSubmitting"
                  :feedback="false"
                  class="w-full"
                  inputClass="w-full"
                  :invalid="errors.length ? true : false"
                  :inputStyle="{ padding: '1rem' }"
                  @update:model-value="handleChange"
                  @blur="handleBlur"
                  @keyup.enter="onSubmit"
                />
                <div class="text-xs text-red-500 mt-1">{{ errorMessage }}</div>
                <div class="text-sm flex justify-content-end">
                  <NuxtLink to="/auth/forgot-password" class="text-primary font-medium ml-2">восстановить пароль</NuxtLink>
                </div>
              </Field>
            </div>

            <Button :disabled="isSubmitting" :loading="isSubmitting" @click="onSubmit" label="Войти" class="w-full p-3 text-md"></Button>
          </div>
          <div class="flex mt-4 text-sm flex-column">
            <div>У вас нет аккаунта? <NuxtLink to="/auth/register" class="text-primary font-medium ml-2">Зарегистрируйтесь</NuxtLink></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.pi-eye {
  transform: scale(1.6);
  margin-right: 1rem;
}
.pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
}
</style>
