<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import { useServiceStore } from '~/stores/service.store';
import type { ICompany } from '~/types/company.type';
import type { IService } from '~/types/service.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Услуги',
  breadcrumb: 'Услуги',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_SERVICE]
});
//Common
const toast = useToast();
const route = useRoute();
const isLoading = ref(true);

//Stores & hooks
const companyStore = useCompanyStore();
const servicesStore = useServiceStore();
//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => companyStore.item as ICompany);
const services = computed<IService[]>(() => servicesStore.list || []);
const companyServices = computed<number[]>(() => companyStore.services.map((service) => service.id));

onBeforeMount(async () => {
  isLoading.value = true;
  fetchCompany();
  fetchServices();
  isLoading.value = false;
});
const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await companyStore.fetchItem(Number(company_id));
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchServices = async () => {
  isLoading.value = true;
  try {
    await servicesStore.fetchAll();
    if (company.value?.id) {
      await companyStore.fetchServices(company.value.id);
    }
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title
      >{{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Услуги</template
    >

    <template #body>
      <div class="grid">
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock :company="company" active="Услуги" />
        </div>
        <div class="col-12 md:col-9">
          <CompaniesServices :loading="isLoading" :company="company" :serviceList="services" :companyServices="companyServices" />
        </div>
      </div>
    </template>
  </app-page>
</template>
