<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref } from 'vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import type { ICompany } from '~/types/company.type';
import { CABINET_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Моя компания',
  permissions: [CABINET_PERMISSIONS.CABINET_MY_COMPANY_EDIT]
});

//Common
const toast = useToast();
const isFetching = ref<boolean>(true);
const submitted = ref<boolean>(false);

//hooks & stores

const cabinetStore = useCabinetStore();
const company = computed<ICompany | undefined>(() => cabinetStore.company);

onMounted(async () => {
  try {
    await cabinetStore.fetchCompany();

    isFetching.value = false;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
});
const saveCompany = async () => {
  submitted.value = true;
  try {
    if (!company.value) return;
    const isNew = !company.value.id;

    await cabinetStore.updateCompany({
      title: company.value.title,
      type_id: company.value.type.id,
      image: company.value.image,
      metadata: company.value.metadata,
      is_verified: company.value.is_verified
    });
    getToasts(toast).success(isNew ? 'Компания успешно создана' : 'Информация успешно обновлена');
    submitted.value = false;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const changeLogo = async (avatarPath: string) => {
  if (company.value) {
    company.value.image = avatarPath;
  }
};
</script>
<template>
  <div>
    <Head>
      <Title>{{ company?.title }}</Title>
    </Head>
    <div class="card inline-flex w-full lg:w-9">
      <div class="flex flex-column gap-2 w-full" v-if="company">
        <div class="font-bold text-xl mb-2">Ваша компания: {{ company.title }} ({{ company.type.title }})</div>

        <div class="field w-full">
          <CommonAvatar class="w-8rem h-8rem" edit :img="company.image" @upload:file="changeLogo" />
        </div>

        <div class="field w-full">
          <label for="first_name" class="block text-900 font-medium text-md mb-2">Название</label>
          <InputText
            id="first_name"
            class="w-full"
            v-model.trim="company.title"
            required="true"
            autofocus
            :invalid="submitted && !company.title"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !company.title">Обазательно для заполнения</small>
        </div>

        <div class="flex flex-column">
          <div class="font-bold text-xl mb-2">Дополнительная информация</div>
          <div class="field">
            <label for="address" class="block text-900 font-medium text-md mb-2">Адрес</label>
            <InputText
              id="address"
              v-model.trim="company.metadata.address"
              required="true"
              autofocus
              class="w-full"
              :invalid="submitted && !company.metadata.address"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !company.metadata.address">Обазательно для заполнения</small>
          </div>
          <div class="flex gap-2 w-full md:flex-row flex-column">
            <div class="field w-full">
              <label for="phone" class="block text-900 font-medium text-md mb-2">Телефон</label>
              <InputMask
                id="phone"
                mask="+7 (999) 999-9999"
                placeholder="+7 (999) 999-9999"
                v-model="company.metadata.phone"
                class="w-full"
                required="true"
                autofocus
                :invalid="submitted && !company.metadata.phone"
              />

              <small class="p-invalid text-red-600" v-if="submitted && !company.metadata.phone">Обазательно для заполнения</small>
            </div>
            <div class="field w-full">
              <label for="email" class="block text-900 font-medium text-md mb-2">Email</label>
              <InputText
                id="email"
                v-model.trim="company.metadata.email"
                required="true"
                class="w-full"
                autofocus
                :invalid="submitted && !company.metadata.email"
              />
              <small class="p-invalid text-red-600" v-if="submitted && !company.metadata.email">Обазательно для заполнения</small>
            </div>
          </div>
        </div>
        <div class="flex justify-content-end">
          <Button label="Сохранить" severity="info" icon="pi pi-check" @click="saveCompany" />
        </div>
      </div>
    </div>
  </div>
</template>
