<script setup lang="ts">
import FileUpload from 'primevue/fileupload';
import type { PropType } from 'vue';

const emits = defineEmits(['upload:file']);

const props = defineProps({
  edit: {
    type: Boolean as PropType<boolean>
  },
  img: {
    type: String as PropType<string>
  },
  alt: {
    type: String as PropType<string>
  },
  class: {
    type: String as PropType<string>,
    default: ''
  }
});

const file = ref();
const avatarSrc = ref(props.img);

const upload = () => {
  file.value.choose();
};

const fileService = useFile();

const onSelect = async (image: { files: File[] }) => {
  const img = image.files[0];
  const imgPath = await fileService.uploadFile(img);
  debugger;
  if (imgPath) {
    avatarSrc.value = imgPath as string;
    emits('upload:file', imgPath);
  }
};

const deleteFile = async () => {
  if (!avatarSrc.value) return;
  const trimmedUrl = avatarSrc.value.substring(avatarSrc.value.indexOf('uploads/'));
  try {
    await fileService.deleteFile(trimmedUrl);
    avatarSrc.value = undefined;

    emits('upload:file', undefined);
  } catch (e) {
    console.log(e);
  }
};
</script>
<template>
  <div class="border-circle bg-primary relative flex justify-content-center align-items-center" :class="class">
    <img v-if="avatarSrc" :src="fileUrl(avatarSrc)" :alt="alt" class="w-full h-full border-circle" />
    <template v-else>
      <span v-if="alt" class="text-3xl">
        {{ alt[0] }}
      </span>
      <i v-else class="pi pi-user text-3xl"></i>
    </template>
    <template v-if="edit">
      <FileUpload
        ref="file"
        mode="basic"
        chooseLabel="Выберите файл"
        uploadLabel="Загрузить"
        cancelLabel="Отмена"
        @select="onSelect"
        :multiple="false"
        accept="image/*"
        :maxFileSize="1000000"
        class="hidden"
      />

      <Button
        v-if="avatarSrc"
        unstyled
        @click="deleteFile()"
        class="bg-transparent border-none cursor-pointer bg-red-600 text-white border-circle absolute bottom-0 right-0 border-1 border-red-600 w-2rem h-2rem hover:bg-white hover:text-red-600 hover:border-red-600"
      >
        <i class="pi pi-trash text-xs"></i>
      </Button>
      <Button
        v-else
        unstyled
        @click="upload"
        class="bg-transparent border-none cursor-pointer bg-primary-reverse border-circle absolute bottom-0 right-0 border-1 border-primary w-2rem h-2rem hover:bg-primary hover:text-white hover:border-white"
      >
        <i class="pi pi-pencil text-xs"></i>
      </Button>
    </template>
  </div>
</template>
