<script setup>
const route = useRoute();

const { getBreadcrumbs } = useBreadcrumbs();
const homePage = { icon: 'pi pi-home', to: '/' };
const breadcrumbs = ref([]);

const breadcrumbsList = computed(() => {
  if (breadcrumbs.value.length > 6) {
    return [
      ...breadcrumbs.value.slice(1, 2),
      {
        label: '...'
      },
      ...breadcrumbs.value.slice(-3)
    ];
  } else {
    return breadcrumbs.value.slice(1);
  }
});

watch(
  () => ({
    path: route.path,
    name: route.name,
    meta: route.meta,
    matched: route.matched
  }),
  async (route) => {
    if (route.path === '/') return;

    breadcrumbs.value = await getBreadcrumbs(route.path, route.meta.title);
  },
  { deep: true, immediate: true }
);
</script>
<template>
  <div class="mt-0 mb-4">
    <ol class="list-none text-sm flex align-items-center p-0 m-0 gap-2" data-pc-section="menu">
      <template v-for="(breadcrumb, index) in breadcrumbsList" :key="index">
        <li class="p-menuitem" data-pc-section="menuitem">
          <NuxtLink :to="breadcrumb.path" class="text-700">
            {{ breadcrumb.label }}
          </NuxtLink>
        </li>
        <li class="p-menuitem-separator" data-pc-section="separator" v-if="index < breadcrumbsList.length - 1">
          <span class="pi pi-angle-right"></span>
        </li>
      </template>
    </ol>
  </div>
</template>
