<script setup lang="ts">
import type { PropType } from 'vue';

const props = defineProps({
  name: {
    type: String as PropType<string>
  },
  avatar: {
    type: String as PropType<string>
  },
  hideName: {
    type: Boolean as PropType<boolean>,
    default: false
  },
  imageClass: {
    type: String as PropType<string>,
    default: 'w-1rem h-1rem'
  }
});
</script>
<template>
  <div class="flex align-items-center gap-1">
    <div class="overflow-hidden border-circle" :class="imageClass">
      <img v-if="avatar" :src="fileUrl(avatar)" :alt="name" class="w-full h-full" />
      <span v-else class="w-full h-full bg-primary text-xs flex align-items-center justify-content-center">
        {{ name[0] }}
      </span>
    </div>
    <div class="text-sm" v-if="!hideName">{{ name }}</div>
  </div>
</template>
