<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { useToast } from 'primevue/usetoast';
import { CABINET_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Кабинет',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_ORDER]
});

const toast = useToast();

const filters = ref<any>({});
const submitted = ref<boolean>(false);
const isFetching = ref<boolean>(true);

onBeforeMount(() => {
  initFilters();
});

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};

const requestFilter = ref<IOrderFilter>({
  created_at_range: [],
  finished_at_range: [],
  statuses: [],
  services: [],
  customers: [],
  patients: [],
  responsibles: [],
  executors: [],
  creators: []
});

const orderViewMode = ref<'list' | 'grid'>('list');
const modes = ref<{ label: string; value: string; icon: string }[]>([
  {
    label: 'Список',
    value: 'list',
    icon: 'pi pi-align-justify'
  },
  {
    label: 'Сетка',
    value: 'grid',
    icon: 'pi pi-th-large'
  }
]);
const onChangeOrderViewMode = (value: 'list' | 'grid') => {
  orderViewMode.value = value;
};

//Stores & services
const userService = useUsers();

const orderStore = useOrderStore();
const serviceStore = useServiceStore();
const patientStore = usePatientStore();
const authStore = useAuthStore();

//Dialogs && sidebars

const filterSidebar = ref<boolean>(false);

//Data
const currentUser = computed(() => authStore.user);
const currentUserRole = computed<any>(() => authStore.role || null);

//filter data
const statuses = computed<IOrderStatus[]>(() => orderStore.statuses || []);
const patients = computed<IPatient[]>(() => patientStore.list || []);
const creators = ref<any[]>([]);
const customers = ref<any[]>([]);
const responsibles = ref<any[]>([]);
const executors = ref<any[]>([]);

onMounted(async () => {
  isFetching.value = true;
  try {
    await orderStore.fetchStatuses();
    await patientStore.fetchAll();
    await serviceStore.fetchAll();

    await applyFilter();

    if (currentUser.value?.company?.id) {
      creators.value = await userService.fetchCompanyUsers(currentUser.value.company.id, {
        role_ids: [ROLES[Role.Admin], ROLES[Role.Doctor], ROLES[Role.SuperAdmin]]
      });
      responsibles.value = await userService.fetchCompanyUsers(currentUser.value.company.id, { role_ids: [ROLES[Role.MainTechnic]] });
      executors.value = await userService.fetchCompanyUsers(currentUser.value.company.id, { role_ids: [ROLES[Role.Technic]] });
      customers.value = await userService.fetchCompanyUsers(currentUser.value.company.id, { role_ids: [ROLES[Role.Doctor]] });
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
  }
});

const openNew = () => {
  navigateTo('/cabinet/orders/create');
};

const applyFilter = async () => {
  isFetching.value = true;
  try {
    await orderStore.fetchAll(_prepareFilter(requestFilter.value));
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
    filterSidebar.value = false;
  }
};
const _prepareFilter = (orderFilter: IOrderFilter): IOrderFilterDto => {
  const { statuses, created_at_range, finished_at_range, services, customers, patients, responsibles, executors, creators } = orderFilter;
  const oFilter: any = {
    status_id: statuses ? statuses.map((status) => status.id) : [],
    service_id: services ? services.map((service) => service.id) : [],
    customer_id: customers ? customers.map((customer) => customer.id) : [],
    patient_uid: patients ? patients.map((patient) => patient.uid) : [],
    responsible_id: responsibles ? responsibles.map((technic) => technic.id) : [],
    executor_id: executors ? executors.map((executor) => executor.id) : [],
    creator_id: creators ? creators.map((creator) => creator.id) : []
  };
  if (created_at_range && created_at_range[0] && created_at_range[1]) {
    oFilter['created_at_range'] = {
      from: created_at_range[0],
      to: created_at_range[1]
    };
  }
  if (finished_at_range && finished_at_range[0] && finished_at_range[1]) {
    oFilter['finished_at_range'] = {
      from: finished_at_range[0],
      to: finished_at_range[1]
    };
  }
  return oFilter;
};
const resetFilter = () => {
  requestFilter.value = {
    created_at_range: [],
    finished_at_range: [],
    statuses: [],
    services: [],
    customers: [],
    patients: [],
    responsibles: [],
    executors: [],
    creators: []
  };
  applyFilter();
};

const deletedShowed = ref<boolean>(false);
const showDeleted = async () => {
  isFetching.value = true;
  try {
    let filter = _prepareFilter(requestFilter.value);
    if (!deletedShowed.value) filter['deleted'] = false;

    await orderStore.fetchAll(filter);

    deletedShowed.value = !deletedShowed.value;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
    filterSidebar.value = false;
  }
};
</script>
<template>
  <div class="flex flex-column">
    <div class="card">
      <div class="flex justify-content-between gap-2">
        <h1 class="text-xl md:text-3xl">
          {{ deletedShowed ? 'Удаленные заказы' : 'Заказы' }}
        </h1>
      </div>
      <div class="flex justify-content-between flex-column sm:flex-row">
        <div class="flex gap-2 w-full flex-wrap">
          <IconField iconPosition="left" class="w-full md:w-auto">
            <InputIcon class="pi pi-search" />
            <InputText v-model="filters['global'].value" placeholder="Поиск..." class="w-full" />
          </IconField>
          <SelectButton :modelValue="orderViewMode" @update:modelValue="onChangeOrderViewMode" :options="modes" optionValue="value">
            <template #option="{ option }">
              <i :class="option.icon"></i>
            </template>
          </SelectButton>

          <Button size="small" label="Добавить" icon="pi pi-plus" class="md:mr-2 w-full md:w-auto" severity="info" @click="openNew" />
        </div>
      </div>
      <hr />
      <OrderDesc />
    </div>
    <!-- Filter -->
    <Sidebar
      v-model:visible="filterSidebar"
      :baseZIndex="1000"
      position="right"
      width="450px"
      header="Фильтр по заказам"
      :showCloseIcon="true"
    >
      <div class="flex flex-column justify-content-between h-full">
        <div class="flex flex-column">
          <div class="field">
            <label for="status" class="block font-medium">Дата создания</label>
            <Calendar
              v-model="requestFilter.created_at_range"
              placeholder="Выберите дату"
              selectionMode="range"
              :manualInput="false"
              dateFormat="dd.mm.yy"
            />
          </div>
          <div class="field">
            <label for="status" class="block font-medium">Дата завершения</label>
            <Calendar
              v-model="requestFilter.finished_at_range"
              placeholder="Выберите дату"
              selectionMode="range"
              :manualInput="false"
              dateFormat="dd.mm.yy"
            />
          </div>

          <div class="field">
            <label for="status" class="block font-medium">Статус заказа</label>
            <MultiSelect
              v-model="requestFilter.statuses"
              :options="statuses"
              display="chip"
              optionLabel="name"
              filter
              placeholder="Выберите статус"
              class="w-full"
            />
          </div>

          <div class="field">
            <label for="creator" class="block font-medium">Автор</label>
            <MultiSelect
              display="chip"
              v-model="requestFilter.creators"
              :options="creators"
              filter
              placeholder="Автор заказа"
              class="w-full"
            >
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите автора</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field">
            <label for="patient" class="block font-medium">Пациент</label>
            <MultiSelect v-model="requestFilter.patients" display="chip" :options="patients" filter placeholder="Пациент" class="w-full">
              <template #chip="slotProps">
                {{ slotProps.value.fio }}
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите пациента</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.fio }}
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field">
            <label for="customer" class="block font-medium">Клиент</label>
            <MultiSelect v-model="requestFilter.customers" display="chip" :options="customers" filter placeholder="Клиент" class="w-full">
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите клиента</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field">
            <label for="responsible" class="block font-medium">Старший техник</label>
            <MultiSelect
              v-model="requestFilter.responsibles"
              display="chip"
              :options="responsibles"
              filter
              placeholder="Старший техник"
              class="w-full"
            >
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите техника</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field">
            <label for="executor" class="block font-medium">Техник</label>
            <MultiSelect v-model="requestFilter.executors" display="chip" :options="executors" filter placeholder="Техник" class="w-full">
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите техника</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <Button label="Применить" class="flex-auto" outlined @click="applyFilter" />
          <Button label="Очистить" class="flex-auto" severity="danger" text @click="resetFilter" />
        </div>
      </div>
    </Sidebar>
  </div>
</template>
<style scoped>
.column-width {
  min-width: 320px;
  width: 320px;
}

.ghost-card {
  opacity: 0.5;
  background: #f7fafc;
  border: 1px solid #4299e1;
}
</style>
