<script lang="ts" setup>
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useAuthStore } from '~/stores/auth.store';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useOrderStore } from '~/stores/order.store';
import { COMPANY_TYPES, type ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder, IOrderFilterDto, IOrderStatus } from '~/types/order.type';
import type { IService } from '~/types/service.type';
import { CABINET_PERMISSIONS, type IUser } from '~/types/user.type';
import { hasPermission } from '~/utils/helper.utils';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Заказы',
  breadcrumb: 'Заказы',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_ORDER]
});
//Common
const route = useRoute();
const isLoading = ref(true);
const toast = useToast();

//Stores & hooks
const cabinetStore = useCabinetStore();
const ordersStore = useOrderStore();
const authStore = useAuthStore();
//Data
const currentUser = computed(() => authStore.user);
const { company_id } = route.params;
const company = computed<ICompany | undefined>(() => cabinetStore.company);
const orders = computed<IOrder[]>(() => cabinetStore.orders || []);
const services = computed<IService[]>(() => cabinetStore.services || []);
const statuses = computed<IOrderStatus[]>(() => ordersStore.statuses || []);
const clinics = ref<ICompany[]>([]);

const patients = computed<IPatient[]>(() => cabinetStore.patients || []);
const creators = ref<IUser[]>([]);
const customers = ref<IUser[]>([]);
const responsibles = ref<IUser[]>([]);
const executors = ref<IUser[]>([]);
onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  if (hasPermission(CABINET_PERMISSIONS.CABINET_VIEW_SERVICE)) {
    cabinetStore.fetchServices();
  }
  if (hasPermission(CABINET_PERMISSIONS.CABINET_VIEW_CLINICS)) {
    cabinetStore.fetchClinics();
  }
  if (hasPermission(CABINET_PERMISSIONS.CABINET_VIEW_ORDER)) {
    cabinetStore.fetchOrders();
  }
  if (hasPermission(CABINET_PERMISSIONS.CABINET_VIEW_PATIENT) && company.value) {
    await cabinetStore.fetchPatients(company.value.id);
  }
  ordersStore.fetchStatuses();

  isLoading.value = false;
});

const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await cabinetStore.fetchCompany();
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const applyFilter = async (requestFilter: IOrderFilterDto) => {
  isLoading.value = true;
  if (!company.value) return;
  try {
    await cabinetStore.fetchOrders(requestFilter);
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};

const openOrder = (order: IOrder) => {
  if (!company.value) return;
  navigateTo(`/cabinet/orders/${order.id}`);
};
const openPatient = (clinic: ICompany, patient: IPatient) => {
  if (!company.value) return;
  navigateTo(`/cabinet/patients/${patient.uid}`);
};
const openCustomer = (customer: IUser) => {
  if (!customer.company) return;

  if (customer.id === currentUser.value?.id) {
    navigateTo(`/profile`);
    return;
  }
  if (company.value?.type.id === COMPANY_TYPES.PHARMACY) {
    navigateTo(`/cabinet/users/${customer.id}`);
  } else {
    navigateTo(`/cabinet/clinics/${customer.company.id}/users/${customer.id}`);
  }
};
const openNew = () => {
  if (!company.value) return;
  navigateTo(`/cabinet/orders/create`);
};
const openClinic = (clinic: ICompany) => {
  if (clinic.id === company.value?.id) {
    return;
  } else {
    navigateTo(`/cabinet/clinics/${clinic.id}`);
  }
};
const deleteOrder = async (order: IOrder, reason: string) => {
  if (!order || !order?.id) return;

  if (reason === '') {
    getToasts(toast).error('Причина удаления не может быть пустым');
    return;
  }
  await ordersStore.delete(Number(company_id), order.id, reason);
};
const changeStatus = async (order: IOrder) => {
  try {
    const newOrder = await cabinetStore.updateOrder({
      id: order.id,
      description: order.description,
      customer_id: order.customer.id,
      patient: order.patient,
      responsible_id: order.responsible?.id || null,
      executor_id: order.executor?.id || null,
      status_id: order.status.id,
      finish_at: order.finish_at || undefined
    });
    getToasts(toast).success('Статус изменен');
    return newOrder;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title
      >{{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Заказы</template
    >
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <CompaniesOrders
        :orders="orders"
        :loading="isLoading"
        :statuses="statuses"
        :services="services"
        :patients="patients"
        :creators="creators"
        :customers="customers"
        :responsibles="responsibles"
        :executors="executors"
        :applyFilter="applyFilter"
        :deleteOrder="deleteOrder"
        :openNew="openNew"
        :openOrder="openOrder"
        :openClinic="openClinic"
        :openPatient="openPatient"
        :openCustomer="openCustomer"
        :changeStatus="changeStatus"
        :readonly="true"
      />
    </template>
  </app-page>
</template>
