<script setup lang="ts">
const emit = defineEmits(['update:modelValue']);
const props = defineProps({
  modelValue: {
    type: String
  },
  options: {
    type: Array as PropType<any[]>
  }
});
const internalValue = ref(props.modelValue);
const groupByOptions = computed(() => {
  return props.options?.reduce((acc: any, obj: any) => {
    const prefix = obj.name.replace(/[^a-zA-Z]/g, '');
    if (!acc[prefix]) {
      acc[prefix] = [];
    }
    acc[prefix].push(obj);
    return acc;
  }, {});
});
const changeValue = (color: string) => {
  internalValue.value = color;
  emit('update:modelValue', internalValue.value);
};
</script>

<template>
  <div class="flex flex-column gap-2">
    <div v-for="(item, index) in groupByOptions" :key="index" class="flex align-items-center m-0 gap-3">
      <div class="font-medium text-md w-2rem">
        {{ index }}
      </div>
      <div
        v-for="(color, index) in item"
        :key="index"
        class="justify-content-center flex flex-column align-items-center cursor-pointer"
        @click="changeValue(color.name)"
      >
        <div
          class="w-2rem h-2rem border-3 border-transparent border-round-xl"
          :style="`background-color: ${FIELD_COLORS[color.name]};`"
          :class="{ 'border-primary': color.name === internalValue }"
        ></div>
        <span class="text-xs">
          {{ color.name }}
        </span>
      </div>
    </div>
  </div>
</template>
