<script setup lang="ts">
const props = defineProps({
  values: {
    type: [Object, Array, Number, String, Boolean] as PropType<IOrderMetadata[]>
  }
});

const internalValue = ref<Record<number, any>>();
const downloadFile = (value: string) => {
  window.open(value, '_blank');
};
const isOpenStl = ref<boolean>(false);
</script>
<template>
  <div class="flex flex-column gap-1">
    <div v-for="field in values" :key="field.id">
      <template v-if="field.type === FieldType.TOOTH">
        <FieldTooth v-model="field.value" disabled />
      </template>
      <template v-else-if="field.type === FieldType.TOOTH_DETAILS">
        <FieldToothDetail v-model="field.value" disabled />
      </template>
      <template v-else-if="field.type === FieldType.FILE">
        <UiFileDisplay :name="field.name" :value="field.value" />
      </template>
      <template v-else-if="field.type === FieldType.IMAGE">
        <div class="flex gap-2 align-items-center border-1 border-dashed border-round-lg border-gray-300 relative py-1">
          <div class="flex-grow-0">
            <Image :src="fileUrl(field.value)" preview imageClass="w-4rem" />
          </div>
          <div class="w-full font-medium">{{ field.name }}</div>

          <Button
            unstyled
            @click="downloadFile(fileUrl(field.value))"
            class="bg-transparent border-none cursor-pointer bg-blue-600 text-white border-circle absolute right-0 top-0 mt-3 mr-2 border-1 border-blue-600 w-2rem h-2rem hover:bg-white hover:text-blue-600 hover:border-blue-600"
          >
            <i class="pi pi-download text-xs"></i>
          </Button>
        </div>
      </template>
      <template v-else-if="field.type === FieldType.BOOLEAN">
        <div class="grid">
          <div class="col-7">
            <div class="font-bold text-md w-15rem">{{ field.name }}:</div>
          </div>
          <div class="col-5">
            {{ field.value ? 'Да' : 'Нет' }}
          </div>
        </div>
      </template>
      <template v-else-if="field.type === FieldType.COLOR">
        <div class="grid">
          <div class="col-7">
            <div class="font-bold text-md w-15rem">{{ field.name }}:</div>
          </div>
          <div class="col-5">
            <div
              class="w-2rem h-2rem border-3 border-primary border-transparent border-round-xl"
              :style="`background-color: ${FIELD_COLORS[field.value]};`"
            ></div>
            <span class="text-xs">
              {{ field.value }}
            </span>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="grid">
          <div class="col-7">
            <div class="font-bold text-md w-15rem">{{ field.name }}:</div>
          </div>
          <div class="col-5">
            <div>{{ field.value }}</div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
