<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { getToasts } from '~/utils/vue.utils';

const emits = defineEmits(['update:value']);

const props = defineProps({
  edit: {
    type: Boolean as PropType<boolean>
  },
  value: {
    type: String as PropType<string | number | boolean | unknown[] | Record<string, any> | undefined>
  },
  maxSize: {
    type: Number as PropType<number>,
    default: 1000000000
  },
  accept: {
    type: String as PropType<string>,
    default: ''
  }
});
//hooks & stores
const toast = useToast();
const fileService = useFile();

//Refs
const fileRef = ref();

//Common
const isUploading = ref(false);
const isDeleting = ref(false);

//Data
const fileSrc = ref(props.value);
const fileName = computed(() => {
  if (typeof fileSrc.value === 'string') {
    return fileSrc.value.substring((fileSrc.value as string)?.indexOf('uploads/'));
  }
  return '';
});

const onUploadHandler = () => {
  fileRef.value.choose();
};
const onSelect = async (itemFile: { files: File[] }) => {
  const inputFile = itemFile.files[0];
  isUploading.value = true;
  try {
    const uploadedFile = await fileService.uploadFile(inputFile);

    if (inputFile) {
      fileSrc.value = uploadedFile as string;
      emits('update:value', uploadedFile);
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isUploading.value = false;
  }
};
const deleteFile = async () => {
  if (!fileSrc.value) return;
  if (typeof fileSrc.value === 'string') {
    const trimmedUrl = fileSrc.value.substring((fileSrc.value as string)?.indexOf('uploads/'));
    isDeleting.value = true;
    try {
      await fileService.deleteFile(trimmedUrl);
      fileSrc.value = undefined;
      fileRef.value.clear();

      emits('update:value', undefined);
    } catch (e) {
      console.log(e);
    } finally {
      isDeleting.value = false;
    }
  }
};
</script>
<template>
  <div class="flex gap-2 align-items-center border-1 border-dashed border-round-lg border-gray-300 relative" v-if="fileSrc">
    <div class="w-full h-full absolute flex flex-column justify-content-center align-items-center bg-black-alpha-20" v-if="isDeleting">
      <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem"></i>
    </div>
    <div class="flex-grow-0">
      <img :src="`/images/files/file-default.svg`" class="w-4rem h-4rem" />
    </div>
    <div class="w-full font-medium">{{ truncateText(fileName, 5, 8) }}</div>

    <Button
      unstyled
      @click="deleteFile"
      class="bg-transparent border-none cursor-pointer bg-red-600 text-white border-circle absolute right-0 top-0 mt-3 mr-2 border-1 border-red-600 w-2rem h-2rem hover:bg-white hover:text-red-600 hover:border-red-600"
    >
      <i class="pi pi-trash text-xs"></i>
    </Button>
  </div>
  <div
    v-else
    class="flex gap-2 align-items-center border-1 border-dashed border-round-lg border-gray-300 cursor-pointer relative overflow-hidden"
    @click="onUploadHandler"
  >
    <div class="w-full h-full absolute flex flex-column justify-content-center align-items-center bg-black-alpha-20" v-if="isUploading">
      <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem"></i>
    </div>
    <div class="flex-grow-0 w-4rem h-4rem flex justify-content-center align-items-center">
      <i class="pi pi-upload text-2xl text-primary"></i>
    </div>
    <div class="w-full font-medium">Выберите файл | формата: {{ accept }}</div>
  </div>

  <FileUpload
    ref="fileRef"
    mode="basic"
    chooseLabel="Выберите файл"
    uploadLabel="Загрузить"
    cancelLabel="Отмена"
    @select="onSelect"
    :multiple="false"
    :accept="accept"
    :showUploadButton="true"
    :showCancelButton="true"
    :disabled="isUploading"
    :maxFileSize="maxSize"
    class="hidden"
  />
</template>
