<script setup lang="ts">
import { onMounted, ref, watch, type PropType } from 'vue';
import { type IField } from '~/types/field.type';

const emit = defineEmits(['update:value', 'resetChildrenValue']);

const props = defineProps({
  fields: {
    type: Array as PropType<IField[]>
  },
  value: {
    type: [Object, Array, Number, String, Boolean] as PropType<any[]>
  }
});

const internalValue = ref<Record<number, any>>();

onMounted(async () => {
  internalValue.value = initialValues();
});

watch(
  () => props.fields,
  (newValue: any) => {
    internalValue.value = initialValues();
  },
  { deep: true }
);

watch(
  () => internalValue.value,
  (newValue: any) => {
    emit('update:value', newValue);
  }
);

const initialValues = (): Record<number, any> => {
  const _values: Record<number, any> = {};
  props.fields?.forEach((field: IField) => {
    _values[field.id] = props.value ? props.value[field.id] : null;
  });

  return _values;
};
const resetChildrenValue = (field: IField) => {
  if (props.fields) {
    const childrenIds = getChildIds(props.fields, field.id);
    Object.entries(internalValue.value).forEach(([id, value]) => {
      if (childrenIds.includes(Number(id))) {
        internalValue.value[id] = null;
      }
    });
  }
};
const getChildIds = (items: any[], parentId: number): number[] => {
  const directChildren = items.filter((item) => item.parent_id === parentId);
  const childIds = directChildren.reduce((acc, child) => {
    return [...acc, child.id, ...getChildIds(items, child.id)];
  }, []);

  return childIds;
};
</script>
<template>
  <div class="grid">
    <template v-for="(field, index) in fields" :key="index">
      <template v-if="internalValue">
        <template v-if="!field.display_conditions">
          <FieldItem :field="field" v-model:value="internalValue[field.id]" @resetChildrenValue="resetChildrenValue" />
        </template>
        <template v-else-if="field.display_conditions && field.parent_id && internalValue[field.parent_id] === field.display_conditions">
          <FieldItem :field="field" v-model:value="internalValue[field.id]" @resetChildrenValue="resetChildrenValue" />
        </template>
      </template>
    </template>
  </div>
</template>
