<script setup lang="ts">
const emit = defineEmits(['update:value', 'resetChildrenValue']);
const props = defineProps({
  field: {
    type: Object as PropType<IField>
  },
  value: {
    type: [Object, Array, Number, String, Boolean]
  }
});

const internalValue = ref(props.value);
const directoryStore = useDirectoryStore();

const authStore = useAuthStore();
const currentUser = computed(() => authStore.user);
onBeforeMount(async () => {
  await directoryStore.fetchAll();
});
const directories = computed<IDirectory[]>(() => directoryStore.list || []);

const getOptions = (directory_id: number): any[] => {
  const options = directories.value.find((directory: IDirectory) => directory.id === directory_id)?.options;

  if (!options) return [];

  return options.map((item: string) => {
    return {
      name: item
    };
  });
};
watch(
  () => internalValue.value,
  (newValue: any, oldValue: any) => {
    emit('resetChildrenValue', props.field);
    emit('update:value', newValue);
  }
);
</script>
<template>
  <div class="field" :class="field.metadata?.class" v-if="field">
    <template v-if="field.type === FieldType.TITLE || field.type === FieldType.DELIMITER">
      <template v-if="field.type === FieldType.TITLE">
        <div class="text-900 text-xl font-medium">
          {{ field.name }}
        </div>
      </template>
    </template>
    <template v-else>
      <label class="flex align-items-center text-900 text-md font-medium mb-2" style="min-height: 35px">
        {{ field.name }}
        <small v-if="field.required" v-tooltip.bottom="field.required ? 'Поле обязательное для заполнения' : ''" class="ml-2 text-red-500">
          *
        </small>
      </label>
      <template v-if="field.type === FieldType.BOOLEAN">
        <div class="flex gap-2 align-items-center">
          <InputSwitch v-model="internalValue" />
          <label class="font-medium">{{ field.name }} </label>
        </div>
      </template>
      <template v-if="field.type === FieldType.DATE">
        <Calendar v-model="internalValue" :required="field.required" :show-time="true" hour-format="24" class="w-full" />
      </template>
      <template v-if="field.type === FieldType.INPUT">
        <InputText v-model="internalValue" type="text" :required="field.required" placeholder="Введите значение" class="w-full" />
      </template>
      <template v-if="field.type === FieldType.FILE">
        <FieldFile edit :accept="field.metadata?.extensions || ''" v-model:value="internalValue" :required="field.required" />
      </template>
      <template v-if="field.type === FieldType.IMAGE">
        <FieldImage edit :accept="field.metadata?.extensions || ''" v-model:value="internalValue" :required="field.required" />
      </template>
      <template v-if="field.type === FieldType.COLOR && field.directory_id">
        <FieldColor :options="getOptions(field.directory_id)" v-model="internalValue" :required="field.required" />
      </template>
      <template v-if="field.type === FieldType.TOOTH">
        <FieldTooth v-model="internalValue" :required="field.required" edit />
      </template>
      <template v-if="field.type === FieldType.TOOTH_DETAILS">
        <FieldToothDetail v-model="internalValue" :required="field.required" edit />
      </template>
      <template v-if="field.type === FieldType.OPTION && field.directory_id">
        <template v-if="getOptions(field.directory_id).length < 5">
          <SelectButton
            :required="field.required"
            v-model="internalValue"
            :options="getOptions(field.directory_id)"
            optionLabel="name"
            optionValue="name"
            :multiple="field.multiple"
          />
        </template>
        <template v-else>
          <MultiSelect
            v-if="field.multiple"
            :required="field.required"
            v-model="internalValue"
            :options="getOptions(field.directory_id)"
            display="chip"
            optionLabel="name"
            optionValue="name"
            placeholder="Выберите"
            filter
            class="w-full"
          />
          <Dropdown
            v-else
            v-model="internalValue"
            filter
            :required="field.required"
            :options="getOptions(field.directory_id)"
            optionLabel="name"
            optionValue="name"
            placeholder="Выберите"
            class="w-full"
          />
        </template>
      </template>

      <template v-if="field.required">
        <small class="text-xs text-primary">* Обязательное поле</small>
      </template>
    </template>
  </div>
</template>
