<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, ref } from 'vue';
import { getToasts } from '~/utils/vue.utils';

// PROPS
const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  item: {
    type: Object as PropType<ICreateUserDto>,
    required: true
  },
  visible: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  companies: {
    type: Array as PropType<ICompany[]>,
    required: true
  },
  roles: {
    type: Array as PropType<IRole[]>,
    required: true
  }
});

//Common
const toast = useToast();
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const isNew = computed<boolean>(() => !itemData.value?.id);

//Hooks & Stores

const usersStore = useUsersStore();

//Data
const itemData = computed<ICreateUserDto>(() => props.item as ICreateUserDto);

const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = () => {
  if (!itemData.value?.email) {
    return false;
  }
  if (!itemData.value?.company_id) {
    return false;
  }
  if (
    !itemData.value.id &&
    (!itemData.value?.password || !itemData.value?.confirm_password || itemData.value?.password !== itemData.value?.confirm_password)
  ) {
    return false;
  }
  if (!itemData.value?.role_id) {
    return false;
  }
  return true;
};

const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;

    if (!validate()) return;
    const isNew = !itemData.value.id;

    await usersStore.save(itemData.value);
    getToasts(toast).success(isNew ? 'Пользователь успешно создан' : 'Информация успешно обновлена');

    emits('update:item', itemData.value);
    submitted.value = false;

    close();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
const changeAvatar = async (avatarPath: string) => {
  itemData.value.avatar = avatarPath;
};
</script>
<template>
  <PanelsMedium
    v-bind:visible="visible"
    @update:visible="close"
    :header="isNew ? 'Добавить пользователя' : `Пользователь: ${itemData.email}`"
    :modal="true"
    class="p-fluid"
  >
    <template #body>
      <div class="grid">
        <div class="col-12">
          <div class="flex justify-content-center">
            <CommonAvatar class="w-8rem h-8rem" edit :img="itemData.avatar" @upload:file="changeAvatar" />
          </div>
        </div>
        <div class="col-12">
          <div class="flex flex-column gap-2">
            <div class="flex gap-2 flex-column md:flex-row">
              <div class="flex flex-column gap-1 w-full">
                <label for="company" class="font-medium">Компания</label>
                <Dropdown
                  filter
                  id="company"
                  v-model.trim="itemData.company_id"
                  :options="companies"
                  optionLabel="title"
                  optionValue="id"
                  placeholder="Выберите компанию"
                />

                <small class="p-invalid text-red-600" v-if="submitted && !itemData.company_id">Обазательно для заполнения</small>
              </div>
              <div class="flex flex-column gap-1 w-full">
                <label for="role" class="font-medium">Роль</label>
                <Dropdown
                  id="role"
                  v-model.trim="itemData.role_id"
                  filter
                  :options="roles"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="Выберите роль"
                />

                <small class="p-invalid text-red-600" v-if="submitted && !itemData.role_id">Обазательно для заполнения</small>
              </div>
            </div>

            <div class="flex flex-column gap-1">
              <label for="last_name" class="font-medium">Фамилия</label>
              <InputText
                id="last_name"
                v-model.trim="itemData.last_name"
                required="true"
                autofocus
                :invalid="submitted && !itemData.last_name"
              />
              <small class="p-invalid text-red-600" v-if="submitted && !itemData.last_name">Обазательно для заполнения</small>
            </div>
            <div class="flex gap-2 flex-column md:flex-row">
              <div class="flex flex-column gap-1 w-full">
                <label for="first_name" class="font-medium">Имя</label>
                <InputText
                  id="first_name"
                  v-model.trim="itemData.first_name"
                  required="true"
                  autofocus
                  :invalid="submitted && !itemData.first_name"
                />
                <small class="p-invalid text-red-600" v-if="submitted && !itemData.first_name">Обазательно для заполнения</small>
              </div>

              <div class="flex flex-column gap-1 w-full">
                <label for="middle_name" class="font-medium">Отчество</label>
                <InputText id="middle_name" v-model.trim="itemData.middle_name" autofocus />
              </div>
            </div>
            <div class="flex flex-column gap-1">
              <label for="email" class="font-medium">Email</label>
              <InputText
                id="email"
                type="email"
                v-model.trim="itemData.email"
                required="true"
                autofocus
                :invalid="submitted && !itemData.email"
              />
              <small class="p-invalid text-red-600" v-if="submitted && !itemData.email">Обязательно для заполнения</small>
            </div>
            <template v-if="!itemData.id">
              <div class="flex gap-2 flex-column md:flex-row">
                <div class="flex flex-column gap-1">
                  <label for="password" class="font-medium">Пароль</label>
                  <Password
                    id="password"
                    placeholder="Пароль"
                    v-model.trim="itemData.password"
                    :toggleMask="true"
                    class="w-full"
                    inputClass="w-full"
                    weakLabel="Слишком простой пароль"
                    mediumLabel="Пароль средненй сложности"
                    strongLabel="Сложный пароль"
                    promptLabel="Введите пароль"
                  />
                  <small class="p-invalid text-red-600" v-if="submitted && !itemData.email">Обязательно для заполнения</small>
                </div>

                <div class="flex flex-column gap-1">
                  <label for="confirm_password" class="font-medium">Повторите пароль</label>
                  <Password
                    id="confirm_password"
                    placeholder="Пароль"
                    v-model.trim="itemData.confirm_password"
                    :toggleMask="true"
                    class="w-full"
                    inputClass="w-full"
                    :feedback="false"
                  />
                  <small class="p-invalid text-red-600" v-if="submitted && !itemData.confirm_password">Обязательно для заполнения</small>
                </div>
              </div>
            </template>
            <hr class="mb-2" />

            <div class="font-bold mb-2 text-lg">Дополнительные настройки</div>
            <div class="flex flex-column md:flex-row md:flex-wrap md:gap-5 gap-2">
              <div class="flex gap-2 align-items-center">
                <InputSwitch v-model="itemData.is_active" />
                <label class="font-medium">{{ itemData.is_active ? 'Активирован' : 'Не активирован' }}</label>
              </div>
              <div class="flex gap-2 align-items-center">
                <InputSwitch v-model="itemData.email_verified" />
                <label class="font-medium">{{ itemData.email_verified ? 'Верифицирован' : 'Не верифицирован' }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="close" />
      <Button label="Сохранить" icon="pi pi-check" :loading="isLoading" severity="info" @click="save" />
    </template>
  </PanelsMedium>
</template>
