<script setup lang="ts">
import { type PropType } from 'vue';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder } from '~/types/order.type';
import type { IUser } from '~/types/user.type';

const props = defineProps({
  user: {
    type: Object as PropType<IUser>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  orders: {
    type: Array as PropType<IOrder[]>,
    required: false
  },

  openOrder: {
    type: Function as PropType<(order: IOrder) => void>,
    required: true
  },
  openPatient: {
    type: Function as PropType<(company: ICompany, patient: IPatient) => void>,
    required: true
  },
  openCustomer: {
    type: Function as PropType<(user: IUser) => void>,
    required: true
  }
});
</script>
<template>
  <div>
    <div class="grid">
      <div class="col-12 md:col-8">
        <div class="card" v-if="user">
          <div class="flex gap-5 flex-column md:flex-row">
            <CommonAvatar class="w-8rem h-8rem" edit :img="user.avatar" />
            <div class="flex flex-column">
              <div class="flex flex-column gap-1">
                <div class="flex align-items-center gap-2">
                  <div class="flex align-items-center gap-1 font-semibold">Общая информация</div>
                </div>
                <div class="flex align-items-center gap-1">
                  <i
                    class="pi"
                    :class="{
                      'text-green-500 pi-check-circle': user.is_active,
                      'text-pink-500 pi-times-circle': !user.is_active
                    }"
                  ></i>
                  <span>{{ user.is_active ? 'Активен' : 'Неактивен' }}</span>
                </div>
                <div class="flex align-items-center gap-1">
                  <i
                    class="pi"
                    :class="{
                      'text-green-500 pi-check-circle': user.email_verified,
                      'text-pink-500 pi-times-circle': !user.email_verified
                    }"
                  ></i>
                  <span>{{ user.email_verified ? 'Верифицирован' : 'Неверифицирован' }}</span>
                </div>
                <div class="flex align-items-center gap-1">
                  <div class="font-medium">Email:</div>
                  <div>{{ user.email }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" v-if="orders">
      <div class="text-xl md:text-2xl font-semibold mb-4">Заказы пользователя</div>
      <OrderTable :orders="orders" :isFetching="loading" :openOrder="openOrder" :openPatient="openPatient" :openCustomer="openCustomer" />
    </div>
  </div>
</template>
