<script setup lang="ts">
import { format } from 'date-fns';
import Dropdown from 'primevue/dropdown';
import { useConfirm } from 'primevue/useconfirm';
import { computed, ref } from 'vue';
import { useAuthStore } from '~/stores/auth.store';
import type { ICompany } from '~/types/company.type';
import { DEFAULT_ROLE, type IAuthUser, type IChangePasswordDto, type ICreateUserDto, type IRole, type IUser } from '~/types/user.type';
const emits = defineEmits(['update:filter']);
const props = defineProps({
  loading: {
    type: Boolean as PropType<boolean>,
    default: false
  },
  deleteUser: {
    type: Function as PropType<(payload?: any) => void>,
    required: true
  },
  users: {
    type: Array as PropType<IUser[]>,
    required: true
  },
  companies: {
    type: Array as PropType<ICompany[]>,
    required: true
  },
  roles: {
    type: Array as PropType<IRole[]>,
    required: true
  }
});
//common
const confirm = useConfirm();
const submitted = ref<boolean>(false);

//Dialogs
const userDialog = ref(false);
const changePasswordDialog = ref(false);

//store
const authStore = useAuthStore();

//data
const currentUser = computed<IAuthUser>(() => authStore.user as IAuthUser);
const companies = computed<ICompany[]>(() => props.companies);
const roles = computed<IRole[]>(() => props.roles);
const filter = ref<IUserFilter>({
  search: undefined,
  is_active: undefined,
  email_verified: undefined,
  role_ids: undefined,
  company_id: undefined
});
const user = ref<ICreateUserDto>({
  email: '',
  password: '',
  confirm_password: '',
  avatar: '',
  first_name: '',
  middle_name: '',
  last_name: '',
  is_active: true,
  role_id: DEFAULT_ROLE.id,
  company_id: 0,
  email_verified: false
});

const openNew = () => {
  user.value = {
    is_active: true,
    first_name: '',
    middle_name: '',
    last_name: '',
    role_id: DEFAULT_ROLE.id,
    company_id: 0,
    email: '',
    password: '',
    confirm_password: '',
    email_verified: true
  };
  submitted.value = false;
  userDialog.value = true;
};

const hideDialog = () => {
  userDialog.value = false;
  changePasswordDialog.value = false;
  submitted.value = false;
};

const changePasswordData = ref<IChangePasswordDto>({
  user_id: user.value.id || 0,
  email: '',

  password: '',
  confirm_password: ''
});
const openChangePasswordDialog = (user: IUser) => {
  changePasswordData.value = {
    user_id: user?.id || 0,
    email: user?.email,

    password: '',
    confirm_password: ''
  };
  changePasswordDialog.value = true;
};
const editUser = (editUser: IUser) => {
  user.value = {
    id: editUser.id || 0,
    is_active: editUser.is_active || true,
    first_name: editUser.first_name || '',
    middle_name: editUser.middle_name || '',
    last_name: editUser.last_name || '',
    role_id: editUser.role?.id || DEFAULT_ROLE.id,
    company_id: editUser.company?.id || 0,
    email: editUser.email || '',
    email_verified: editUser.email_verified || false,
    password: '',
    confirm_password: ''
  };
  userDialog.value = true;
};

const confirmDeleteUser = (editUser: IUser) => {
  user.value = {
    id: editUser.id,
    is_active: editUser.is_active || true,
    first_name: editUser.first_name || '',
    middle_name: editUser.middle_name || '',
    last_name: editUser.last_name || '',
    role_id: editUser.role?.id || DEFAULT_ROLE.id,
    company_id: editUser.company?.id || 0,
    email_verified: editUser.email_verified || false,
    email: editUser.email || ''
  };
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить пользователя?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: () => props.deleteUser(user.value),
    reject: () => {
      _resetUser();
    }
  });
};
const _resetUser = () => {
  user.value = {
    is_active: true,
    first_name: '',
    middle_name: '',
    last_name: '',
    role_id: DEFAULT_ROLE.id,
    email_verified: false,
    company_id: 0,
    email: '',
    password: '',
    confirm_password: ''
  };
};
watch(
  () => filter.value,
  (newFilter) => {
    emits('update:filter', {
      ...newFilter,
      is_active: !newFilter.is_active,
      email_verified: !newFilter.email_verified
    });
  },
  { deep: true }
);
</script>
<template>
  <div>
    <div class="grid mb-2">
      <div class="col-12 sm:col-8 xl:col-6">
        <IconField iconPosition="left" class="w-full">
          <InputIcon class="pi pi-search" />
          <InputText class="w-full" v-model="filter.search" placeholder="Поиск..." />
        </IconField>
      </div>
      <div class="col-12 sm:col-4 xl:col-2">
        <Dropdown
          v-model="filter.company_id"
          filter
          :options="companies"
          optionLabel="title"
          optionValue="id"
          placeholder="Компания"
          empty-message="Компании не найдены"
          class="w-full"
        />
      </div>
      <div class="col-12 sm:col-8 xl:col-2">
        <MultiSelect
          v-model="filter.role_ids"
          filter
          :options="roles"
          optionLabel="name"
          optionValue="id"
          placeholder="Роли"
          empty-message="Роли не найдены"
          class="w-full"
        />
      </div>
      <div class="col-12 sm:col-4 xl:col-2">
        <Button size="small" label="Добавить" icon="pi pi-plus" class="w-full" style="flex-shrink: 0" severity="info" @click="openNew" />
      </div>
      <div class="col-12">
        <div class="flex align-items-center gap-2">
          <div class="flex gap-2 align-items-center">
            <Checkbox v-model="filter.is_active" binary />
            <label class="font-medium text-xs">Не активированные</label>
          </div>
          <div class="flex gap-2 align-items-center">
            <Checkbox v-model="filter.email_verified" binary />
            <label class="font-medium text-xs">Не верифицированные </label>
          </div>
        </div>
      </div>
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <DataTable
        size="small"
        :value="users"
        class="text-sm"
        dataKey="id"
        :paginator="true"
        :rows="30"
        :rowHover="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[30, 60, 90]"
        currentPageReportTemplate="{first} из {last} всего {totalRecords}"
      >
        <Column field="id" header="ID" :sortable="true" headerStyle="min-width:3rem;">
          <template #body="slotProps">
            {{ slotProps.data.id }}
          </template>
        </Column>

        <Column header="Активирован" headerStyle="width:50rem;">
          <template #body="slotProps">
            <div class="flex flex-column text-xs">
              <span class="flex align-items-center gap-1"> <b> Активирован:</b> {{ slotProps.data.is_active ? 'Да' : 'Нет' }} </span>
              <span class="flex align-items-center gap-1"> <b>Верифицирован:</b> {{ slotProps.data.is_verified ? 'Да' : 'Нет' }} </span>
            </div>
          </template>
        </Column>

        <Column field="email" header="Email" :sortable="true" headerStyle="width:16%; min-width:10rem;">
          <template #body="slotProps">
            <NuxtLink :to="`/admin/users/${slotProps.data.id}`" class="text-primary font-medium">
              <div class="flex gap-2">
                <i
                  class="pi"
                  :class="{
                    'text-green-500 pi-check-circle': slotProps.data.is_active,
                    'text-pink-500 pi-times-circle': !slotProps.data.is_active
                  }"
                ></i>
                <span>
                  {{ slotProps.data.email }}
                </span>
              </div>
            </NuxtLink>
          </template>
        </Column>
        <Column field="name" header="ФИО" headerStyle="width:29%; min-width:10rem;">
          <template #body="slotProps">
            <span class="font-medium">
              <NuxtLink :to="`/admin/users/${slotProps.data.id}`" class="text-primary font-medium">
                {{ slotProps.data.last_name }} {{ slotProps.data.first_name }} {{ slotProps.data.middle_name }}
              </NuxtLink>
            </span>
          </template>
        </Column>
        <Column field="role" header="Роль" headerStyle="width:23%; min-width:10rem;">
          <template #body="slotProps">
            <Tag
              v-if="slotProps.data.role"
              class="mr-2"
              :severity="getTagByFirstLetter(slotProps.data.role.slug)"
              :value="slotProps.data.role.name"
              :rounded="true"
            ></Tag>
          </template>
        </Column>

        <Column field="company.title" header="Компания" headerStyle="width:29%; min-width:10rem;">
          <template #body="slotProps">
            <NuxtLink :to="`/admin/companies/${slotProps.data.company?.id}`" class="text-primary font-medium">
              {{ slotProps.data.company?.title }}
            </NuxtLink>
          </template>
        </Column>

        <Column field="created_at" header="Дата регистрации" :sortable="true" headerStyle="width:14%; min-width:10rem;">
          <template #body="slotProps">
            <span v-if="slotProps.data.created_at">
              {{ format(slotProps.data.created_at, 'dd-MM-yyyy') }}
            </span>
          </template>
        </Column>
        <Column headerStyle="min-width:2rem;">
          <template #body="slotProps">
            <div class="flex justify-content-end" v-if="slotProps.data.id !== currentUser.id">
              <Button
                icon="pi pi-pencil"
                class="mr-1 w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Редактировать'"
                @click="editUser(slotProps.data)"
              />

              <Button
                icon="pi pi-trash"
                class="w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Удалить'"
                @click="confirmDeleteUser(slotProps.data)"
              />
            </div>
            <div class="flex justify-content-end" v-else>
              <Button
                icon="pi pi-user"
                class="w-2rem h-2rem"
                size="small"
                severity="secondary"
                text
                outline
                v-tooltip.bottom="'Профиль'"
                @click="navigateTo('/profile')"
              />
              <Button
                icon="pi pi-key"
                class="mr-1 w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Изменить пароль'"
                @click="openChangePasswordDialog(slotProps.data)"
              />
            </div>
          </template>
        </Column>
        <template #footer v-if="loading">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <ProgressSpinner
              style="width: 20px; height: 20px"
              strokeWidth="4"
              fill="var(--surface-ground)"
              animationDuration=".5s"
              aria-label="Custom ProgressSpinner"
            />
          </div>
        </template>
        <template #empty><div class="text-center text-sm">Список пуст</div></template>
      </DataTable>
    </div>
    <UsersEdit v-bind:item="user" v-bind:visible="userDialog" :companies="companies" :roles="roles" @hideDialog="hideDialog" />
    <UsersPassword v-bind:item="changePasswordData" v-bind:visible="changePasswordDialog" @hideDialog="hideDialog" />
  </div>
</template>
