<script setup lang="ts">
import { getToasts } from '~/utils/vue.utils';

const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  item: {
    type: Object as PropType<IChangePasswordDto>,
    required: true
  },
  visible: {
    type: Boolean,
    required: true
  }
});
const toast = useToast();
const submitted = ref<Boolean>(false);
const isLoading = ref(false);

const itemData = computed(() => props.item);

const usersStore = useUsersStore();

const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = () => {
  if (!itemData.value?.password) {
    return false;
  }
  if (!itemData.value.confirm_password) {
    return false;
  }
  if (itemData.value.password !== itemData.value.confirm_password) {
    return false;
  }
  return true;
};
const changePassword = async () => {
  try {
    submitted.value = true;

    if (!validate()) return;

    await usersStore.changePassword(itemData.value);
    getToasts(toast).success('Пароль успешно изменен');

    submitted.value = false;

    emits('update:item', itemData.value);
    close();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
</script>
<template>
  <PanelsSmall v-bind:visible="visible" @update:visible="close" :header="`Изменить пароль для ${item.email}`" :modal="true" class="p-fluid">
    <template #body>
      <div class="flex flex-column gap-2">
        <div class="flex flex-column gap-1">
          <label for="password" class="font-medium">Пароль</label>
          <Password
            id="password"
            placeholder="Пароль"
            v-model.trim="itemData.password"
            :toggleMask="true"
            class="w-full"
            inputClass="w-full"
            weakLabel="Слишком простой пароль"
            mediumLabel="Пароль средненй сложности"
            strongLabel="Сложный пароль"
            promptLabel="Введите пароль"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.password">Обязательно для заполнения</small>
        </div>

        <div class="flex flex-column gap-1">
          <label for="confirm_password" class="font-medium">Повторите пароль</label>
          <Password
            id="confirm_password"
            placeholder="Пароль"
            v-model.trim="itemData.confirm_password"
            :toggleMask="true"
            class="w-full"
            inputClass="w-full"
            :feedback="false"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.confirm_password">Обязательно для заполнения</small>
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="close" />
      <Button label="Сохранить" severity="info" icon="pi pi-check" @click="changePassword" />
    </template>
  </PanelsSmall>
</template>
