<script setup lang="ts">
import { format } from 'date-fns';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useAuthStore } from '~/stores/auth.store';
import { useCabinetStore } from '~/stores/cabinet.store';
import { useOrderStore } from '~/stores/order.store';
import { usePatientStore } from '~/stores/patient.store';
import type { IPatient } from '~/types/customer.type';
import type { IOrder } from '~/types/order.type';
import { CABINET_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Клиент',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_PATIENT]
});

const authStore = useAuthStore();
const currentUserRole = computed<any>(() => authStore.role || null);

//Common

const toast = useToast();

const isLoading = ref<boolean>(true);
const submitted = ref<boolean>(false);
//Stores & services
const route = useRoute();
const cabinetStore = useCabinetStore();

const orderStore = useOrderStore();
const patientStore = usePatientStore();

//Data
const patient_uid = route.params.uid;
const patient = computed<IPatient | undefined>(() => cabinetStore.patient);

const orders = computed<IOrder[]>(() => cabinetStore.orders);

onBeforeMount(async () => {
  isLoading.value = true;
  try {
    await cabinetStore.fetchPatient(patient_uid as string);
    await cabinetStore.fetchOrders({
      patient_uid: [patient_uid as string]
    });
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
});
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>{{ patient?.fio }}</template>
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <div class="flex flex-column" v-if="patient">
        <div class="card">
          <div class="flex gap-5 flex-column md:flex-row">
            <div class="flex flex-column w-full">
              <div class="flex flex-column gap-1">
                <div class="flex gap-2" v-if="patient.dob">
                  <span class="font-bold">Дата рождения:</span>
                  <span>{{ format(patient.dob, 'dd.MM.yyyy') }}</span>
                </div>
                <div class="flex gap-2" v-if="patient.phone">
                  <span class="font-bold">Телефон:</span>
                  <span>
                    <i class="pi pi-phone mr-2" />
                    <a type="tel" :href="`tel:${patient.phone}`">{{ patient.phone }}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="text-xl md:text-2xl font-semibold mb-4">Заказы пациента</div>
          <OrderTable :orders="orders" :isFetching="isLoading" />
        </div>
      </div>
    </template>
  </app-page>
</template>
