<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import { CABINET_PERMISSIONS } from '~/types/user.type';
import { hasPermission } from '~/utils/helper.utils';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Пациенты',
  breadcrumb: 'Пациенты',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_PATIENT]
});
//Common
const isLoading = ref(true);
const toast = useToast();

//Stores & hooks
const cabinetStore = useCabinetStore();

//Data
const company = computed<ICompany>(() => cabinetStore.company as ICompany);
const patients = computed<IPatient[]>(() => cabinetStore.patients || []);

onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  await fetchPatients();
  isLoading.value = false;
});

const fetchCompany = async () => {
  try {
    await cabinetStore.fetchCompany();
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchPatients = async () => {
  if (hasPermission(CABINET_PERMISSIONS.CABINET_VIEW_PATIENT)) {
    await cabinetStore.fetchPatients(company.value.id);
  }
};

const deletePatient = async (patient: IPatient) => {
  try {
    if (!patient?.uid || !company.value) return;
    await cabinetStore.deletePatient(Number(company.value.id), patient.uid);
    getToasts(toast).success('Пациент удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const validate = (patient: IPatient): boolean => {
  if (!patient.fio) return false;
  return true;
};
const save = async (patient: IPatient) => {
  if (!validate(patient)) return;
  const isNew = !patient.uid;
  await cabinetStore.createPatient(company.value.id, patient);
};
const openPatient = (patient: IPatient) => {
  navigateTo(`/cabinet/patients/${patient.uid}`);
};
const openClinic = (clinic: ICompany) => {
  navigateTo(`/cabinet/clinics/${clinic.id}`);
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>{{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }}</template>
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <CompaniesPatients
        v-bind:company="company"
        :loading="isLoading"
        :patients="patients"
        :deletePatient="deletePatient"
        :savePatient="save"
        :openPatient="openPatient"
        :openClinic="openClinic"
      />
    </template>
  </app-page>
</template>
