<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany, ICreateCompanyDto } from '~/types/company.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Управление компаниями',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_COMPANIES],
  breadcrumb: 'Управление компаниями'
});

const toast = useToast();

const confirm = useConfirm();
const companiesStore = useCompanyStore();

const companies = computed<ICompany[]>(() => companiesStore.list);

const companyDialog = ref<boolean>(false);

const company = ref<ICreateCompanyDto>({
  title: '',
  type_id: 0,
  is_verified: true,
  parent_id: null,
  image: undefined,
  metadata: {
    phone: '',
    address: '',
    email: ''
  }
});

const filters = ref<any>({});
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(true);

onBeforeMount(async () => {
  isLoading.value = true;
  initFilters();

  await companiesStore.fetchAll();
  await companiesStore.fetchTypes();

  isLoading.value = false;
});

const openNew = () => {
  _resetCompany();
  submitted.value = false;
  companyDialog.value = true;
};

const hideDialog = () => {
  companyDialog.value = false;
  submitted.value = false;
};

const editCompany = (editCompany: ICompany) => {
  company.value = {
    id: editCompany.id,
    title: editCompany.title,
    type_id: editCompany.type.id,
    image: editCompany.image,
    metadata: editCompany.metadata,
    is_verified: editCompany.is_verified,
    parent_id: editCompany.parent?.id
  };
  companyDialog.value = true;
};

const confirmDeleteCompany = (editCompany: any) => {
  company.value = editCompany;
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить компанию?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: deleteCompany,
    reject: () => {
      _resetCompany();
    }
  });
};

const deleteCompany = async () => {
  try {
    if (!company.value?.id) return;
    await companiesStore.delete(company.value.id);
    getToasts(toast).success('Компания удалена');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const _resetCompany = () => {
  company.value = {
    id: 0,
    title: '',
    is_verified: true,
    type_id: 0,
    parent_id: null,
    image: undefined,
    metadata: {
      phone: '',
      address: '',
      email: ''
    }
  };
};
const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
</script>

<template>
  <app-page :loading="isLoading">
    <template #title>Компании</template>
    <template #body>
      <div class="flex align-items-center justify-content-between gap-2 sm:flex-row flex-column mb-2">
        <IconField iconPosition="left" class="block md:mt-0 w-full">
          <InputIcon class="pi pi-search" />
          <InputText class="w-full" v-model="filters['global'].value" size="small" placeholder="Поиск..." />
        </IconField>
        <Button
          v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_COMPANIES)"
          label="Добавить"
          icon="pi pi-plus"
          size="small"
          severity="info"
          @click="openNew"
        />
      </div>

      <div class="surface-0 p-2 border-round-xl">
        <DataTable
          ref="dt"
          size="small"
          :value="companies"
          dataKey="id"
          :paginator="true"
          :rows="30"
          :filters="filters"
          :rowHover="true"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          :rowsPerPageOptions="[30, 60, 90]"
          currentPageReportTemplate="{first} из {last} всего {totalRecords}"
        >
          <Column field="id" header="ID" :sortable="true" headerStyle="width:14%; min-width:10rem;">
            <template #body="slotProps">
              {{ slotProps.data.id }}
            </template>
          </Column>
          <Column field="title" header="Название" :sortable="true" headerStyle="min-width:12rem;">
            <template #body="slotProps">
              <NuxtLink :to="`/admin/companies/${slotProps.data.id}`" class="text-primary">
                {{ slotProps.data.title }}
              </NuxtLink>
            </template>
          </Column>
          <Column field="is_verified" header="Верифицирована" :sortable="true" headerStyle="min-width:12rem;">
            <template #body="slotProps">
              <i :class="slotProps.data.is_verified ? 'pi pi-check text-green-500' : 'pi pi-times text-red-500'" class="text-sm"></i>
              {{ slotProps.data.is_verified ? 'Да' : 'Нет' }}
            </template>
          </Column>
          <Column field="type" header="Тип компании" :sortable="true" headerStyle="min-width:12rem;">
            <template #body="slotProps">
              {{ slotProps.data.type?.title }}
              {{ slotProps.data.type.id === COMPANY_TYPES.PHARMACY ? `лаборатории: ${slotProps.data.parent?.title}` : '' }}
            </template>
          </Column>
          <Column field="users_count" header="Кол-во пользователей" :sortable="true" headerStyle="width:3rem;">
            <template #body="slotProps">
              <NuxtLink :to="`/admin/companies/${slotProps.data.id}/users`" class="text-primary">
                {{ slotProps.data.users_count }}
              </NuxtLink>
            </template>
          </Column>

          <Column headerStyle="min-width:2rem;">
            <template #body="slotProps">
              <div class="flex justify-content-end">
                <Button
                  icon="pi pi-pencil"
                  class="mr-1 w-2rem h-2rem"
                  size="small"
                  text
                  severity="secondary"
                  v-tooltip.bottom="'Редактировать'"
                  v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_COMPANIES)"
                  @click="editCompany(slotProps.data)"
                />
                <Button
                  icon="pi pi-trash"
                  class="w-2rem h-2rem"
                  size="small"
                  text
                  severity="secondary"
                  v-tooltip.bottom="'Удалить'"
                  v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_DELETE_COMPANIES)"
                  @click="confirmDeleteCompany(slotProps.data)"
                />
              </div>
            </template>
          </Column>
          <template #footer v-if="isLoading">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <ProgressSpinner
                style="width: 20px; height: 20px"
                strokeWidth="4"
                fill="var(--surface-ground)"
                animationDuration=".5s"
                aria-label="Custom ProgressSpinner"
              />
            </div>
          </template>
          <template #empty><div class="text-center text-sm">Список пуст</div></template>
        </DataTable>
      </div>
      <CompaniesEdit v-bind:item="company" v-bind:visible="companyDialog" @hideDialog="hideDialog" />
    </template>
  </app-page>
</template>
