<script setup lang="ts">
import type { PropType } from 'vue';
const emits = defineEmits(['saved']);
const props = defineProps({
  field: {
    type: Object as PropType<IField | undefined>,
    required: false,
    default: () => undefined
  },
  isFetching: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: true
  }
});

const toast = useToast();
const submitted = ref<boolean>(false);
const isSaving = ref<boolean>(false);

const fieldsStore = useFieldStore();
const directoryStore = useDirectoryStore();
const fieldGroups = ref<{ label: string; value: FieldGroup }[]>([
  {
    label: 'Обыкновенная',
    value: FieldGroup.GENERAL
  },
  {
    label: 'Расширенная',
    value: FieldGroup.EXTENDED
  }
]);
const fieldsOptions = computed<any[]>(() => [{ id: 0, name: 'Без родителя' }, ...fieldsStore.list]);
const multipleTypes = [FieldType.TOOTH, FieldType.OPTION];
const directories = computed<IDirectory[]>(() => directoryStore.list);

const initialData = ref<IField | undefined>(props.field);
const types = ref<{ label: string; value: string }[]>([
  { label: 'Заголовок', value: FieldType.TITLE },
  { label: 'Текстовое поле', value: FieldType.INPUT },
  { label: 'Из словаря', value: FieldType.OPTION },
  { label: 'Изображение', value: FieldType.IMAGE },
  { label: 'Выбор зуба', value: FieldType.TOOTH },
  { label: 'Дата и время', value: FieldType.DATE },
  { label: 'Логическое', value: FieldType.BOOLEAN },
  { label: 'Зубы с деталями', value: FieldType.TOOTH_DETAILS },
  { label: 'Выбор цвета', value: FieldType.COLOR },
  { label: 'Файл', value: FieldType.FILE }
]);
const multipleOptions = ref<{ label: string; value: boolean }[]>([
  { label: `Нет`, value: false },
  { label: `Да`, value: true }
]);
const typesWithDirectory = [FieldType.OPTION, FieldType.COLOR];
const conditionsFields = [FieldType.INPUT, FieldType.OPTION];
const parentField = computed(() => (initialData.value?.parent_id ? fieldsStore.parentField(initialData.value?.parent_id) : null));
const parentOptions = computed(() => {
  if (parentField.value?.directory?.options) {
    return parentField.value?.directory?.options.map((value: any) => ({ name: value }));
  }
});
onMounted(async () => {
  await Promise.all([directoryStore.fetchAll(), fieldsStore.fetchAll()]);
});
const save = async () => {
  submitted.value = true;
  isSaving.value = true;
  try {
    if (!initialData.value) return;
    const isNew = !initialData.value.id;
    await fieldsStore.save(initialData.value);
    await delay(2000);
    getToasts(toast).success(isNew ? 'Поле успешно создано' : 'Информация успешно обновлена');
    emits('saved');
    submitted.value = false;
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isSaving.value = false;
  }
};
watch(
  () => props.field,
  (newValue: IField | undefined) => {
    initialData.value = newValue;
  },
  { deep: true }
);
</script>
<template>
  <template v-if="isFetching">
    <div class="flex flex-column">
      <div class="grid">
        <div class="col-12">
          <div class="flex gap-4 align-items-center mb-3">
            <div class="flex align-items-center gap-2">
              <Skeleton width="2rem" height="22px" />
              <Skeleton width="6rem" height="13px" />
            </div>
            <div class="flex align-items-center gap-2">
              <Skeleton width="2rem" height="22px" />
              <Skeleton width="6rem" height="13px" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>

        <div class="col-6">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>

        <div class="col-6">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>
        <div class="col-12">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>

        <div class="col-12">
          <div class="field mb-0">
            <Skeleton width="6rem" height="14px" />
            <Skeleton width="100%" height="33px" class="mt-2" />
          </div>
        </div>
      </div>
      <div class="flex justify-content-end mt-2">
        <Skeleton width="9rem" height="33px" />
      </div>
    </div>
  </template>
  <template v-else-if="initialData">
    <div class="flex flex-column">
      <div class="grid">
        <div class="col-12">
          <div
            class="flex gap-4 align-items-center mb-3"
            v-if="initialData.type !== FieldType.DELIMITER && initialData.type !== FieldType.TITLE"
          >
            <div class="flex align-items-center gap-2">
              <InputSwitch v-model="initialData.required" :disabled="initialData.group === FieldGroup.EXTENDED || submitted" />
              <label class="font-medium" :class="initialData.group === FieldGroup.EXTENDED ? 'opacity-50' : ''">
                {{ initialData.required ? 'Обязательное' : 'Не обязательное' }}
              </label>
            </div>
            <div class="flex align-items-center gap-2">
              <InputSwitch v-model="initialData.active" :disabled="initialData.group === FieldGroup.EXTENDED || submitted" />
              <label class="font-medium" :class="initialData.group === FieldGroup.EXTENDED ? 'opacity-50' : ''">
                {{ initialData.active ? 'Активирована' : 'Деактивирована' }}
              </label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="field mb-0">
            <label for="name" class="font-medium">Название</label>
            <InputText
              id="name"
              v-model.trim="initialData.name"
              :disabled="submitted"
              required="true"
              class="w-full"
              autofocus
              :invalid="submitted && !initialData.name"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !initialData.name">Обазательно для заполнения</small>
          </div>
        </div>
        <div class="col-12">
          <div class="field mb-0" v-if="!initialData.parent_id">
            <label for="type" class="font-medium">Группа</label>
            <Dropdown
              id="parent"
              v-model.trim="initialData.group"
              filter
              :disabled="submitted"
              :options="fieldGroups"
              class="w-full"
              optionLabel="label"
              optionValue="value"
              placeholder="Выберите группу"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !initialData.type">Обазательно для заполнения</small>
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-0">
            <label for="type" class="font-medium">Родительское поле</label>
            <Dropdown
              id="parent"
              v-model.trim="initialData.parent_id"
              filter
              :disabled="submitted"
              :options="fieldsOptions"
              class="w-full"
              optionLabel="technical_name"
              optionValue="id"
              placeholder="Выберите родителя"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !initialData.type">Обазательно для заполнения</small>
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-0">
            <label for="sort" class="font-medium">Индекс сортировки</label>
            <InputNumber
              id="sort"
              v-model.trim="initialData.sort"
              :disabled="submitted"
              required="true"
              autofocus
              :invalid="submitted && initialData.sort === undefined"
              class="w-full"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="field mb-0">
            <label for="type" class="font-medium">Тип</label>
            <Dropdown
              id="company"
              v-model.trim="initialData.type"
              filter
              :disabled="submitted"
              :options="types"
              class="w-full"
              optionLabel="label"
              optionValue="value"
              placeholder="Выберите тип поля"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !initialData.type">Обазательно для заполнения</small>
          </div>
        </div>
        <template
          v-if="
            initialData.type === FieldType.FILE ||
            (initialData.type === FieldType.IMAGE && initialData.type !== FieldType.DELIMITER && initialData.type !== FieldType.TITLE)
          "
        >
          <div class="col-6">
            <div class="field">
              <label for="name" class="font-medium">Разрешенные расширения</label>
              <InputText v-model="initialData.metadata.extensions" :disabled="submitted" class="w-full" placeholder=".jpg, .png" />
            </div>
          </div>
        </template>

        <template v-if="multipleTypes.includes(initialData.type)">
          <div class="col-6">
            <div class="field">
              <label for="multiple" class="font-medium">Множественное</label>
              <SelectButton
                id="multiple"
                :disabled="submitted"
                v-model="initialData.multiple"
                :options="multipleOptions"
                optionLabel="label"
                optionValue="value"
              />
            </div>
          </div>
        </template>
        <template v-if="typesWithDirectory.includes(initialData.type)">
          <div class="col-6">
            <div class="field">
              <label for="directory" class="font-medium">Словарь</label>
              <Dropdown
                id="directory"
                :disabled="submitted"
                v-model="initialData.directory_id"
                filter
                :options="directories"
                class="w-full"
                optionLabel="title"
                optionValue="id"
                placeholder="Выберите словарь"
              />
            </div>
          </div>
        </template>
        <div class="col-6">
          <div class="field mb-0">
            <label for="technical_name" class="font-medium">Техническое имя</label>
            <InputText id="technical_name" :disabled="submitted" v-model.trim="initialData.technical_name" autofocus class="w-full" />
            <small class="p-invalid">При необходимости, иначе будет присвоено основное имя</small>
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-0">
            <label for="placeholder" class="font-medium">Заглушка</label>
            <InputText id="placeholder" :disabled="submitted" v-model.trim="initialData.placeholder" autofocus class="w-full" />
          </div>
        </div>

        <div class="col-12">
          <div class="field mb-0">
            <label for="name" class="font-medium">CSS класс</label>
            <InputText v-model="initialData.metadata.class" :disabled="submitted" class="w-full" placeholder="col-12" />
          </div>
        </div>
      </div>

      <template v-if="initialData.parent_id && parentField && conditionsFields.includes(parentField?.type)">
        <hr />
        <div class="field">
          <label for="multiple" class="font-medium">Условия отображения</label>
          <div class="flex align-items-center gap-2">
            <div class="flex align-items-center gap-2" style="flex-shrink: 0">
              <span>Родительское свойство</span>
              <span>=</span>
            </div>

            <template v-if="parentField?.type === FieldType.OPTION">
              <Dropdown
                v-model="initialData.display_conditions"
                filter
                :options="parentOptions"
                optionLabel="name"
                optionValue="name"
                :disabled="submitted"
                class="w-full"
              />
            </template>
            <template v-else-if="parentField?.type === FieldType.INPUT">
              <InputText v-model="initialData.display_conditions" :disabled="submitted" class="w-full" />
            </template>
            <template v-else-if="parentField?.type === FieldType.TAB">
              <Checkbox v-model="initialData.display_conditions" :disabled="submitted" :binary="true" />
            </template>
          </div>
        </div>
      </template>

      <div class="flex justify-content-end mt-2">
        <Button icon="pi pi-save" severity="info" class="w-auto" label="Сохранить" :loading="isSaving" @click="save" />
      </div>
    </div>
  </template>
</template>
