<script setup lang="ts">
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref, watch, type PropType } from 'vue';
import useDirectories from '~/composables/useDirectories';
import { useDirectoryStore } from '~/stores/directory.store';
import { useFieldStore } from '~/stores/field.store';
import type { IDirectory, IDirectoryCreateDto } from '~/types/directory.type';
import { FieldGroup, FieldType, type ICreateFieldDto, type IField } from '~/types/field.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { delay, hasPermission } from '~/utils/helper.utils';
import { getToasts } from '~/utils/vue.utils';

const props = defineProps({
  treeFields: {
    type: Array as PropType<IField[]>,
    required: true
  },
  fields: {
    type: Array as PropType<IField[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  }
});

//Common
const route = useRoute();
const field_id = computed(() => route.query.id);

const toast = useToast();
const confirm = useConfirm();
const submitted = ref<boolean>(false);

const menuRefs = ref<any[]>([]);
const overlayRefs = ref<any[]>([]);
//stores
const fieldStore = useFieldStore();
const directoryStore = useDirectoryStore();
const directoryService = useDirectories();

//dialogs
const directoryDialog = ref<boolean>(false);
const fieldDialog = ref<boolean>(false);

//data
const filters = ref<any>({});
const directories = computed<IDirectory[]>(() => directoryStore.list);
const fieldsOptions = computed<any[]>(() => [{ id: 0, name: 'Без родителя' }, ...fieldStore.list]);
const typesWithDirectory = [FieldType.OPTION, FieldType.COLOR];
const multipleTypes = [FieldType.TOOTH, FieldType.OPTION];
const conditionsFields = [FieldType.INPUT, FieldType.OPTION];
const types = ref<{ label: string; value: string }[]>([
  { label: 'Заголовок', value: FieldType.TITLE },
  { label: 'Текстовое поле', value: FieldType.INPUT },
  { label: 'Из словаря', value: FieldType.OPTION },
  { label: 'Изображение', value: FieldType.IMAGE },
  { label: 'Выбор зуба', value: FieldType.TOOTH },
  { label: 'Дата и время', value: FieldType.DATE },
  { label: 'Логическое', value: FieldType.BOOLEAN },
  { label: 'Зубы с деталями', value: FieldType.TOOTH_DETAILS },
  { label: 'Выбор цвета', value: FieldType.COLOR },
  { label: 'Файл', value: FieldType.FILE }
]);

const multipleOptions = ref<{ label: string; value: boolean }[]>([
  { label: `Нет`, value: false },
  { label: `Да`, value: true }
]);

const fieldGroups = ref<{ label: string; value: FieldGroup }[]>([
  {
    label: 'Обыкновенная',
    value: FieldGroup.GENERAL
  },
  {
    label: 'Расширенная',
    value: FieldGroup.EXTENDED
  }
]);
const field = ref<ICreateFieldDto>({
  active: true,
  name: '',
  technical_name: '',
  group: FieldGroup.GENERAL,
  multiple: false,
  type: FieldType.INPUT,
  placeholder: '',
  directory_id: null,
  parent_id: null,
  sort: props.fields[props.fields.length - 1]?.sort + 1 || 0,
  display_conditions: null,
  required: true,

  metadata: {
    extensions: '',
    class: 'col-12'
  }
});

const directory = ref<IDirectoryCreateDto>({
  id: 0,
  title: '',
  options: []
});

const parentField = computed(() => (field.value?.parent_id ? fieldStore.parentField(field.value.parent_id) : null));
const parentOptions = computed(() => {
  if (parentField.value?.directory?.options) {
    return parentField.value?.directory?.options.map((value: any) => ({ name: value }));
  }
});
onBeforeMount(async () => {
  await directoryStore.fetchAll();
});
onMounted(() => {
  if (field_id.value) {
    const hasField = props.fields.find((d) => d.id === Number(field_id.value));
    if (hasField) {
      editField(hasField);
    }
  }
});
watch(
  () => props.fields,
  () => {
    if (field_id.value) {
      const hasField = props.fields.find((d) => d.id === Number(field_id.value));
      if (hasField) {
        editField(hasField);
      }
    }
  }
);
const addDirectory = () => {
  directory.value = {
    id: 0,
    title: '',
    options: []
  };
  directoryDialog.value = true;
};
const editDirectory = async (editDirectory: IDirectory) => {
  if (!hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_DIRECTORY)) return;
  const _directory = await directoryService.fetchItem(editDirectory.id);
  if (!_directory) return;
  directory.value = {
    id: _directory.id,
    title: _directory.title,
    options: _directory.options
  };
  directoryDialog.value = true;
};
const hideDirectoryDialog = () => {
  directoryDialog.value = false;
  submitted.value = false;
};

const openNew = () => {
  _resetField();
  submitted.value = false;
  fieldDialog.value = true;
};

const _resetField = () => {
  field.value = {
    id: 0,
    active: true,
    group: FieldGroup.GENERAL,
    name: '',
    technical_name: '',
    placeholder: '',
    multiple: false,
    type: FieldType.INPUT,
    directory_id: null,
    parent_id: null,
    sort: props.fields[props.fields.length - 1]?.sort + 1 || 0,
    display_conditions: null,
    required: true,

    metadata: {
      extensions: '',
      class: 'col-12'
    }
  };
};
const addChildren = (parentField: IField) => {
  field.value = {
    name: '',
    active: true,
    group: FieldGroup.GENERAL,
    technical_name: '',
    placeholder: '',
    multiple: false,
    type: FieldType.INPUT,
    directory_id: null,
    parent_id: parentField.id,
    sort: props.fields[props.fields.length - 1]?.sort + 1 || 0,
    display_conditions: null,
    required: true,

    metadata: {
      extensions: '',
      class: 'col-12'
    }
  };
  submitted.value = false;
  fieldDialog.value = true;
};
const hideDialog = async () => {
  fieldDialog.value = false;
  submitted.value = false;
};

const save = async () => {
  submitted.value = true;
  try {
    if (!field.value) return;
    const isNew = !field.value.id;
    await fieldStore.save(field.value);
    await delay(2000);
    await fieldStore.fetchAll();
    await fieldStore.fetchTree();
    getToasts(toast).success(isNew ? 'Поле успешно создано' : 'Информация успешно обновлена');
    submitted.value = false;

    hideDialog();
    if (field.value.id && overlayRefs.value[field.value.id]) {
      overlayRefs.value[field.value.id]?.toggle(false);
    }
    submitted.value = false;
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const editField = (editField: IField) => {
  field.value = {
    id: editField.id,
    active: editField.active,
    group: editField.group,
    name: editField.name,
    technical_name: editField.technical_name,
    multiple: editField.multiple,
    type: editField.type,
    directory_id: editField?.directory?.id,
    parent_id: editField.parent_id,
    sort: editField.sort,
    display_conditions: editField.display_conditions,
    required: editField.required,
    placeholder: editField.placeholder,
    metadata: editField.metadata || {
      extensions: '',
      class: ''
    }
  };
  fieldDialog.value = true;
};
const copyField = async (field: IField) => {
  try {
    await fieldStore.copy(field.id);
    getToasts(toast).success('Копия поля успешно создана');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const confirmDeleteField = (editField: IField) => {
  field.value = {
    id: editField.id,
    active: editField.active,
    group: editField.group,
    name: editField.name,
    technical_name: editField.technical_name,
    multiple: editField.multiple,
    type: editField.type,
    placeholder: editField.placeholder,
    directory_id: editField?.directory?.id,
    parent_id: editField.parent_id,
    sort: editField.sort,
    display_conditions: editField.display_conditions,
    required: editField.required
  };
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить поле?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: deleteField,
    reject: () => {
      _resetField();
    }
  });
};

const deleteField = async () => {
  try {
    if (!field.value?.id) return;
    await fieldStore.delete(field.value.id);
    await fieldStore.fetchTree();

    getToasts(toast).success('Поле удалено');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const getMenuItems = (field: IField) => {
  return [
    {
      label: 'Добавить дочерний',
      icon: 'pi pi-plus',
      disabled: !hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_FIELD),
      command: () => {
        if (hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_FIELD)) {
          return addChildren(field);
        }
        return null;
      }
    },
    {
      label: 'Редактировать',
      icon: 'pi pi-pencil',
      disabled: !hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_FIELD),
      command: () => {
        if (hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_FIELD)) {
          editField(field);
        }
      }
    },
    {
      label: 'Копировать',
      icon: 'pi pi-copy',
      disabled: !hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_FIELD),
      command: () => {
        if (hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_FIELD)) {
          copyField(field);
        }
      }
    }
  ];
};

const toggleButtonMenu = (id: number, event: Event) => {
  if (menuRefs.value[id]) {
    menuRefs.value[id].toggle(event);
  }
};
const toggleSortOverlay = (id: number, event: Event, editField: IField) => {
  if (overlayRefs.value[id]) {
    overlayRefs.value[id].toggle(event);
    field.value = {
      id: editField.id,
      active: editField.active,
      group: editField.group,
      name: editField.name,
      technical_name: editField.technical_name,
      multiple: editField.multiple,
      type: editField.type,
      directory_id: editField?.directory?.id,
      parent_id: editField.parent_id,
      sort: editField.sort,
      placeholder: editField.placeholder,
      display_conditions: editField.display_conditions,
      required: editField.required,

      metadata: editField.metadata || {
        extensions: '',
        class: ''
      }
    };
  }
};
const setMenuRef = (el: Element | ComponentPublicInstance | null, key: number) => {
  menuRefs.value[key] = el;
};
const setSortOverlayRef = (el: Element | ComponentPublicInstance | null, key: number) => {
  overlayRefs.value[key] = el;
};
watch(
  () => field.value.group,
  () => {
    if (field.value.group === FieldGroup.EXTENDED) {
      field.value.required = false;
    }
  }
);
</script>
<template>
  <div>
    <div class="flex align-items-center justify-content-between gap-2 sm:flex-row flex-column mb-2">
      <IconField iconPosition="left" class="block md:mt-0 w-full">
        <InputIcon class="pi pi-search" />
        <InputText class="w-full" size="small" v-model="filters['global']" placeholder="Поиск..." />
      </IconField>
      <Button
        size="small"
        v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_FIELD)"
        label="Добавить"
        icon="pi pi-plus"
        class="w-full sm:w-auto"
        severity="info"
        @click="openNew"
      />
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <div class="w-full overflow-x-auto">
        <TreeTable
          size="small"
          :value="treeFields"
          :paginator="true"
          :rowHover="true"
          :filters="filters"
          :rows="30"
          :rowsPerPageOptions="[30, 90, 120]"
          tableStyle="min-width: 50rem"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          currentPageReportTemplate="{first} из {last} всего {totalRecords}"
        >
          <Column field="name" header="Название поля" expander headerStyle="width: 25rem">
            <template #body="slotProps">
              <NuxtLink :to="`/admin/fields/${slotProps.node.data.id}`">
                <span class="text-primary cursor-pointer">
                  {{ slotProps.node.data.technical_name || slotProps.node.data.name }}
                </span>
              </NuxtLink>
              <span class="pi pi-copy cursor-pointer ml-2 text-xs" @click="copyField(slotProps.node.data)"></span>
            </template>
          </Column>
          <Column field="group" header="Группа" headerStyle="width: 10rem">
            <template #body="slotProps">
              <span class="font-medium">{{ FIELD_TYPE_TITLES[slotProps.node.data.type] }}</span>
            </template>
          </Column>
          <Column field="type" header="Тип" headerStyle="width: 10rem">
            <template #body="slotProps">
              <span class="font-medium">{{ FIELD_TYPE_TITLES[slotProps.node.data.type] }}</span>
            </template>
          </Column>
          <Column field="directory" header="Словарь" headerStyle="width: 10rem">
            <template #body="slotProps">
              <span
                @click="editDirectory(slotProps.node.data.directory)"
                class="font-medium text-primary cursor-pointer"
                v-if="slotProps.node.data.directory"
              >
                {{ slotProps.node.data.directory?.title }}
              </span>
              <span class="font-medium" v-else> - </span>
            </template>
          </Column>
          <Column field="multiple" header="Множественное" headerStyle="width: 10rem">
            <template #body="slotProps">
              <div class="flex flex-column gap-1">
                <span class="text-xs" v-if="slotProps.node.data.display_conditions">
                  Зависимость:{{ slotProps.node.data.display_conditions }}
                </span>
                <span class="font-medium text-xs">Множественное: {{ slotProps.node.data.multiple ? 'Да' : 'Нет' }}</span>
              </div>
            </template>
          </Column>
          <Column field="sort" header="Сортировка" headerStyle="width: 6rem">
            <template #body="slotProps">
              <div class="flex gap-2 align-items-cener" @click="toggleSortOverlay(slotProps.node.key, $event, slotProps.node.data)">
                <span class="pi pi-pencil text-primary text-xs flex align-items-center"></span>
                <span>{{ slotProps.node.data.sort }}</span>
              </div>

              <OverlayPanel :ref="(el) => setSortOverlayRef(el, slotProps.node.key)">
                <div class="flex flex-column gap-3 w-25rem">
                  <div>
                    <span class="font-medium text-900 block mb-2">Изменить сортировку</span>
                    <InputGroup>
                      <InputNumber v-model="field.sort" inputId="withoutgrouping" :useGrouping="false" />
                      <Button label="Изменить" severity="success" icon="pi pi-check" @click="save"></Button>
                    </InputGroup>
                  </div>
                </div>
              </OverlayPanel>
            </template>
          </Column>
          <Column headerStyle="width:10rem;">
            <template #body="slotProps">
              <div class="flex justify-content-end gap-1">
                <Button
                  type="button"
                  size="small"
                  text
                  severity="secondary"
                  class="w-2rem h-2rem"
                  icon="pi pi-ellipsis-v"
                  @click="toggleButtonMenu(slotProps.node.key, $event)"
                  aria-haspopup="true"
                  :aria-controls="'overlay_menu_' + slotProps.node.key"
                />
                <Button
                  type="button"
                  size="small"
                  text
                  class="w-2rem h-2rem"
                  severity="secondary"
                  icon="pi pi-trash"
                  v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_DELETE_FIELD)"
                  @click="confirmDeleteField(slotProps.node.data)"
                />

                <Menu
                  :ref="(el) => setMenuRef(el, slotProps.node.key)"
                  :id="'overlay_menu_' + slotProps.node.key"
                  :model="getMenuItems(slotProps.node.data)"
                  :popup="true"
                />
              </div>
            </template>
          </Column>
          <template #footer v-if="loading">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <ProgressSpinner
                style="width: 20px; height: 20px"
                strokeWidth="4"
                fill="var(--surface-ground)"
                animationDuration=".5s"
                aria-label="Custom ProgressSpinner"
              />
            </div>
          </template>
          <template #empty><div class="text-center text-sm">Список пуст</div></template>
        </TreeTable>
      </div>
    </div>
    <DirectoriesEdit v-bind:item="directory" v-bind:visible="directoryDialog" @hideDialog="hideDirectoryDialog" />

    <PanelsSmall
      v-bind:visible="fieldDialog"
      @update:visible="fieldDialog = !fieldDialog"
      header="Информация о поле"
      :modal="true"
      class="p-fluid"
    >
      <template #body>
        <div class="flex flex-column">
          <div class="flex gap-2 align-items-center mb-3" v-if="field.type !== FieldType.DELIMITER && field.type !== FieldType.TITLE">
            <InputSwitch v-model="field.required" :disabled="field.group === FieldGroup.EXTENDED" />
            <label class="font-medium" :class="field.group === FieldGroup.EXTENDED ? 'opacity-50' : ''">{{
              field.required ? 'Обязательное' : 'Не обязательное'
            }}</label>

            <InputSwitch v-model="field.active" :disabled="field.group === FieldGroup.EXTENDED" />
            <label class="font-medium" :class="field.group === FieldGroup.EXTENDED ? 'opacity-50' : ''">{{
              field.active ? 'Активирована' : 'Деактивирована'
            }}</label>
          </div>
          <div class="field" v-if="!field.parent_id">
            <label for="type" class="font-medium">Группа</label>

            <Dropdown
              id="parent"
              v-model.trim="field.group"
              :options="fieldGroups"
              optionLabel="label"
              optionValue="value"
              placeholder="Выберите группу"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !field.type">Обазательно для заполнения</small>
          </div>
          <div class="field">
            <label for="type" class="font-medium">Родительское поле</label>
            <Dropdown
              id="parent"
              filter
              v-model.trim="field.parent_id"
              :options="fieldsOptions"
              optionLabel="technical_name"
              optionValue="id"
              placeholder="Выберите родителя"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !field.type">Обазательно для заполнения</small>
          </div>
          <div class="field">
            <label for="type" class="font-medium">Тип</label>
            <Dropdown
              id="company"
              v-model.trim="field.type"
              :options="types"
              optionLabel="label"
              optionValue="value"
              placeholder="Выберите тип поля"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !field.type">Обазательно для заполнения</small>
          </div>
          <template v-if="multipleTypes.includes(field.type)">
            <div class="field">
              <label for="multiple" class="font-medium">Множественное</label>
              <SelectButton id="multiple" v-model="field.multiple" :options="multipleOptions" optionLabel="label" optionValue="value" />
            </div>
          </template>
          <template v-if="typesWithDirectory.includes(field.type)">
            <div class="field">
              <label for="directory" class="font-medium">Словарь</label>
              <Dropdown
                id="directory"
                filter
                v-model="field.directory_id"
                :options="directories"
                optionLabel="title"
                optionValue="id"
                placeholder="Выберите словарь"
              >
                <template #footer="{ options }">
                  <div class="flex align-items-center justify-content-between py-1 px-1 border-top-1 border-200">
                    <span class="text-xs px-3">Всего {{ options.length }} словарей</span>
                    <Button text icon="pi pi-plus" class="text-xs" size="small" label="Добавить" severity="info" @click="addDirectory" />
                  </div>
                </template>
              </Dropdown>
            </div>
          </template>
          <div class="field">
            <label for="sort" class="font-medium">Индекс сортировки</label>
            <InputNumber id="sort" v-model.trim="field.sort" required="true" autofocus :invalid="submitted && field.sort === undefined" />
          </div>
          <div class="field">
            <label for="name" class="font-medium">Название</label>
            <InputText id="name" v-model.trim="field.name" required="true" autofocus :invalid="submitted && !field.name" />
            <small class="p-invalid text-red-600" v-if="submitted && !field.name">Обазательно для заполнения</small>
          </div>
          <div class="field">
            <label for="technical_name" class="font-medium">Техническое имя</label>
            <InputText id="technical_name" v-model.trim="field.technical_name" autofocus />
            <small class="p-invalid">При необходимости, иначе будет присвоено основное имя</small>
          </div>
          <div class="field">
            <label for="placeholder" class="font-medium">Заглушка</label>
            <InputText id="placeholder" v-model.trim="field.placeholder" autofocus />
          </div>

          <template
            v-if="
              field.type === FieldType.FILE ||
              (field.type === FieldType.IMAGE && field.type !== FieldType.DELIMITER && field.type !== FieldType.TITLE)
            "
          >
            <div class="field" v-if="field.metadata?.extensions">
              <label for="name" class="font-medium">Разрешенные расширения</label>
              <InputText v-model="field.metadata.extensions" class="w-full" placeholder=".jpg, .png" />
            </div>
          </template>
          <div class="field" v-if="field.metadata?.class">
            <label for="name" class="font-medium">CSS класс</label>
            <InputText v-model="field.metadata.class" class="w-full" placeholder="col-12" />
          </div>

          <hr />
          <div class="field" v-if="field.parent_id && parentField && conditionsFields.includes(parentField?.type)">
            <label for="multiple" class="font-medium">Условия отображения</label>
            <div class="flex align-items-center gap-2">
              <div class="flex align-items-center gap-2" style="flex-shrink: 0">
                <span>Родительское свойство</span>
                <span>=</span>
              </div>

              <template v-if="parentField?.type === FieldType.OPTION">
                <Dropdown
                  filter
                  :options="parentOptions"
                  optionLabel="name"
                  optionValue="name"
                  v-model="field.display_conditions"
                  class="w-full"
                />
              </template>
              <template v-else-if="parentField?.type === FieldType.INPUT">
                <InputText v-model="field.display_conditions" class="w-full" />
              </template>
              <template v-else-if="parentField?.type === FieldType.TAB">
                <Checkbox v-model="field.display_conditions" :binary="true" />
              </template>
            </div>
          </div>
        </div>
      </template>
      <template #footer>
        <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="hideDialog" />
        <Button label="Сохранить" severity="info" icon="pi pi-check" @click="save" />
      </template>
    </PanelsSmall>
  </div>
</template>
