<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { onBeforeMount, ref } from 'vue';
import type { ICompany } from '~/types/company.type';
import { getToasts } from '~/utils/vue.utils';

const props = defineProps({
  type: {
    type: String as PropType<'cabinet' | 'admin'>,
    default: 'admin'
  },
  title: {
    type: [String] as PropType<String>,
    required: false,
    default: 'Клиники компании'
  },
  clinics: {
    type: [Array] as PropType<ICompany[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  deleteClinic: {
    type: Function as PropType<(payload?: MouseEvent) => void>,
    required: true
  },
  saveClinic: {
    type: Function as PropType<(payload?: MouseEvent) => void>,
    required: true
  }
});
//Common
const toast = useToast();

const confirm = useConfirm();
const filters = ref<any>({});
const submitted = ref<boolean>(false);

//dialogs
const clinicDialog = ref<boolean>(false);

const clinic = ref<any>({
  title: '',
  metadata: {
    phone: '',
    address: '',
    email: ''
  }
});
onBeforeMount(() => {
  initFilters();
});

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
const openNew = () => {
  _resetClinic();
  clinicDialog.value = true;
};

const editClinic = (editClinic: ICompany) => {
  clinic.value = {
    id: editClinic.id,
    title: editClinic.title,
    metadata: editClinic.metadata
  };
  clinicDialog.value = true;
};

const confirmDeleteClinic = (editClinic: any) => {
  clinic.value = editClinic;
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить клинику?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: () => props.deleteClinic(clinic.value),
    reject: () => {
      _resetClinic();
    }
  });
};

const hideDialog = () => {
  clinicDialog.value = false;
  submitted.value = false;
};
const _resetClinic = () => {
  clinic.value = {
    id: 0,
    title: '',
    metadata: {
      phone: '',
      address: '',
      email: ''
    }
  };
};
const save = () => {
  submitted.value = true;
  try {
    props.saveClinic(clinic.value);
    hideDialog();
  } catch (e) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    submitted.value = false;
  }
};
</script>
<template>
  <div>
    <div class="flex justify-content-between mb-4">
      <IconField iconPosition="left" class="block mt-2 md:mt-0">
        <InputIcon class="pi pi-search" />
        <InputText class="w-full sm:w-auto" v-model="filters['global'].value" placeholder="Поиск..." />
      </IconField>

      <Button
        v-if="hasPermission([CABINET_PERMISSIONS.CABINET_CREATE_CLINICS, SYSTEM_PERMISSIONS.SYSTEM_CREATE_CLINICS])"
        size="small"
        severity="info"
        label="Добавить"
        icon="pi pi-plus"
        class="mr-2"
        @click="openNew"
      />
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <DataTable
        ref="dt"
        size="small"
        :value="clinics"
        dataKey="id"
        :paginator="true"
        :rows="30"
        :filters="filters"
        :rowHover="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[30, 60, 90]"
        currentPageReportTemplate="{first} из {last} всего {totalRecords}"
      >
        <Column field="id" header="ID" :sortable="true" headerStyle="width:14%; min-width:10rem;">
          <template #body="slotProps">
            {{ slotProps.data.id }}
          </template>
        </Column>
        <Column field="title" header="Название" :sortable="true" headerStyle="min-width:12rem;">
          <template #body="slotProps">
            <NuxtLink
              :to="type === 'admin' ? `/admin/companies/${slotProps.data.id}` : `/cabinet/clinics/${slotProps.data.id}`"
              class="text-primary"
            >
              {{ slotProps.data.title }}
            </NuxtLink>
          </template>
        </Column>

        <Column field="users_count" header="Кол-во пользователей" :sortable="true" headerStyle="width: 10rem">
          <template #body="slotProps">
            <NuxtLink :to="`/admin/companies/${slotProps.data.id}/users`" class="text-primary">
              {{ slotProps.data.users_count }}
            </NuxtLink>
          </template>
        </Column>

        <Column headerStyle="min-width:2rem;">
          <template #body="slotProps">
            <div class="flex justify-content-end">
              <Button
                icon="pi pi-pencil"
                class="mr-2 w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Редактировать'"
                v-if="hasPermission([CABINET_PERMISSIONS.CABINET_UPDATE_CLINICS, SYSTEM_PERMISSIONS.SYSTEM_UPDATE_CLINICS])"
                @click="editClinic(slotProps.data)"
              />
              <Button
                icon="pi pi-trash"
                class="w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Удалить'"
                v-if="hasPermission([CABINET_PERMISSIONS.CABINET_DELETE_CLINICS, SYSTEM_PERMISSIONS.SYSTEM_DELETE_CLINICS])"
                @click="confirmDeleteClinic(slotProps.data)"
              />
            </div>
          </template>
        </Column>
        <template #footer v-if="loading">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <ProgressSpinner
              style="width: 20px; height: 20px"
              strokeWidth="4"
              fill="var(--surface-ground)"
              animationDuration=".5s"
              aria-label="Custom ProgressSpinner"
            />
          </div>
        </template>
        <template #empty><div class="text-center text-sm">Список пуст</div></template>
      </DataTable>
    </div>
    <PanelsSmall v-bind:visible="clinicDialog" @update:visible="clinicDialog = false" header="Информация о компании" class="p-fluid">
      <template #body>
        <div class="flex flex-column gap-2">
          <div class="field">
            <label for="first_name" class="font-medium">Название</label>
            <InputText id="first_name" v-model.trim="clinic.title" required="true" :invalid="submitted && !clinic.title" />
            <small class="p-invalid text-red-600" v-if="submitted && !clinic.title">Обазательно для заполнения</small>
          </div>
          <hr />
          <div class="flex flex-column">
            <div class="font-bold text-xl mb-2">Дополнительная информация</div>
            <div class="field">
              <label for="address" class="font-medium">Адрес</label>
              <InputText id="address" v-model.trim="clinic.metadata.address" />
            </div>
            <div class="field">
              <label for="phone" class="font-medium">Телефон</label>
              <InputMask id="phone" mask="+7 (999) 999-9999" placeholder="+7 (999) 999-9999" v-model="clinic.metadata.phone" />
            </div>
            <div class="field">
              <label for="email" class="font-medium">Email</label>
              <InputText id="email" v-model.trim="clinic.metadata.email" />
            </div>
          </div>
        </div>
      </template>
      <template #footer>
        <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="hideDialog" />
        <Button label="Сохранить" severity="info" icon="pi pi-check" @click="save" />
      </template>
    </PanelsSmall>
  </div>
</template>
