<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref, watch, type PropType } from 'vue';
import { useCompanyStore } from '~/stores/company.store';
import { COMPANY_TYPES, type ICompany, type ICompanyType, type ICreateCompanyDto } from '~/types/company.type';
import { getToasts } from '~/utils/vue.utils';

// PROPS
const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  item: {
    type: Object as PropType<ICreateCompanyDto>,
    required: true
  },
  visible: {
    type: Boolean as PropType<boolean>,
    required: true
  }
});

//Common
const toast = useToast();
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const isNew = computed<boolean>(() => !itemData.value?.id);
//Hooks & Stores
const companiesStore = useCompanyStore();

//Data
const itemData = ref<ICreateCompanyDto>(props.item);

const types = computed<ICompanyType[]>(() => companiesStore.types);
const laboratoryCompanies = computed<ICompany[]>(() => companiesStore.list.filter((c: ICompany) => c.type.id === COMPANY_TYPES.LABORATORY));

onMounted(async () => {
  try {
    await companiesStore.fetchTypes();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }

  isLoading.value = false;
});
watch(
  () => props.item,
  () => {
    itemData.value = props.item;
  }
);
const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = (): boolean => {
  if (!itemData.value.type_id) return false;
  if (!itemData.value.title.length) return false;
  if (itemData.value.type_id === COMPANY_TYPES.PHARMACY && !itemData.value.parent_id) return false;
  return true;
};

const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;

    if (!validate()) return;
    const isNew = !itemData.value.id;

    const result = await companiesStore.save(itemData.value);
    getToasts(toast).success(isNew ? 'Услуга успешно создана' : 'Информация успешно обновлена');

    emits('update:item', result);
    submitted.value = false;
    close();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};

const changeLogo = async (avatarPath: string) => {
  itemData.value.image = avatarPath;
};
</script>
<template>
  <PanelsSmall
    v-bind:visible="visible"
    @update:visible="close"
    :header="isNew ? 'Добавить компанию' : `Компания: ${itemData.title}`"
    class="p-fluid"
  >
    <template #body>
      <div class="flex flex-column gap-2">
        <div class="flex flex-column mb-2">
          <div class="flex gap-2 align-items-center">
            <InputSwitch v-model="itemData.is_verified" />
            <label class="font-medium">{{ itemData.is_verified ? 'Верифицирована' : 'Не верифицирована' }}</label>
          </div>
        </div>
        <div class="flex justify-content-center gap-1">
          <CommonAvatar class="w-8rem h-8rem" edit :img="itemData.image" @upload:file="changeLogo" />
        </div>
        <div class="flex flex-column gap-1 w-full">
          <label for="company" class="font-medium">Тип компании</label>
          <Dropdown
            id="company"
            v-model.trim="itemData.type_id"
            filter
            :options="types"
            optionLabel="title"
            optionValue="id"
            placeholder="Выберите тип компании"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.type_id">Обазательно для заполнения</small>
        </div>
        <div class="flex flex-column gap-1 w-full" v-if="itemData.type_id === COMPANY_TYPES.PHARMACY">
          <label for="parent_company" class="font-medium">Выберите лабораторию</label>
          <Dropdown
            id="parent_company"
            v-model.trim="itemData.parent_id"
            filter
            :options="laboratoryCompanies"
            optionLabel="title"
            optionValue="id"
            placeholder="Выберите лабораторию"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.parent_id">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="first_name" class="font-medium">Название</label>
          <InputText id="first_name" v-model.trim="itemData.title" required="true" :invalid="submitted && !itemData.title" />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.title">Обазательно для заполнения</small>
        </div>
        <hr />
        <div class="flex flex-column">
          <div class="font-bold text-xl mb-2">Дополнительная информация</div>
          <div class="field">
            <label for="address" class="font-medium">Адрес</label>
            <InputText id="address" v-model.trim="itemData.metadata.address" />
          </div>
          <div class="field">
            <label for="phone" class="font-medium">Телефон</label>
            <InputMask id="phone" mask="+7 (999) 999-9999" placeholder="+7 (999) 999-9999" v-model="itemData.metadata.phone" />
          </div>
          <div class="field">
            <label for="email" class="font-medium">Email</label>
            <InputText id="email" v-model.trim="itemData.metadata.email" />
          </div>
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="close" />
      <Button label="Сохранить" severity="info" :loading="isLoading" icon="pi pi-check" @click="save" />
    </template>
  </PanelsSmall>
</template>
