<script setup lang="ts">
import type { MenuItem } from 'primevue/menuitem';
import { computed } from 'vue';
import { COMPANY_TYPES } from '~/types/company.type';

const props = defineProps({
  company: {
    type: Object,
    required: true
  },
  active: {
    type: String,
    default: ''
  },
  type: {
    type: String as PropType<'admin' | 'cabinet'>,
    default: 'admin'
  }
});
const router = useRouter();

const getUrlByCompanyType = (type: 'admin' | 'cabinet') => {
  return type === 'admin' ? `/admin/companies/` : `/cabinet/clinics/`;
};
const nestedRouteItems = computed(() => {
  let menu: MenuItem[] = [
    {
      label: 'Настроки компании',
      items: [
        {
          label: 'Общая информация',
          url: `${getUrlByCompanyType(props.type)}${props.company?.id}`
        },
        {
          label: 'Пользователи',
          url: `${getUrlByCompanyType(props.type)}${props.company?.id}/users`
        }
      ]
    }
  ];
  if (props.company?.type?.id === COMPANY_TYPES.PHARMACY && props.type === 'admin') {
    menu[0].items = [
      ...(menu[0] && menu[0].items?.length ? menu[0].items : []),
      {
        label: 'Пациенты',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/patients`
      },
      {
        label: 'Заказы',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/orders`
      }
    ];
  }
  if (props.company?.type?.id === COMPANY_TYPES.LABORATORY) {
    menu[0].items = [
      ...(menu[0] && menu[0].items?.length ? menu[0].items : []),
      {
        label: 'Услуги',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/services`
      },
      {
        label: 'Клиники',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/clinics`
      },
      {
        label: 'Заказы',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/orders`
      }
    ];
  }
  if (props.type === 'admin') {
    menu[0].items = [
      ...(menu[0] && menu[0].items?.length ? menu[0].items : []),
      {
        label: 'Хуки',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/webhooks`
      },
      {
        label: 'Api ключи',
        url: `${getUrlByCompanyType(props.type)}${props.company?.id}/api-keys`
      }
    ];
  }

  return menu;
});
const activeIndex = computed<number>(() => nestedRouteItems.value.findIndex((item) => item.label === props.active) ?? 0);
</script>
<template>
  <div class="mb-2">
    <Menu :model="nestedRouteItems" />
  </div>
</template>
<style>
.p-tabmenu .p-tabmenu-nav,
a.p-menuitem-link {
  background: transparent;
}
</style>
