<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { onBeforeMount, ref, type PropType } from 'vue';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import type { IOrder, IOrderFilter, IOrderFilterDto, IOrderStatus } from '~/types/order.type';
import type { IService } from '~/types/service.type';
import type { IUser } from '~/types/user.type';
import { localeFilter } from '~/utils/helper.utils';

const props = defineProps({
  orders: {
    type: [Array] as PropType<IOrder[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  },

  statuses: {
    type: [Array] as PropType<IOrderStatus[]>,
    required: true
  },
  services: {
    type: [Array] as PropType<IService[]>,
    required: true
  },
  patients: {
    type: [Array] as PropType<IPatient[]>,
    required: true
  },
  customers: {
    type: [Array] as PropType<IUser[]>,
    required: true
  },
  responsibles: {
    type: [Array] as PropType<IUser[]>,
    required: true
  },
  executors: {
    type: [Array] as PropType<IUser[]>,
    required: true
  },
  applyFilter: {
    type: Function as PropType<(dto: IOrderFilterDto) => void>,
    required: true
  },
  openNew: {
    type: Function as PropType<() => void>,
    required: true
  },
  openOrder: {
    type: Function as PropType<(order: IOrder) => void>,
    required: true
  },
  openPatient: {
    type: Function as PropType<(company: ICompany, patient: IPatient) => void>,
    required: true
  },
  openClinic: {
    type: Function as PropType<(company: ICompany) => void>
  },
  openCustomer: {
    type: Function as PropType<(user: IUser) => void>,
    required: true
  },
  deleteOrder: {
    type: Function as PropType<(order: IOrder, reason: string) => void>,
    required: true
  },
  changeStatus: {
    type: Function as PropType<(order: IOrder) => void>,
    required: true
  },
  readonly: {
    type: Boolean as PropType<boolean>,
    default: false
  }
});

const filters = ref<any>({});

//Dialogs
const filterSidebar = ref<boolean>(false);
//Filter
onBeforeMount(() => {
  localeFilter();
  initFilters();
});
const requestFilter = ref<IOrderFilter>({
  created_at_range: [],
  finished_at_range: [],
  statuses: [],
  services: [],
  customers: [],
  patients: [],
  responsibles: [],
  executors: []
});

const orderViewMode = ref<'list' | 'grid'>('list');
const modes = ref<{ label: string; value: string; icon: string }[]>([
  {
    label: 'Список',
    value: 'list',
    icon: 'pi pi-align-justify'
  },
  {
    label: 'Сетка',
    value: 'grid',
    icon: 'pi pi-th-large'
  }
]);

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
const _prepareFilter = (orderFilter: IOrderFilter): IOrderFilterDto => {
  const { statuses, created_at_range, finished_at_range, services, customers, patients, responsibles, executors } = orderFilter;
  const oFilter: any = {
    status_id: statuses ? statuses.map((status) => status.id) : [],
    service_id: services ? services.map((service) => service.id) : [],
    customer_id: customers ? customers.map((customer) => customer.id) : [],
    patient_uid: patients ? patients.map((patient) => patient.uid) : [],
    responsible_id: responsibles ? responsibles.map((technic) => technic.id) : [],
    executor_id: executors ? executors.map((executor) => executor.id) : []
  };
  if (created_at_range && created_at_range[0] && created_at_range[1]) {
    oFilter['created_at_range'] = {
      from: created_at_range[0],
      to: created_at_range[1]
    };
  }
  if (finished_at_range && finished_at_range[0] && finished_at_range[1]) {
    oFilter['finished_at_range'] = {
      from: finished_at_range[0],
      to: finished_at_range[1]
    };
  }
  return oFilter;
};
const resetFilter = () => {
  requestFilter.value = {
    created_at_range: [],
    finished_at_range: [],
    statuses: [],
    services: [],
    customers: [],
    patients: [],
    responsibles: [],
    executors: []
  };
  apply();
  isSetFilter.value = false;
};
const isSetFilter = ref<boolean>(false);
const apply = () => {
  props.applyFilter(_prepareFilter(requestFilter.value));
  filterSidebar.value = false;
  isSetFilter.value = true;
};

const onChangeOrderViewMode = (value: 'list' | 'grid') => {
  orderViewMode.value = value;
};
</script>
<template>
  <div>
    <div class="flex justify-content-between flex-column sm:flex-row">
      <div class="flex gap-2 w-full flex-wrap">
        <IconField iconPosition="left" class="w-full md:w-auto">
          <InputIcon class="pi pi-search" />
          <InputText v-model="filters['global'].value" placeholder="Поиск..." class="w-full" />
        </IconField>
        <SelectButton :modelValue="orderViewMode" @update:modelValue="onChangeOrderViewMode" :options="modes" optionValue="value">
          <template #option="{ option }">
            <i :class="option.icon"></i>
          </template>
        </SelectButton>
        <Button
          v-if="hasPermission([CABINET_PERMISSIONS.CABINET_CREATE_ORDER, SYSTEM_PERMISSIONS.SYSTEM_CREATE_ORDER])"
          size="small"
          label="Добавить"
          icon="pi pi-plus"
          class="md:mr-2 w-full md:w-auto"
          severity="info"
          @click="openNew"
        />
      </div>
      <div class="flex gap-1 flex-wrap justify-content-between" v-if="orderViewMode === 'list'" style="flex-shrink: 0">
        <Button
          v-if="isSetFilter"
          type="button"
          icon="pi pi-refresh"
          size="small"
          outlined
          severity="secondary"
          class="w-full w-auto"
          v-tooltip.bottom="'Сбросить'"
          @click="resetFilter"
        />
        <Button type="button" icon="pi pi-filter" label="Фильтр" severity="info" size="small" class="w-full w-auto" @click="filterSidebar = true" />
      </div>
    </div>
    <hr />
    <template v-if="orderViewMode === 'list'">
      <OrderTable
        :orders="orders"
        :isFetching="loading"
        :filters="filters"
        :openClinic="openClinic"
        :openOrder="openOrder"
        :openPatient="openPatient"
        :openCustomer="openCustomer"
        :deleteOrder="deleteOrder"
      />
    </template>
    <template v-if="orderViewMode === 'grid'">
      <OrderDesc
        :orders="orders"
        :changeStatus="changeStatus"
        :statuses="statuses"
        :openOrder="openOrder"
        :openPatient="openPatient"
        :openCustomer="openCustomer"
      />
    </template>
    <Sidebar
      v-model:visible="filterSidebar"
      :baseZIndex="1000"
      position="right"
      width="450px"
      header="Фильтр по заказам"
      :showCloseIcon="true"
    >
      <div class="flex flex-column justify-content-between h-full">
        <div class="flex flex-column">
          <div class="field">
            <label for="status" class="block font-medium">Дата создания</label>
            <Calendar
              v-model="requestFilter.created_at_range"
              placeholder="Выберите дату"
              selectionMode="range"
              :manualInput="false"
              dateFormat="dd.mm.yy"
            />
          </div>
          <div class="field">
            <label for="status" class="block font-medium">Дата завершения</label>
            <Calendar
              v-model="requestFilter.finished_at_range"
              placeholder="Выберите дату"
              selectionMode="range"
              :manualInput="false"
              dateFormat="dd.mm.yy"
            />
          </div>

          <div class="field">
            <label for="status" class="block font-medium">Статус заказа</label>
            <MultiSelect
              v-model="requestFilter.statuses"
              :options="statuses"
              display="chip"
              optionLabel="name"
              filter
              placeholder="Выберите статус"
              class="w-full"
            />
          </div>
          <div class="field" v-if="patients.length">
            <label for="patient" class="block font-medium">Пациент</label>
            <MultiSelect
              v-model="requestFilter.patients"
              display="chip"
              :options="patients"
              filter
              placeholder="Пациент"
              class="w-full"
              optionLabel="fio"
            >
              <template #chip="slotProps">
                {{ slotProps.value.fio }}
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите пациента</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.fio }}
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field" v-if="customers.length">
            <label for="customer" class="block font-medium">Клиент</label>
            <MultiSelect v-model="requestFilter.customers" display="chip" :options="customers" filter placeholder="Клиент" class="w-full">
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите клиента</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field" v-if="responsibles.length">
            <label for="responsible" class="block font-medium">Ответственный</label>
            <MultiSelect
              v-model="requestFilter.responsibles"
              display="chip"
              :options="responsibles"
              filter
              placeholder="Ответственный"
              class="w-full"
            >
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите ответственного</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
          <div class="field" v-if="executors.length">
            <label for="executor" class="block font-medium">Исполнитель</label>
            <MultiSelect
              v-model="requestFilter.executors"
              display="chip"
              :options="executors"
              filter
              placeholder="Исполнитель"
              class="w-full"
            >
              <template #chip="slotProps">
                {{ slotProps.value.last_name }} {{ slotProps.value.first_name[0] }}.{{ slotProps.value.middle_name[0] }}.
              </template>
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите исполнителя</div>
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.last_name }} {{ slotProps.option.first_name[0] }}.{{ slotProps.option.middle_name[0] }}.
                </div>
              </template>
            </MultiSelect>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <Button label="Применить" class="flex-auto" outlined @click="apply" />
          <Button label="Очистить" class="flex-auto" severity="danger" text @click="resetFilter" />
        </div>
      </div>
    </Sidebar>
  </div>
</template>
