<script setup lang="ts">
import { format } from 'date-fns';
import { FilterMatchMode, FilterOperator } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { onBeforeMount, type PropType, ref } from 'vue';
import type { ICompany } from '~/types/company.type';
import type { IPatient } from '~/types/customer.type';
import { localeFilter } from '~/utils/helper.utils';

const props = defineProps({
  title: {
    type: [String] as PropType<String>,
    required: false,
    default: 'Клиники компании'
  },
  company: {
    type: [Object] as PropType<ICompany>,
    required: true
  },
  patients: {
    type: [Array] as PropType<IPatient[]>,
    required: true
  },
  deletePatient: {
    type: Function as PropType<(payload?: IPatient) => void>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  savePatient: {
    type: Function as PropType<(payload?: IPatient) => void>,
    required: true
  },
  openPatient: {
    type: Function as PropType<(payload?: IPatient) => void>,
    required: true
  },
  openClinic: {
    type: Function as PropType<(payload?: ICompany) => void>,
    required: true
  }
});
const confirm = useConfirm();

const filters = ref<any>({});

//Data
onBeforeMount(() => {
  localeFilter();
  initFilters();
});

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    fio: { operator: FilterOperator.AND, constraints: [{ value: null, matchMode: FilterMatchMode.CONTAINS }] },
    phone: { operator: FilterOperator.AND, constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }] },
    dob: { operator: FilterOperator.AND, constraints: [{ value: null, matchMode: FilterMatchMode.DATE_IS }] }
  };
};

const patientDialog = ref<boolean>(false);
const patient = ref<Partial<IPatient>>({});
const openNew = () => {
  _resetPatient();
  patientDialog.value = true;
};
const _resetPatient = () => {
  patient.value = {
    fio: '',
    dob: '',
    phone: ''
  };
};

const editPatient = (editPatient: IPatient) => {
  patient.value = editPatient;
  patientDialog.value = true;
};
const confirmDeletePatient = (editPatient: IPatient) => {
  patient.value = editPatient;
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить пациента?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: () => props.deletePatient(editPatient),
    reject: () => {
      _resetPatient();
    }
  });
};
</script>
<template>
  <div>
    <div class="flex justify-content-end mb-4">
      <Button
        v-if="hasPermission([CABINET_PERMISSIONS.CABINET_CREATE_PATIENT, SYSTEM_PERMISSIONS.SYSTEM_CREATE_PATIENT])"
        size="small"
        label="Добавить"
        icon="pi pi-plus"
        class="mr-2"
        severity="info"
        @click="openNew"
      />
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <DataTable
        size="small"
        :value="patients"
        class="text-sm"
        dataKey="id"
        :paginator="true"
        :rows="30"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[30, 60, 90]"
        currentPageReportTemplate="{first} из {last} всего {totalRecords}"
        :rowHover="true"
        v-model:filters="filters"
        filterDisplay="menu"
        filterLocale="ru-RU"
        :loading="loading"
        :globalFilterFields="['last_name', 'phone', 'dob']"
      >
        <template #empty> <div class="text-center text-sm">Список пуст</div> </template>
        <template #loading>
          <ProgressSpinner
            style="width: 20px; height: 20px"
            strokeWidth="4"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            aria-label="Custom ProgressSpinner"
          />
        </template>

        <Column field="fio" header="Клиент" style="min-width: 12rem">
          <template #body="{ data }">
            <span @click="openPatient(data)" class="flex cursor-pointer align-items-center gap-2 text-primary">
              <span class="font-medium">
                {{ data.fio }}
              </span>
            </span>
          </template>

          <template #filter="{ filterModel }">
            <InputText type="text" v-model="filterModel.value" class="p-column-filter" placeholder="Поиск по ФИО" />
          </template>
        </Column>
        <Column header="Телефон" filterField="phone" dataType="string" style="min-width: 10rem">
          <template #body="{ data }">
            {{ data.phone ? data.phone : '-' }}
          </template>
          <template #filter="{ filterModel }">
            <InputText v-model="filterModel.value" placeholder="Поиск по номеру телефона" />
          </template>
        </Column>

        <Column header="Дата рождения" dataType="date" style="min-width: 10rem">
          <template #body="{ data }">
            <span v-if="data.dob">
              {{ format(data.dob, 'dd.MM.yyyy') }}
            </span>
            <span v-else> - </span>
          </template>
        </Column>
        <Column header="Клиника" style="min-width: 10rem">
          <template #body="{ data }">
            <span @click="openClinic(data.company)" class="cursor-pointer text-primary">
              {{ data.company?.title }}
            </span>
          </template>
        </Column>

        <Column headerStyle="min-width:2rem;">
          <template #body="{ data }">
            <div class="flex justify-content-end">
              <Button
                icon="pi pi-pencil"
                class="mr-1 w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Редактировать'"
                v-if="hasPermission([CABINET_PERMISSIONS.CABINET_UPDATE_PATIENT, SYSTEM_PERMISSIONS.SYSTEM_UPDATE_PATIENT])"
                @click="editPatient(data)"
              />
              <Button
                icon="pi pi-trash"
                class="w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Удалить'"
                v-if="hasPermission([CABINET_PERMISSIONS.CABINET_DELETE_PATIENT, SYSTEM_PERMISSIONS.SYSTEM_DELETE_PATIENT])"
                @click="confirmDeletePatient(data)"
              />
            </div>
          </template>
        </Column>
      </DataTable>
    </div>
    <PatientsEdit
      v-bind:company="company"
      v-bind:item="patient"
      :savePatient="savePatient"
      v-model:visible="patientDialog"
      @hideDialog="patientDialog = false"
    />
  </div>
</template>
