<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { onBeforeMount, ref, type PropType } from 'vue';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany } from '~/types/company.type';
import type { IService } from '~/types/service.type';

const props = defineProps({
  company: {
    type: [Object] as PropType<ICompany>,
    required: true
  },
  serviceList: {
    type: [Array] as PropType<IService[]>,
    required: true
  },
  companyServices: {
    type: [Array] as PropType<number[]>,
    required: true
  },
  readonly: {
    type: Boolean as PropType<boolean>,
    default: false
  },
  loading: {
    type: Boolean as PropType<boolean>,
    default: true
  }
});
//Common
const filters = ref<any>({});

//Stores & services
const companyStore = useCompanyStore();

//Data
onBeforeMount(() => {
  initFilters();
});
const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};

const toggleService = async (service: IService) => {
  if (props.company.id && service.id) {
    if (props.companyServices.includes(service.id)) {
      await companyStore.removeService(props.company.id, service.id);
    } else {
      await companyStore.addService(props.company.id, service.id);
    }
  }
};
</script>
<template>
  <div>
    <div class="flex align-items-center justify-content-between gap-2 sm:flex-row flex-column mb-2">
      <IconField iconPosition="left" class="block md:mt-0 w-full">
        <InputIcon class="pi pi-search" />
        <InputText class="w-full" size="small" v-model="filters['global'].value" placeholder="Поиск..." />
      </IconField>
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <DataTable
        size="small"
        :value="serviceList"
        class="text-sm"
        dataKey="id"
        :paginator="true"
        :rows="30"
        :filters="filters"
        :rowHover="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[30, 60, 90]"
        currentPageReportTemplate="{first} из {last} всего {totalRecords}"
      >
        <Column field="id" header="ID" :sortable="true" headerStyle="width:5rem;">
          <template #body="slotProps">
            {{ slotProps.data.id }}
          </template>
        </Column>
        <Column field="title" header="Название" :sortable="true" headerStyle="min-width:10rem;">
          <template #body="slotProps">
            {{ slotProps.data.title }}
          </template>
        </Column>
        <Column field="is_active" header="Статус" :sortable="true" headerStyle="width:10rem;">
          <template #body="slotProps">
            <Tag
              class="mr-2"
              :severity="slotProps.data.is_active ? 'success' : 'danger'"
              :value="slotProps.data.is_active ? 'Активирован' : 'Деактивирован'"
              :rounded="true"
            />
          </template>
        </Column>
        <Column field="category.title" header="Категория" :sortable="true" headerStyle="width:10rem;">
          <template #body="slotProps">
            {{ slotProps.data.category?.title }}
          </template>
        </Column>

        <Column headerStyle="min-width:2rem;" v-if="!readonly">
          <template #body="slotProps">
            <div class="flex justify-content-end">
              <Button
                v-if="
                  slotProps.data.is_active &&
                  hasPermission([SYSTEM_PERMISSIONS.SYSTEM_CREATE_COMPANY_SERVICE, SYSTEM_PERMISSIONS.SYSTEM_DELETE_COMPANY_SERVICE])
                "
                :icon="companyServices.includes(slotProps.data.id) ? 'pi pi-minus' : 'pi pi-plus'"
                class="mr-1 w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                @click="toggleService(slotProps.data)"
              />
            </div>
          </template>
        </Column>
        <template #footer v-if="loading">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <ProgressSpinner
              style="width: 20px; height: 20px"
              strokeWidth="4"
              fill="var(--surface-ground)"
              animationDuration=".5s"
              aria-label="Custom ProgressSpinner"
            />
          </div>
        </template>
        <template #empty><div class="text-center text-sm">Список пуст</div></template>
      </DataTable>
    </div>
  </div>
</template>
