<script setup lang="ts">
import { format } from 'date-fns';
import { FilterMatchMode } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { computed, defineProps, onBeforeMount, ref, type PropType } from 'vue';
import { useAuthStore } from '~/stores/auth.store';
import type { ICompany } from '~/types/company.type';
import { DEFAULT_ROLE, type ICreateCompanyUserDto, type IRole, type IUser } from '~/types/user.type';

const props = defineProps({
  title: {
    type: [String] as PropType<String>,
    required: false,
    default: 'Пользователи компании'
  },
  company: {
    type: [Object] as PropType<ICompany>,
    required: true
  },
  type: {
    type: String as PropType<'cabinet' | 'admin' | 'clinic'>,
    default: 'admin'
  },
  users: {
    type: [Array] as PropType<IUser[]>,
    required: true
  },
  roles: {
    type: [Array] as PropType<IRole[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  deleteUser: {
    type: Function as PropType<(payload?: ICreateCompanyUserDto) => void>,
    required: true
  },
  saveUser: {
    type: Function as PropType<(payload: ICreateCompanyUserDto) => void>,
    required: true
  }
});
//Common
const toast = useToast();
const confirm = useConfirm();

const filters = ref<any>({});
const submitted = ref<boolean>(false);

const isNew = computed(() => !user.value?.id);

//Hooks & stores
const authStore = useAuthStore();

//Users
const currentUser = computed(() => authStore.user);

const user = ref<ICreateCompanyUserDto>({
  email: '',
  first_name: '',
  last_name: '',
  middle_name: '',
  is_active: true,
  password: '',
  confirm_password: '',
  email_verified: true,
  role_id: DEFAULT_ROLE.id
});

//Dialogs
const userDialog = ref(false);

onBeforeMount(async () => {
  initFilters();
});

const openNew = () => {
  _resetUser();
  submitted.value = false;
  userDialog.value = true;
};

const hideDialog = () => {
  userDialog.value = false;
  submitted.value = false;
};

const editUser = (editUser: any) => {
  user.value = { ...editUser, role_id: editUser.role.id };
  userDialog.value = true;
};
const save = () => {
  submitted.value = true;
  props.saveUser(user.value);
  submitted.value = false;
  hideDialog();
};
const confirmDeleteUser = (editUser: any) => {
  user.value = editUser;
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить пользователя?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: () => props.deleteUser(user.value as ICreateCompanyUserDto),
    reject: () => {
      _resetUser();
    }
  });
};

const _resetUser = () => {
  user.value = {
    is_active: false,
    confirm_password: '',
    email: '',
    first_name: '',
    last_name: '',
    middle_name: '',
    password: '',
    role_id: DEFAULT_ROLE.id,
    email_verified: true
  };
};
const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
</script>
<template>
  <div>
    <div class="flex justify-content-between mb-4">
      <IconField iconPosition="left" class="block mt-2 md:mt-0">
        <InputIcon class="pi pi-search" />
        <InputText class="w-full sm:w-auto" v-model="filters['global'].value" placeholder="Поиск..." />
      </IconField>

      <Button
        v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_USER)"
        size="small"
        label="Добавить"
        icon="pi pi-plus"
        class="mr-2"
        severity="info"
        @click="openNew"
      />
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <DataTable
        size="small"
        :value="users"
        class="text-sm"
        dataKey="id"
        :paginator="true"
        :rows="30"
        :filters="filters"
        :rowHover="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[30, 60, 90]"
        currentPageReportTemplate="{first} из {last} всего {totalRecords}"
      >
        <Column field="id" header="ID" :sortable="true" headerStyle="min-width:3rem;">
          <template #body="slotProps">
            {{ slotProps.data.id }}
          </template>
        </Column>

        <Column header="Активирован" headerStyle="width:50rem;">
          <template #body="slotProps">
            <div class="flex flex-column text-xs">
              <span class="flex align-items-center gap-1"> <b> Активирован:</b> {{ slotProps.data.is_active ? 'Да' : 'Нет' }} </span>
              <span class="flex align-items-center gap-1"> <b>Верифицирован:</b> {{ slotProps.data.is_verified ? 'Да' : 'Нет' }} </span>
            </div>
          </template>
        </Column>

        <Column field="email" header="Email" :sortable="true" headerStyle="width:16%; min-width:10rem;">
          <template #body="slotProps">
            <NuxtLink
              :to="type === 'clinic' ? `/cabinet/clinics/${company.id}/users/${slotProps.data.id}` : `/${type}/users/${slotProps.data.id}`"
              class="text-primary font-medium"
            >
              <div class="flex gap-2">
                <i
                  class="pi"
                  :class="{
                    'text-green-500 pi-check-circle': slotProps.data.is_active,
                    'text-pink-500 pi-times-circle': !slotProps.data.is_active
                  }"
                ></i>
                <span>
                  {{ slotProps.data.email }}
                </span>
              </div>
            </NuxtLink>
          </template>
        </Column>
        <Column field="name" header="ФИО" headerStyle="width:29%; min-width:10rem;">
          <template #body="slotProps">
            <span class="font-medium">
              <NuxtLink
                :to="
                  type === 'clinic' ? `/cabinet/clinics/${company.id}/users/${slotProps.data.id}` : `/${type}/users/${slotProps.data.id}`
                "
                class="text-primary font-medium"
              >
                {{ slotProps.data.last_name }} {{ slotProps.data.first_name }} {{ slotProps.data.middle_name }}
              </NuxtLink>
            </span>
          </template>
        </Column>
        <Column field="role" header="Роль" headerStyle="width:23%; min-width:10rem;">
          <template #body="slotProps">
            <Tag
              v-if="slotProps.data.role"
              class="mr-2"
              :severity="getTagByFirstLetter(slotProps.data.role.slug)"
              :value="slotProps.data.role.name"
              :rounded="true"
            ></Tag>
          </template>
        </Column>

        <Column field="created_at" header="Дата регистрации" :sortable="true" headerStyle="width:14%; min-width:10rem;">
          <template #body="slotProps">
            <span v-if="slotProps.data.created_at">
              {{ format(slotProps.data.created_at, 'dd-MM-yyyy') }}
            </span>
          </template>
        </Column>
        <Column headerStyle="min-width:2rem;">
          <template #body="slotProps">
            <div class="flex justify-content-end" v-if="slotProps.data.id !== currentUser?.id">
              <Button
                icon="pi pi-pencil"
                class="mr-1 w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Редактировать'"
                v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_USER)"
                @click="editUser(slotProps.data)"
              />

              <Button
                icon="pi pi-trash"
                class="w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Удалить'"
                v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_DELETE_USER)"
                @click="confirmDeleteUser(slotProps.data)"
              />
            </div>
            <div class="flex justify-content-end" v-else>
              <Button
                icon="pi pi-user"
                class="w-2rem h-2rem"
                size="small"
                text
                outline
                v-tooltip.bottom="'Профиль'"
                @click="navigateTo('/profile')"
              />
            </div>
          </template>
        </Column>
        <template #footer v-if="loading">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <ProgressSpinner
              style="width: 20px; height: 20px"
              strokeWidth="4"
              fill="var(--surface-ground)"
              animationDuration=".5s"
              aria-label="Custom ProgressSpinner"
            />
          </div>
        </template>
        <template #empty><div class="text-center text-sm">Список пуст</div></template>
      </DataTable>
    </div>

    <PanelsSmall
      v-model:visible="userDialog"
      :header="isNew ? 'Добавить пользователя' : `Пользователь: ${user.email}`"
      :modal="true"
      class="p-fluid"
    >
      <template #body>
        <div class="field flex items-center gap-2">
          <InputSwitch v-model="user.is_active" />
          <label class="font-medium">{{ user.is_active ? 'Активирован' : 'Не активирован' }}</label>
        </div>
        <div class="field">
          <label for="role" class="font-medium">Роль</label>

          <Dropdown
            id="role"
            v-model.trim="user.role_id"
            filter
            :options="roles"
            optionLabel="name"
            optionValue="id"
            placeholder="Выберите роль"
          />

          <small class="p-invalid text-red-600" v-if="submitted && !user.role_id">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="last_name" class="font-medium">Фамилия</label>

          <InputText
            id="last_name"
            placeholder="Фамилия"
            v-model.trim="user.last_name"
            :invalid="submitted && !user.last_name"
            required="true"
            :disabled="submitted"
            autofocus
          />
          <small class="p-invalid text-red-600" v-if="submitted && !user.last_name">Обязательно для заполнения</small>
        </div>
        <div class="field">
          <label for="first_name" class="font-medium">Имя</label>

          <InputText
            id="first_name"
            placeholder="Имя"
            v-model.trim="user.first_name"
            :invalid="submitted && !user.first_name"
            required="true"
            autofocus
            :disabled="submitted"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !user.first_name">Обязательно для заполнения</small>
        </div>
        <div class="field">
          <label for="last_name" class="font-medium">Отчество</label>

          <InputText id="middle_name" placeholder="Отчество" v-model.trim="user.middle_name" :disabled="submitted" autofocus />
        </div>
        <div class="field">
          <label for="email" class="font-medium">Email</label>

          <InputText
            id="email"
            placeholder="Email"
            type="email"
            v-model.trim="user.email"
            required="true"
            autofocus
            :disabled="submitted"
            :invalid="submitted && !user.email"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !user.email">Обязательно для заполнения</small>
        </div>
        <div class="field" v-if="!user.id">
          <label for="password" class="font-medium">Пароль</label>
          <Password
            id="password"
            placeholder="Пароль"
            v-model.trim="user.password"
            :toggleMask="true"
            class="w-full"
            inputClass="w-full"
            :invalid="submitted && !user.password"
            :disabled="submitted"
            weakLabel="Слишком простой пароль"
            mediumLabel="Пароль средненй сложности"
            strongLabel="Сложный пароль"
            promptLabel="Введите пароль"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !user.password">Обязательно для заполнения и должен совпадать</small>
        </div>
        <div class="field" v-if="!user.id">
          <label for="confirm_password" class="font-medium">Повторите пароль</label>
          <Password
            id="confirm_password"
            placeholder="Повторите пароль"
            v-model.trim="user.confirm_password"
            :toggleMask="true"
            class="w-full"
            inputClass="w-full"
            :invalid="submitted && !user.confirm_password"
            :disabled="submitted"
            :feedback="false"
          />
          <small class="p-invalid text-red-600" v-if="submitted && !user.confirm_password"
            >Обязательно для заполнения и должен совпадать</small
          >
        </div>
      </template>
      <template #footer>
        <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="hideDialog" />
        <Button label="Сохранить" severity="info" icon="pi pi-check" :loading="loading" @click="save" />
      </template>
    </PanelsSmall>
  </div>
</template>
