<script setup lang="ts">
import { format } from 'date-fns';
import { FilterMatchMode } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { onBeforeMount, ref } from 'vue';
import { getToasts } from '~/utils/vue.utils';
const props = defineProps({
  type: {
    type: String as PropType<'cabinet' | 'admin'>,
    default: 'admin'
  },
  title: {
    type: [String] as PropType<String>,
    required: false,
    default: 'Api ключи'
  },
  webhooks: {
    type: [Array] as PropType<IWebhook[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  delete: {
    type: Function as PropType<(payload?: number) => void>,
    required: true
  },
  save: {
    type: Function as PropType<(payload?: ICreateWebhook) => void>,
    required: true
  }
});
//Common
const toast = useToast();

const confirm = useConfirm();
const filters = ref<any>({});
const submitted = ref<boolean>(false);

//dialogs
const dialog = ref<boolean>(false);

const webhook = ref<ICreateWebhook>({
  title: '',
  url: '',
  type: WebhookEvents.NEW_PATIENT
});
onBeforeMount(() => {
  initFilters();
});

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
const openNew = () => {
  _reset();
  dialog.value = true;
};

const confirmDelete = (data: IWebhook) => {
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить вебхук?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: () => props.delete(data.id),
    reject: () => {
      _reset();
    }
  });
};

const hideDialog = () => {
  dialog.value = false;
  submitted.value = false;
};
const _reset = () => {
  webhook.value = {
    title: '',
    url: '',
    type: WebhookEvents.NEW_PATIENT
  };
};
const validate = (webhook: ICreateWebhook): boolean => {
  if (!webhook?.title?.length) return false;
  if (!webhook?.url?.length) return false;
  if (!webhook?.type) return false;

  return true;
};
const save = () => {
  submitted.value = true;
  if (!validate(webhook.value)) {
    submitted.value = false;
    return;
  }
  try {
    props.save(webhook.value);
    hideDialog();
  } catch (e) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    submitted.value = false;
  }
};
</script>
<template>
  <div>
    <div class="flex justify-content-between mb-4">
      <IconField iconPosition="left" class="block mt-2 md:mt-0">
        <InputIcon class="pi pi-search" />
        <InputText class="w-full sm:w-auto" v-model="filters['global'].value" placeholder="Поиск..." />
      </IconField>

      <Button size="small" label="Добавить" icon="pi pi-plus" class="mr-2" severity="info" @click="openNew" />
    </div>
    <div class="surface-0 p-2 border-round-xl">
      <DataTable
        ref="dt"
        size="small"
        :value="webhooks"
        dataKey="id"
        :paginator="true"
        :rows="30"
        :filters="filters"
        :rowHover="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[30, 60, 90]"
        currentPageReportTemplate="{first} из {last} всего {totalRecords}"
      >
        <Column field="id" header="ID" :sortable="true" headerStyle="width:14%; min-width:10rem;">
          <template #body="slotProps">
            {{ slotProps.data.id }}
          </template>
        </Column>
        <Column field="title" header="Название" :sortable="true" headerStyle="min-width:12rem;">
          <template #body="slotProps">
            {{ slotProps.data.title }}
          </template>
        </Column>
        <Column field="type" header="Тип" :sortable="true" headerStyle="min-width:20rem;">
          <template #body="slotProps">
            {{ WebhookEventsLabels[slotProps.data.event_type] }}
          </template>
        </Column>
        <Column field="url" header="URL" :sortable="true" headerStyle="min-width:20rem;">
          <template #body="slotProps">
            {{ slotProps.data.url }}
          </template>
        </Column>
        <Column field="createdAt" header="Дата создания" :sortable="true" headerStyle="min-width:12rem;">
          <template #body="slotProps">
            {{ format(slotProps.data.createdAt, 'dd-MM-yyyy') }}
          </template>
        </Column>

        <Column headerStyle="min-width:2rem;">
          <template #body="slotProps">
            <div class="flex justify-content-end">
              <Button
                icon="pi pi-trash"
                class="w-2rem h-2rem"
                size="small"
                text
                severity="secondary"
                v-tooltip.bottom="'Удалить'"
                @click="confirmDelete(slotProps.data)"
              />
            </div>
          </template>
        </Column>
        <template #footer v-if="loading">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <ProgressSpinner
              style="width: 20px; height: 20px"
              strokeWidth="4"
              fill="var(--surface-ground)"
              animationDuration=".5s"
              aria-label="Custom ProgressSpinner"
            />
          </div>
        </template>
        <template #empty><div class="text-center text-sm">Список пуст</div></template>
      </DataTable>
    </div>
    <PanelsSmall v-bind:visible="dialog" @update:visible="dialog = false" header="Информация о компании" class="p-fluid">
      <template #body>
        <div class="flex flex-column gap-2">
          <div class="field">
            <label for="title" class="font-medium">Название</label>
            <Dropdown
              id="title"
              v-model.trim="webhook.type"
              filter
              :options="WebhookEventsList"
              optionLabel="label"
              optionValue="value"
              required="true"
              :invalid="submitted && !webhook.title"
            />
            <small class="p-invalid text-red-600" v-if="submitted && !webhook.title">Обазательно для заполнения</small>
          </div>
          <div class="field">
            <label for="title" class="font-medium">Название</label>
            <InputText id="title" v-model.trim="webhook.title" required="true" :invalid="submitted && !webhook.title" />
            <small class="p-invalid text-red-600" v-if="submitted && !webhook.title">Обазательно для заполнения</small>
          </div>
          <div class="field">
            <label for="url" class="font-medium">URL</label>
            <InputText id="url" v-model.trim="webhook.url" required="true" :invalid="submitted && !webhook.url" />
            <small class="p-invalid text-red-600" v-if="submitted && !webhook.title">Обазательно для заполнения</small>
          </div>
        </div>
      </template>
      <template #footer>
        <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="hideDialog" />
        <Button label="Сохранить" severity="info" icon="pi pi-check" @click="save" />
      </template>
    </PanelsSmall>
  </div>
</template>
