<script lang="ts" setup>
import { useToast } from 'primevue/usetoast';
import { ref, watch, type PropType } from 'vue';
import { uuid } from 'vue-uuid';
import type { IField } from '~/types/field.type';
import type { IOrderService } from '~/types/order.type';
import type { IService } from '~/types/service.type';
import { getToasts } from '~/utils/vue.utils';

const emits = defineEmits(['update:value']);
const props = defineProps({
  value: {
    type: Array as PropType<IOrderService[]>,
    required: false
  },
  classList: {
    type: String as PropType<string>,
    required: false
  },
  services: {
    type: Array as PropType<IService[]>,
    required: false
  }
});
//Common
const toast = useToast();

// data
const internalService = ref(props.services);

//common
const toggleAddService = ref<boolean>(false);
const internalValue = ref<IOrderService[]>(props.value || []);
const newOrderService = ref<IOrderService>({
  id: undefined,
  title: '',
  service: null,
  metadata: {}
});
const orderServiceFieldValues = ref<any>();

const _validate = () => {
  let is_validated = true;
  const selectedService = internalService.value?.find((el) => el.id === newOrderService.value.service?.id);
  let serviceFields: Record<number, IField> = {};
  if (selectedService) {
    serviceFields = selectedService?.fields?.reduce((acc: Record<number, IField>, item) => {
      acc[item.id] = item;
      return acc as Record<number, IField>;
    }, {}) as Record<number, IField>;
  }
  const errorText: string[] = [];

  if (!newOrderService.value.title) {
    getToasts(toast).error('Заполните название услуги');

    return false;
  }
  if (!newOrderService.value.service) {
    getToasts(toast).error('Выберите услугу');
    return false;
  }
  const _requiredFields = newOrderService.value?.service?.fields?.filter((f) => {
    if (f.required) return true;
    return false;
  });
  Object.entries(orderServiceFieldValues.value as any[]).forEach(([key, value]) => {
    const fieldInstance = serviceFields[Number(key)];
    if (fieldInstance.type === FieldType.TITLE || FieldType.BOOLEAN) {
      is_validated = true;
    } else if ((value == null || value == undefined || value == '') && _requiredFields?.find((f) => f.id == Number(key))) {
      if (fieldInstance) {
        errorText.push(serviceFields[Number(key)].name);
      }

      is_validated = false;
    }
  });
  if (!is_validated && errorText.length) {
    getToasts(toast).error(`Заполните обязательные поля: ${errorText.join(', ')}`);
  }
  return is_validated;
};
const saveService = () => {
  if (!_validate()) return;
  if (newOrderService.value.id) {
    internalValue.value.map((os) => {
      if (os.id == newOrderService.value.id) {
        return newOrderService.value;
      } else {
        return os;
      }
    });
  } else {
    internalValue.value.push({
      id: uuid.v4(),
      title: newOrderService.value.title,
      service: newOrderService.value.service,
      metadata: _prepareOrderFields(newOrderService.value.service?.fields || [], orderServiceFieldValues.value)
    });
  }

  emits('update:value', internalValue.value);
  cancel();
};
const _prepareOrderFields = (fields: IField[], values: any[] | undefined) => {
  let _values: any[] = [];
  if (!fields || !values) return _values;

  Object.entries(values).forEach(([key, value]) => {
    const field = fields.find((field) => field.id == Number(key));
    if (field && value) {
      _values.push({
        id: Number(key),
        name: field.name,
        type: field.type,
        value: value
      });
    }
  });

  return _values;
};
const deleteOrderService = (orderService: IOrderService) => {
  internalValue.value = internalValue.value.filter((os) => os.id !== orderService.id);
  emits('update:value', internalValue.value);
};
const openOrderService = (orderService: IOrderService) => {
  toggleAddService.value = true;

  newOrderService.value = orderService;
  orderServiceFieldValues.value = {};
  orderService.metadata.forEach((item: any) => {
    orderServiceFieldValues.value[item.id] = item.value;
  });
};
const cancel = () => {
  toggleAddService.value = false;
  newOrderService.value = {
    id: undefined,
    title: '',
    service: null,
    metadata: {}
  };
  orderServiceFieldValues.value = {};
};
watch(
  () => props.services,
  (newValue: any) => {
    internalService.value = newValue.map((service: IService) => ({
      ...service,
      fields: service.fields ? service.fields.sort((a, b) => a.sort - b.sort) : []
    }));
  }
);
</script>
<template>
  <div class="card mt-4" :class="classList">
    <template v-if="!toggleAddService">
      <h2 class="text-xl md:text-xl p-0 mb-4">Добавить услугу</h2>
      <div class="flex flex-wrap gap-2">
        <div
          class="flex flex-column gap-2 p-3 border-1 border-200 w-full justify-content-between border-round-xl relative"
          v-for="(orderService, i) in internalValue"
          :key="i"
        >
          <div class="text-lg font-bold cursor-pointer" @click="openOrderService(orderService)">
            {{ orderService.title }}
          </div>
          <div class="text-md cursor-pointer" @click="openOrderService(orderService)"><b>Услуга:</b> {{ orderService.service?.title }}</div>
          <div class="absolute top-0 right-0">
            <Button severity="danger" text icon="pi pi-trash" @click="deleteOrderService(orderService)" />
          </div>
        </div>
        <Button severity="info" class="w-full" icon="pi pi-plus" label="Добавить услугу в заказ" @click="toggleAddService = true" />
      </div>
    </template>
    <template v-else>
      <h2 class="text-xl md:text-xl p-0 mb-4">Добавление услуги</h2>
      <div class="flex flex-column gap-4">
        <div class="flex flex-column gap-2">
          <div class="field">
            <InputText v-model="newOrderService.title" class="w-full" placeholder="Наименование" />
          </div>
          <div class="field">
            <Dropdown filter class="w-full" v-model="newOrderService.service" :options="internalService">
              <template #value="slotProps">
                <template v-if="!slotProps.value || slotProps.value.length === 0">
                  <div class="opacity-70">Выберите услугу</div>
                </template>
                <template v-else>
                  {{ slotProps.value.title }}
                </template>
              </template>
              <template #option="slotProps">
                <div class="flex align-items-center">
                  {{ slotProps.option.title }}
                </div>
              </template>
            </Dropdown>
          </div>

          <template v-if="newOrderService.service">
            <hr class="my-4" />
            <div class="flex flex-column">
              <h3 class="text-xl">Данные заказа</h3>

              <FieldFill :fields="newOrderService.service.fields" v-model:value="orderServiceFieldValues" />
            </div>
          </template>
        </div>
        <div class="flex justify-content-end gap-3">
          <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="cancel" />

          <Button :label="newOrderService.id ? 'Обновить' : 'Добавить'" severity="info" icon="pi pi-check" @click="saveService" />
        </div>
      </div>
    </template>
  </div>
</template>
