<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, type PropType, ref, watch } from 'vue';
import { useServiceStore } from '~/stores/service.store';
import type { IField } from '~/types/field.type';
import type { IServiceCategory, IServiceCreateDto } from '~/types/service.type';
import { getToasts } from '~/utils/vue.utils';

// PROPS
const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  fieldsTree: {
    type: Array as PropType<IField[]>,
    required: true
  },
  item: {
    type: Object as PropType<IServiceCreateDto>,
    required: true
  },
  visible: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  categories: {
    type: Array as PropType<IServiceCategory[]>,
    required: true
  }
});

//Common
const confirm = useConfirm();
const toast = useToast();
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const isNew = computed<boolean>(() => !itemData.value?.id);

//Dialog
const fieldsStore = useFieldStore();
const categoryDialog = ref<boolean>(false);
const fieldDialog = ref<boolean>(false);
const serviceCategory = ref<IServiceCategoryCreateDto>({
  id: undefined,
  title: ''
});
//Hooks & Stores
const serviceStore = useServiceStore();
//Data
const itemData = computed<IServiceCreateDto>(() => props.item as IServiceCreateDto);

//Fields

const selectedFields = ref<any>({});
const tree = computed<any[]>(() => {
  const convertToTableTreeData = (field: IField): any => {
    return {
      key: field.id,
      label: field.technical_name,
      data: field,
      parent: field.parent_id,
      children: field.children && field.children.length > 0 ? field.children.map((child: IField) => convertToTableTreeData(child)) : []
    };
  };

  return props.fieldsTree.map((field: IField) => {
    return convertToTableTreeData(field);
  });
});

const close = () => {
  submitted.value = false;
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = () => {
  if (!itemData.value?.title) {
    return false;
  }
  if (!itemData.value?.category_id) {
    return false;
  }
  return true;
};

const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;

    if (!validate()) return;
    const isNew = !itemData.value.id;
    const savedData = {
      ...itemData.value,
      fields: Object.keys(selectedFields.value).map((key: string) => Number(key))
    };
    await serviceStore.save(savedData);
    getToasts(toast).success(isNew ? 'Услуга успешно создана' : 'Информация успешно обновлена');

    emits('update:item', itemData.value);

    close();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    submitted.value = false;
    isLoading.value = false;
  }
};
const addCategory = () => {
  serviceCategory.value = {
    id: undefined,
    title: ''
  };
  categoryDialog.value = true;
};
const editCategory = (category: IServiceCategory) => {
  serviceCategory.value = {
    id: category.id,
    title: category.title
  };
  categoryDialog.value = true;
};
const saveCategory = async () => {
  try {
    isLoading.value = true;
    const isNew = !itemData.value.id;
    await serviceStore.saveCategory(serviceCategory.value);
    getToasts(toast).success(isNew ? 'Категория успешно создана' : 'Информация успешно обновлена');
    categoryDialog.value = false;
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
const confirmDeleteCategory = async (data: IServiceCategory) => {
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить категорию?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: () => deleteCategory(data.id)
  });
};
const deleteCategory = async (id: number) => {
  try {
    await serviceStore.deleteCategory(id);
    getToasts(toast).success('Категория успешно удалена');
  } catch (e) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const field = ref<IField>({
  id: 0,
  active: true,
  group: FieldGroup.GENERAL,
  technical_name: '',
  name: '',
  multiple: false,
  sort: 0,
  type: FieldType.TITLE,
  placeholder: '',
  parent_id: null,
  directory_id: null,
  required: false,
  metadata: {
    class: '',
    extensions: ''
  }
});
const addField = async () => {
  fieldDialog.value = true;
  field.value = {
    id: 0,
    active: true,
    group: FieldGroup.GENERAL,
    technical_name: '',
    name: '',
    multiple: false,
    sort: 0,
    type: FieldType.TITLE,
    placeholder: '',
    parent_id: null,
    directory_id: null,
    required: false,
    metadata: {
      class: '',
      extensions: ''
    }
  };
};
const onSavedField = async () => {
  fieldDialog.value = false;
  await fieldsStore.fetchTree();
};

watch(
  () => itemData.value,
  () => {
    if (itemData.value?.fields && itemData.value.fields.length) {
      selectedFields.value = {};
      itemData.value.fields.forEach((fieldId: number) => {
        selectedFields.value[fieldId] = { checked: true };
      });
    } else {
      selectedFields.value = {};
    }
  },
  { deep: true, immediate: true }
);
</script>
<template>
  <PanelsSmall
    v-bind:visible="visible"
    @update:visible="close"
    :header="isNew ? 'Добавить услугу' : `Услуга: ${itemData.title}`"
    :modal="true"
    class="p-fluid"
  >
    <template #body>
      <div class="flex flex-column gap-2">
        <div class="flex gap-2 align-items-center">
          <InputSwitch v-model="itemData.is_active" />
          <label class="font-medium">{{ itemData.is_active ? 'Активна' : 'Выключена' }}</label>
        </div>
        <div class="flex flex-column gap-1 w-full">
          <label for="company" class="font-medium">Категория</label>
          <Dropdown
            v-model.trim="itemData.category_id"
            filter
            id="company"
            :options="categories"
            optionLabel="title"
            optionValue="id"
            placeholder="Выберите категорию услуги"
          >
            <template #option="{ option }">
              <div class="flex justify-content-between align-items-center w-full">
                <span>{{ option.title }}</span>
                <div>
                  <Button size="small" icon="pi pi-pencil" text class="p-0 w-7" severity="secondary" @click="editCategory(option)" />
                  <Button
                    size="small"
                    icon="pi pi-trash"
                    text
                    class="p-0 w-7"
                    severity="secondary"
                    @click="confirmDeleteCategory(option)"
                  />
                </div>
              </div>
            </template>
            <template #footer="{ options }">
              <div class="flex align-items-center justify-content-between py-1 px-1 border-top-1 border-200">
                <span class="text-xs px-3">Всего {{ options.length }} категорий</span>
                <Button text icon="pi pi-plus" class="text-xs" size="small" label="Добавить" severity="info" @click="addCategory" />
              </div>
            </template>
          </Dropdown>

          <small class="p-invalid text-red-600" v-if="submitted && !itemData.category_id">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="first_name" class="font-medium">Название</label>
          <InputText id="first_name" v-model.trim="itemData.title" required="true" autofocus :invalid="submitted && !itemData.title" />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.title">Обазательно для заполнения</small>
        </div>
        <div class="field">
          <label for="first_name" class="font-medium">Поля услуги</label>
          <TreeSelect v-model="selectedFields" :options="tree" search selectionMode="checkbox" placeholder="Выберите поля">
            <template #footer="{ options }">
              <div class="flex align-items-center justify-content-between py-1 px-1 border-top-1 border-200">
                <span class="text-xs px-3">Всего {{ options.length }} полей</span>
                <Button text icon="pi pi-plus" class="text-xs" size="small" label="Добавить" severity="info" @click="addField" />
              </div>
            </template>
          </TreeSelect>
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" icon="pi pi-times" severity="secondary" @click="close" />
      <Button label="Сохранить" icon="pi pi-check" :loading="isLoading" severity="info" @click="save" />
    </template>
  </PanelsSmall>
  <Dialog
    v-bind:visible="categoryDialog"
    @update:visible="categoryDialog = false"
    :header="serviceCategory?.id ? 'Редактирование категории' : 'Добавить категорию'"
    :modal="true"
    class="p-fluid"
    style="min-width: 320px; max-width: 550px"
  >
    <div class="field">
      <label for="category.title" class="font-medium">Название</label>
      <InputText id="category.title" v-model="serviceCategory.title" placeholder="Название категории" />
    </div>
    <template #footer>
      <Button label="Отмена" icon="pi pi-times" severity="secondary" @click="categoryDialog = false" />
      <Button label="Сохранить" icon="pi pi-check" :loading="isLoading" severity="info" @click="saveCategory" />
    </template>
  </Dialog>
  <Dialog
    v-bind:visible="fieldDialog"
    @update:visible="fieldDialog = false"
    header="Добавить поле"
    :modal="true"
    class="p-fluid"
    style="min-width: 320px; max-width: 550px"
  >
    <FieldsForm :field="field" :isFetching="false" @saved="onSavedField" />
  </Dialog>
</template>
