<script setup lang="ts">
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import { CABINET_PERMISSIONS } from '~/types/user.type';

definePageMeta({
  title: 'Клиника',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_CLINICS]
});

//COMMON
const route = useRoute();
const isLoading = ref<boolean>(true);

const { clinic_id } = route.params;
//STORES
const cabinetStore = useCabinetStore();
//DATA
const clinic = computed(() => cabinetStore.clinic);

onBeforeMount(async () => {
  isLoading.value = true;
  await fetchClinic();
  isLoading.value = false;
});

const fetchClinic = async () => {
  try {
    await cabinetStore.fetchItemClinic(Number(clinic_id));
    route.meta.title = clinic.value?.title;
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
</script>
<template>
  <app-page :loading="isLoading || !clinic">
    <template #title>Клиника {{ clinic?.title }}</template>
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <div class="grid">
        
        <div class="col-10 md:col-9">
          <div class="card relative">
            <div class="flex flex-column">
              <div class="grid">
                <div class="col-6 md:col-3 font-bold">Тип компании:</div>
                <div class="col-6 md:col-3">
                  {{ clinic?.type.title }}
                </div>
              </div>

              <div class="grid">
                <div class="col-6 md:col-3 font-bold">Адрес:</div>
                <div class="col-6 md:col-3">
                  {{ clinic?.metadata.address ?? '-' }}
                </div>
              </div>
              <div class="grid">
                <div class="col-6 md:col-3 font-bold">Телефон:</div>
                <div class="col-6 md:col-3">
                  {{ clinic?.metadata.phone ?? '-' }}
                </div>
              </div>
              <div class="grid">
                <div class="col-6 md:col-3 font-bold">Email:</div>
                <div class="col-6 md:col-3">
                  {{ clinic?.metadata.email ?? '-' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock :company="clinic" active="Общая информация" type="cabinet" />
        </div>
      </div>
    </template>
  </app-page>
</template>
