<script lang="ts" setup>
const props = defineProps();
</script>

<template>
  <Sidebar v-bind="props" style="width: 100%; max-width: 950px" position="right">
    <div class="flex flex-column justify-content-between h-full">
      <div class="flex flex-column">
        <slot name="body"></slot>
      </div>
      <div class="flex gap-2 justify-content-end">
        <slot name="footer"></slot>
      </div>
    </div>
  </Sidebar>
</template>
