<script lang="ts" setup>
const emits = defineEmits(['hideDialog', 'update:visible']);
const props = defineProps();
const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};
</script>

<template>
  <Sidebar v-bind="props" @update:visible="close" style="width: 100%; max-width: 350px" position="right">
    <div class="flex flex-column justify-content-between h-full">
      <div class="flex flex-column">
        <slot name="body"></slot>
      </div>
      <div class="flex gap-2 justify-content-end">
        <slot name="footer"></slot>
      </div>
    </div>
  </Sidebar>
</template>
