<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useCabinetStore } from '~/stores/cabinet.store';
import type { ICompany, ICreateCompanyDto } from '~/types/company.type';
import { CABINET_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Клиники',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_CLINICS]
});
//Common
const toast = useToast();

const filters = ref<any>({});
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(true);

//dialogs
const clinicDialog = ref<boolean>(false);
//data
const company = computed<ICompany | undefined>(() => cabinetStore.company);

//stores
const cabinetStore = useCabinetStore();

const clinics = computed(() => cabinetStore.clinics);
onBeforeMount(() => {
  initFilters();
  fetchCompany();
  fetchClinics();
});
const fetchCompany = async () => {
  try {
    await cabinetStore.fetchCompany();
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
const fetchClinics = async () => {
  isLoading.value = true;
  await cabinetStore.fetchClinics();
  isLoading.value = false;
};

const validate = (clinic: ICreateCompanyDto): boolean => {
  if (!clinic?.title?.length) return false;

  return true;
};
const saveClinic = async (clinic: ICreateCompanyDto) => {
  submitted.value = true;

  if (!validate(clinic)) return;
  try {
    if (!clinic) return;
    const isNew = !clinic.id;

    await cabinetStore.saveClinic(clinic);
    getToasts(toast).success(isNew ? 'Клиника успешно создана' : 'Информация успешно обновлена');

    submitted.value = false;
    hideDialog();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const deleteClinic = async (clinic: ICreateCompanyDto) => {
  try {
    if (!clinic?.id) return;
    await cabinetStore.deleteClinic(clinic.id);
    getToasts(toast).success('Компания удалена');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const hideDialog = () => {
  clinicDialog.value = false;
  submitted.value = false;
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>Клиники</template>
    <template #titleControls></template>
    <template #body>
      <CompaniesClinics
        type="cabinet"
        :loading="isLoading"
        :title="company?.title ? company.title : ''"
        :clinics="clinics"
        :deleteClinic="deleteClinic"
        :saveClinic="saveClinic"
      />
    </template>
  </app-page>
</template>
