<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany } from '~/types/company.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Клиники',
  breadcrumb: 'Клиники',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_CLINICS]
});
//Common
const route = useRoute();
const isLoading = ref(true);
const toast = useToast();

const submitted = ref<boolean>(false);

//Stores & hooks
const companyStore = useCompanyStore();

//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => companyStore.item as ICompany);

onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  await fetchWebhooks();
  isLoading.value = false;
});

//dialogs
const dialog = ref<boolean>(false);
const createdDialog = ref<boolean>(false);

const webhooks = computed(() => companyStore.hooks);
const createdWebhook = ref<IWebhook | undefined>(undefined);
const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await companyStore.fetchItem(Number(company_id));
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchWebhooks = async () => {
  isLoading.value = true;
  if (company.value?.id) await companyStore.fetchWebHooks(Number(company.value.id));
  isLoading.value = false;
};

const validate = (webhook: ICreateWebhook): boolean => {
  if (!webhook?.title?.length) return false;
  if (!webhook?.url?.length) return false;

  return true;
};
const save = async (webhook: ICreateWebhook) => {
  submitted.value = true;

  if (!validate(webhook)) return;
  try {
    if (!webhook || !company.value) return;
    const response = await companyStore.saveWebHook(Number(company.value.id), webhook);
    createdWebhook.value = response;
    createdDialog.value = true;
    getToasts(toast).success('Вебхук успешно создана');
    submitted.value = false;
    hideDialog();
  } catch (e: any) {
    console.log(e);
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const deleteWebhook = async (id: number) => {
  try {
    if (!id || !company.value) return;
    await companyStore.removeWebHook(Number(company.value.id), id);
    getToasts(toast).success('Вебхук удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const hideDialog = () => {
  dialog.value = false;
  submitted.value = false;
};
const hideCreatedDialog = () => {
  createdWebhook.value = undefined;
  createdDialog.value = false;
};
const copy = (text: string | undefined) => {
  if (!text) return;
  navigator.clipboard.writeText(text);
  getToasts(toast).success('Скопировано в буфер обмена');
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>
      {{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Вебхуки
    </template>

    <template #body>
      <div class="grid">
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock :company="company" />
        </div>
        <div class="col-12 md:col-9">
          <CompaniesWebhooks
            :loading="isLoading"
            :title="company?.title ? company.title : ''"
            :webhooks="webhooks"
            :delete="deleteWebhook"
            :save="save"
          />
        </div>
      </div>
    </template>
    <template #modal>
      <Dialog
        v-bind:visible="createdDialog"
        @update:visible="hideCreatedDialog"
        header="Ваш ключ"
        class="p-fluid"
        :modal="true"
        :style="{ width: '550px' }"
      >
        <div v-if="createdWebhook" class="flex flex-column gap-2">
          <div class="field">
            <label for="name" class="font-medium">Ключ шифрования</label>
            <InputGroup>
              <InputText v-model="createdWebhook.crypto" />
              <Button icon="pi pi-copy" severity="success" @click="copy(createdWebhook.crypto)" />
            </InputGroup>
          </div>
        </div>
        <template #footer>
          <Button label="Закрыть" severity="secondary" icon="pi pi-times" @click="hideCreatedDialog" />
        </template>
      </Dialog>
    </template>
  </app-page>
</template>
