<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useRolesStore } from '~/stores/roles.store';
import { SYSTEM_PERMISSIONS, type IPermission, type IRole } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Управление пользователями',
  breadcrumb: 'Управление пользователями',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_ROLES]
});
//Common
const confirm = useConfirm();
const route = useRoute();
const role_id = computed(() => route.query.id);
const toast = useToast();
const filters = ref<any>({});
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(true);

//Stores & services
const rolesStore = useRolesStore();

//Users
const role = ref<Partial<IRole>>({
  slug: '',
  name: '',
  is_default: false,
  permissions: []
});

//Roles
const roles = computed<IRole[]>(() => rolesStore.list);
const permissions = computed<IPermission[]>(() => rolesStore.permissions);
//Dialogs
const roleDialog = ref(false);

onBeforeMount(async () => {
  isLoading.value = true;
  initFilters();
  try {
    await rolesStore.fetchAll();
    await rolesStore.fetchAllPermissions();
    if (role_id.value) {
      const hasRole = roles.value.find((d) => d.id === Number(role_id.value));
      if (hasRole) {
        editRole(hasRole);
      }
    }
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }

  isLoading.value = false;
});

const openNew = () => {
  _resetRole();
  submitted.value = false;
  roleDialog.value = true;
};

const hideDialog = () => {
  roleDialog.value = false;
  submitted.value = false;
};

const editRole = (editRole: IRole) => {
  role.value = {
    id: editRole.id,
    slug: editRole.slug,
    name: editRole.name,
    is_default: editRole.is_default,
    permissions: editRole.permissions,
    company_type_id: editRole.company_type_id,
    notification_permissions: editRole.notification_permissions
  };

  roleDialog.value = true;
};

const confirmDeleteRole = (editRole: IRole) => {
  role.value = editRole;
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить роль?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: deleteRole,
    reject: () => {
      _resetRole();
    }
  });
};

const deleteRole = async () => {
  try {
    if (!role.value || !role.value?.id) return;
    await rolesStore.delete(role.value.id);
    getToasts(toast).success('Пользователь удален');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const _resetRole = () => {
  role.value = {
    slug: '',
    name: '',
    is_default: false,
    permissions: []
  };
};

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
};
</script>

<template>
  <app-page :loading="isLoading">
    <template #title>Роли</template>

    <template #body>
      <div class="flex align-items-center justify-content-between gap-2 sm:flex-row flex-column mb-2">
        <IconField iconPosition="left" class="block md:mt-0 w-full">
          <InputIcon class="pi pi-search" />
          <InputText class="w-full" size="small" v-model="filters['global'].value" placeholder="Поиск..." />
        </IconField>
        <Button
          size="small"
          v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_ROLES)"
          label="Добавить"
          icon="pi pi-plus"
          class="w-full sm:w-auto"
          severity="info"
          @click="openNew"
        />
      </div>
      <div class="surface-0 p-2 border-round-xl">
        <DataTable
          size="small"
          :value="roles"
          class="text-sm"
          dataKey="id"
          :paginator="true"
          :rows="15"
          :filters="filters"
          :rowHover="true"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          currentPageReportTemplate="{first} из {last} всего {totalRecords}"
        >
          <Column field="id" header="ID" :sortable="true" headerStyle="min-width:3rem;">
            <template #body="slotProps">
              {{ slotProps.data.id }}
            </template>
          </Column>
          <Column field="name" header="Название" :sortable="true" headerStyle="min-width:3rem;">
            <template #body="slotProps">
              {{ slotProps.data.name }}
            </template>
          </Column>
          <Column field="is_default" header="По умолчанию" headerStyle="width:29%; min-width:10rem;">
            <template #body="slotProps">
              <span class="font-medium">
                {{ slotProps.data.is_default ? 'Да' : 'Нет' }}
              </span>
            </template>
          </Column>
          <Column field="permissions" header="Разрешения" :sortable="true" headerStyle="width:16%; min-width:10rem;">
            <template #body="slotProps">
              <span class="text-primary">
                {{ slotProps.data.permissions.length }}
              </span>
            </template>
          </Column>

          <Column headerStyle="min-width:2rem;">
            <template #body="slotProps">
              <div class="flex justify-content-end">
                <Button
                  icon="pi pi-pencil"
                  class="mr-1 w-2rem h-2rem"
                  text
                  severity="secondary"
                  size="small"
                  v-tooltip.bottom="'Редактировать'"
                  v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_ROLES)"
                  @click="editRole(slotProps.data)"
                />
                <Button
                  v-if="!slotProps.data.is_default && hasPermission(SYSTEM_PERMISSIONS.SYSTEM_DELETE_ROLES)"
                  icon="pi pi-trash"
                  class="mr-1 w-2rem h-2rem"
                  size="small"
                  text
                  severity="secondary"
                  v-tooltip.bottom="'Удалить роль'"
                  @click="confirmDeleteRole(slotProps.data)"
                />
              </div>
            </template>
          </Column>
          <template #footer v-if="isLoading">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <ProgressSpinner
                style="width: 20px; height: 20px"
                strokeWidth="4"
                fill="var(--surface-ground)"
                animationDuration=".5s"
                aria-label="Custom ProgressSpinner"
              />
            </div>
          </template>
          <template #empty><div class="text-center text-sm">Список пуст</div></template>
        </DataTable>
      </div>
    </template>
    <template #modal>
      <RolesEdit
        v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_ROLES)"
        v-bind:item="role"
        v-bind:visible="roleDialog"
        :permissions="permissions"
        @hideDialog="hideDialog"
      />
    </template>
  </app-page>
</template>
