<script setup lang="ts">
import AppPage from '~/layouts/AppPage.vue';
definePageMeta({
  title: 'Услуга',
  breadcrumb: '',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_CREATE_DIRECTORY, SYSTEM_PERMISSIONS.SYSTEM_UPDATE_DIRECTORY]
});
const route = useRoute();
const confirm = useConfirm();
const toast = useToast();

const field_id = computed<number>(() => Number(route.params.field_id));

const fieldsStore = useFieldStore();
const directoriesStore = useDirectoryStore();

const isLoading = ref(false);
const field = computed<IField | null>(() => fieldsStore.item);
const directories = computed(() => directoriesStore.list || []);
onMounted(async () => {
  isLoading.value = true;
  await Promise.all([fieldsStore.fetchItem(field_id.value), directoriesStore.fetchAll()]);
  isLoading.value = false;
});
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>{{ field?.name }}</template>

    <template #body>
      <div class="grid">
        <div class="col-8">
          <div class="card">
            <FieldsForm :field="field" :isFetching="isLoading" />
          </div>
        </div>
        <div class="col-4">
          <div class="card pb-0 h-full">
            <div class="text-md md:text-xl font-semibold mb-4">Доступные словари</div>
            <DirectoriesList :directories="directories" :isFetching="isLoading" />
          </div>
        </div>
      </div>
    </template>
  </app-page>
</template>
