<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref } from 'vue';

import AppPage from '~/layouts/AppPage.vue';
import { useFieldStore } from '~/stores/field.store';
import type { IField } from '~/types/field.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';
definePageMeta({
  title: 'Управление полями',
  breadcrumb: 'Управление полями',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_FIELD]
});

const toast = useToast();

const fieldStore = useFieldStore();
const fields = computed<IField[]>(() => fieldStore.tree);

const tree = computed<any[]>(() => {
  const convertToTableTreeData = (field: IField): any => {
    return {
      key: field.id,
      label: field.name,
      data: field,
      parent: field.parent_id,
      children: field.children && field.children.length > 0 ? field.children.map((child: IField) => convertToTableTreeData(child)) : []
    };
  };

  return fields.value.map((field: IField) => {
    return convertToTableTreeData(field);
  });
});

const isLoading = ref<boolean>(true);

onMounted(async () => {
  try {
    await fieldStore.fetchAll();
    await fieldStore.fetchTree();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }

  isLoading.value = false;
});
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>Поля</template>
    <template #body>
      <FieldsList :fields="fields" :treeFields="tree" :loading="isLoading" />
    </template>
  </app-page>
</template>
