<script setup lang="ts">
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useFieldStore } from '~/stores/field.store';
import { useServiceStore } from '~/stores/service.store';
import type { IField } from '~/types/field.type';
import type { IService, IServiceCategory } from '~/types/service.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';

definePageMeta({
  title: 'Услуга',
  breadcrumb: '',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_SERVICE]
});
//Common
const route = useRoute();
const { service_id } = route.params;
const isLoading = ref<boolean>(true);
const submitted = ref<boolean>(false);
const serviceDialog = ref<boolean>(false);

//Stores
const serviceStore = useServiceStore();
const fieldsStore = useFieldStore();
//Data
const categories = computed<IServiceCategory[]>(() => serviceStore.categories || []);
const service = ref<IService | null>(serviceStore.item);
const directories = computed<IDirectory[]>(() => serviceStore.directories);
const fields = computed<IField[]>(() => fieldsStore.tree);

const tree = computed<any[]>(() => {
  const convertToTableTreeData = (field: IField): any => {
    return {
      key: field.id,
      label: field.name,
      data: field,
      parent: field.parent_id,
      children: field.children && field.children.length > 0 ? field.children.map((child: IField) => convertToTableTreeData(child)) : []
    };
  };

  return fields.value.map((field: IField) => {
    return convertToTableTreeData(field);
  });
});
onBeforeMount(async () => {
  await Promise.all([serviceStore.fetchItem(Number(service_id)), serviceStore.fetchServiceDirectories(Number(service_id))]);
  const filter = { service_id: [Number(service_id)] };
  await Promise.all([fieldsStore.fetchAll(filter), fieldsStore.fetchTree(filter)]);
  service.value = serviceStore.item;
  isLoading.value = false;
});

const hideDialog = () => {
  serviceDialog.value = false;
  submitted.value = false;
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>{{ service?.title }}</template>
    <template #titleControls></template>

    <template #headerControls> </template>
    <template #body>
      <div class="grid">
        <div class="col-8">
          <div class="card" v-if="service">
            <div class="flex gap-5 flex-column md:flex-row">
              <div class="flex flex-column">
                <div class="flex flex-column gap-1">
                  <div class="flex align-items-center gap-2">
                    <div class="flex align-items-center gap-1 font-semibold">Общая информация</div>
                  </div>
                  <div class="flex align-items-center gap-1">
                    <div class="font-medium">Категория:</div>
                    <div>{{ service.category.title }}</div>
                  </div>
                  <div class="flex align-items-center gap-1">
                    <i
                      class="pi"
                      :class="{
                        'text-green-500 pi-check-circle': service.is_active,
                        'text-pink-500 pi-times-circle': !service.is_active
                      }"
                    ></i>
                    <span>{{ service.is_active ? 'Активен' : 'Неактивен' }}</span>
                  </div>
                  <div class="flex align-items-center gap-1">
                    <i
                      class="pi"
                      :class="{
                        'text-green-500 pi-check-circle': service.is_default,
                        'text-pink-500 pi-times-circle': !service.is_default
                      }"
                    ></i>
                    <span>{{ service.is_default ? 'По умолчанию' : 'Не по умолчанию' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <FieldsList :fields="fields" :treeFields="tree" :loading="isLoading" />
          </div>
        </div>
        <div class="col-4">
          <div class="card pb-0 h-full">
            <div class="text-md md:text-xl font-semibold mb-4">Используемы словари</div>
            <DirectoriesList :directories="directories" v-model:isFetching="isLoading" />
          </div>
        </div>
      </div>
    </template>
    <template #modal>
      <ServicesEdit
        :fieldsTree="fields"
        v-bind:item="service"
        v-bind:visible="serviceDialog"
        :categories="categories"
        @hideDialog="hideDialog"
      />
    </template>
  </app-page>
</template>
