<script setup lang="ts">
import { FilterMatchMode } from 'primevue/api';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, onMounted, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useFieldStore } from '~/stores/field.store';
import { useServiceStore } from '~/stores/service.store';
import type { IField } from '~/types/field.type';
import type { IService, IServiceCategory, IServiceCreateDto } from '~/types/service.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Управление услугами',
  breadcrumb: 'Управление услугами',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_SERVICE]
});
//Common
const confirm = useConfirm();
const toast = useToast();
const filters = ref<any>({});
const isFetching = ref<boolean>(true);
const isLoading = ref<boolean>(true);
//Stores & services
const servicesStore = useServiceStore();
const fieldsStore = useFieldStore();
//Dialogs
const serviceDialog = ref<boolean>(false);

//Data
const fieldsTree = computed<IField[]>(() => fieldsStore.tree);
const services = computed<IService[]>(() => servicesStore.list || []);
const categories = computed<IServiceCategory[]>(() => servicesStore.categories || []);
const service = ref<IServiceCreateDto>({
  id: 0,
  title: '',
  category_id: 0,
  is_active: true
});
onBeforeMount(async () => {
  initFilters();
  await fieldsStore.fetchTree();
});
const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
  };
  isLoading.value = false;
};
onMounted(async () => {
  isFetching.value = true;
  try {
    await servicesStore.fetchCategories();
    await servicesStore.fetchAll();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
  }
});
const openNew = () => {
  _resetService();

  serviceDialog.value = true;
};
const hideDialog = () => {
  _resetService();
  serviceDialog.value = false;
};
const editService = (editService: IService) => {
  service.value = {
    id: editService.id,
    title: editService.title,
    category_id: editService.category.id,
    is_active: editService.is_active,
    fields: editService.fields?.map((item) => item.id)
  };
  serviceDialog.value = true;
};
const confirmDeleteService = (editService: IService) => {
  service.value = {
    id: editService.id,
    title: editService.title,
    category_id: editService.category.id,
    is_active: editService.is_active,
    fields: editService.fields?.map((item) => item.id)
  };
  confirm.require({
    group: 'confirmDelete',
    message: 'Вы действительно хотите удалить услугу?',
    header: 'Подтверждение',
    icon: 'pi pi-exclamation-triangle',
    rejectClass: 'p-button-secondary p-button-outlined',
    rejectLabel: 'Отменить',
    acceptLabel: 'Удалить',
    accept: deleteService,
    reject: () => {
      _resetService();
    }
  });
};
const deleteService = async () => {
  try {
    if (!service.value || !service.value?.id) return;
    await servicesStore.delete(service.value.id);

    getToasts(toast).success('Услуга удалена');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};
const _resetService = () => {
  service.value = {
    id: 0,
    title: '',
    category_id: 0,
    is_active: false,
    fields: []
  };
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>Услуги</template>

    <template #body>
      <div class="flex align-items-center justify-content-between gap-2 sm:flex-row flex-column mb-2">
        <IconField iconPosition="left" class="block md:mt-0 w-full">
          <InputIcon class="pi pi-search" />
          <InputText class="w-full" size="small" v-model="filters['global'].value" placeholder="Поиск..." />
        </IconField>
        <Button
          size="small"
          v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_CREATE_SERVICE)"
          label="Добавить"
          icon="pi pi-plus"
          class="w-full sm:w-auto"
          severity="info"
          @click="openNew"
        />
      </div>
      <div class="surface-0 p-2 border-round-xl">
        <DataTable
          size="small"
          :value="services"
          class="text-sm"
          dataKey="id"
          :paginator="true"
          :rows="30"
          :filters="filters"
          :rowHover="true"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          :rowsPerPageOptions="[30, 60, 90]"
          currentPageReportTemplate="{first} из {last} всего {totalRecords}"
        >
          <Column field="id" header="ID" :sortable="true" headerStyle="width:5rem;">
            <template #body="slotProps">
              {{ slotProps.data.id }}
            </template>
          </Column>
          <Column field="is_active" header="Статус" :sortable="true" headerStyle="width:5rem;">
            <template #body="slotProps">
              <Tag
                class="mr-2"
                :severity="slotProps.data.is_active ? 'success' : 'danger'"
                :value="slotProps.data.is_active ? 'Активирован' : 'Деактивирован'"
                :rounded="true"
              />
            </template>
          </Column>
          <Column field="title" header="Название" :sortable="true" headerStyle="min-width:10rem;">
            <template #body="slotProps">
              <NuxtLink :to="`/admin/services/${slotProps.data.id}`" class="text-primary">
                {{ slotProps.data.title }}
              </NuxtLink>
            </template>
          </Column>
          <Column field="is_active" header="Статус" :sortable="true" headerStyle="width:10rem;">
            <template #body="slotProps">
              {{ slotProps.data.is_active ? 'Активирован' : 'Деактивирован' }}
            </template>
          </Column>
          <Column field="category.title" header="Категория" :sortable="true" headerStyle="width:10rem;">
            <template #body="slotProps">
              {{ slotProps.data.category?.title }}
            </template>
          </Column>

          <Column headerStyle="min-width:2rem;">
            <template #body="slotProps">
              <div class="flex justify-content-end">
                <Button
                  icon="pi pi-pencil"
                  class="mr-1 w-2rem h-2rem"
                  size="small"
                  text
                  severity="secondary"
                  v-tooltip.bottom="'Редактировать'"
                  v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_UPDATE_SERVICE)"
                  @click="editService(slotProps.data)"
                />

                <Button
                  icon="pi pi-trash"
                  class="w-2rem h-2rem"
                  text
                  severity="secondary"
                  size="small"
                  v-tooltip.bottom="'Удалить'"
                  v-if="hasPermission(SYSTEM_PERMISSIONS.SYSTEM_DELETE_SERVICE)"
                  @click="confirmDeleteService(slotProps.data)"
                />
              </div>
            </template>
          </Column>
          <template #footer v-if="isFetching">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <ProgressSpinner
                style="width: 20px; height: 20px"
                strokeWidth="4"
                fill="var(--surface-ground)"
                animationDuration=".5s"
                aria-label="Custom ProgressSpinner"
              />
            </div>
          </template>
          <template #empty><div class="text-center text-sm">Список пуст</div></template>
        </DataTable>
      </div>
    </template>
    <template #modal>
      <ServicesEdit
        :fieldsTree="fieldsTree"
        v-bind:item="service"
        v-bind:visible="serviceDialog"
        :categories="categories"
        @hideDialog="hideDialog"
      />
    </template>
  </app-page>
</template>
