<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, onMounted, ref } from 'vue';
import AppPage from '~/layouts/AppPage.vue';
import { useDirectoryStore } from '~/stores/directory.store';
import type { IDirectory } from '~/types/directory.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Управление словарями',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_DIRECTORY],
  breadcrumb: 'Управление словарями'
});
//Common
const toast = useToast();
const isLoading = ref<boolean>(true);
const isFetching = ref<boolean>(true);

//Stores & services
const directoryStore = useDirectoryStore();

//Data
const directories = computed<IDirectory[]>(() => directoryStore.list || []);

onBeforeMount(() => {
  isLoading.value = false;
});

onMounted(async () => {
  isFetching.value = true;
  try {
    await directoryStore.fetchAll();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isFetching.value = false;
  }
});
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>Словари</template>

    <template #body>
      <DirectoriesList :directories="directories" v-model:isFetching="isFetching" />
    </template>
  </app-page>
</template>
