<script setup lang="ts">
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useAuthStore } from '~/stores/auth.store';
import { useCabinetStore } from '~/stores/cabinet.store';
import type { ICompany } from '~/types/company.type';
import type { IService } from '~/types/service.type';
import { CABINET_PERMISSIONS } from '~/types/user.type';

definePageMeta({
  title: 'Услуги',
  breadcrumb: 'Услуги',
  permissions: [CABINET_PERMISSIONS.CABINET_VIEW_SERVICE]
});
//Common
const route = useRoute();
const isLoading = ref(true);

//Stores & hooks
const cabinetStore = useCabinetStore();
const { user } = useAuthStore();
//Data
const company_id = user.company?.id;
const company = computed<ICompany | undefined>(() => cabinetStore.company);
const services = computed<IService[]>(() => cabinetStore.services);
const companyServices = computed<number[]>(() => services.value.map((service) => service.id));

onBeforeMount(() => {
  isLoading.value = true;
  fetchCompany();
  fetchServices();
  isLoading.value = false;
});
const fetchCompany = async () => {
  isLoading.value = true;
  try {
    await cabinetStore.fetchCompany();
    isLoading.value = false;
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};

const fetchServices = async () => {
  await cabinetStore.fetchServices();
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>Услуги</template>
    <template #titleControls></template>
    <template #headerControls> </template>
    <template #body>
      <CompaniesServices :loading="isLoading" :company="company" :serviceList="services" :companyServices="companyServices" readonly />
    </template>
  </app-page>
</template>
