<script setup lang="ts">
import type { LogType } from '#imports';
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref, watch, type PropType } from 'vue';
import { PermissionType, type ICreateRoleDto, type IPermission } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

// PROPS
const emits = defineEmits(['hideDialog', 'update:visible', 'update:item']);

const props = defineProps({
  item: {
    type: Object as PropType<ICreateRoleDto>,
    required: true
  },
  visible: {
    type: Boolean as PropType<boolean>,
    required: true
  },
  permissions: {
    type: Array as PropType<IPermission[]>,
    required: true
  }
});

//Common
const toast = useToast();
const submitted = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const isNew = computed<boolean>(() => !itemData.value?.id);

const permissions = computed<IPermission[]>(() => {
  const result: any = {};
  const permissions = props.permissions;
  const permissionMode: Record<string, number> = {
    view: 0,
    create: 1,
    update: 2,
    delete: 3
  };

  for (const permission of permissions) {
    if (!result[permission.type]) result[permission.type] = {};
    if (!result[permission.type][permission.category]) result[permission.type][permission.category] = [];

    if (permission) {
      result[permission.type][permission.category].push(permission);
    }
  }

  return result;
});

const selectedPermissions = ref<Record<string, Record<string, IPermission[]>>>({
  [PermissionType.SYSTEM]: {},
  [PermissionType.LABORATORY]: {}
});

//Hooks & Stores
const rolesStore = useRolesStore();

const companiesStore = useCompanyStore();
//Data
const itemData = computed<Partial<ICreateRoleDto>>(() => props.item);
const notificationTypes = ref<{ label: string; value: INoticeType }[] | undefined>(
  itemData.value.notification_permissions?.map((nt) => ({
    label: NOTICE_TYPE_LABELS[nt.slug as LogType].label as string,
    value: { slug: nt.slug as LogType, active: nt.active }
  }))
);
const companyTypes = computed<any[]>(() => [{ id: null, title: 'Для всех' }, ...companiesStore.types]);
const close = () => {
  emits('update:visible', false);
  emits('hideDialog', true);
};

const validate = () => {
  if (!itemData.value?.name) {
    return false;
  }
  return true;
};
onBeforeMount(async () => {
  await companiesStore.fetchTypes();
});
watch(
  () => props.item,
  (newValue: ICreateRoleDto) => {
    if (!newValue.permissions) return;
    console.log(permissions.value);

    Object.entries(permissions.value).forEach(([key, perms]) => {
      if (selectedPermissions.value[key]) selectedPermissions.value[key] = {};
      Object.entries(perms).forEach(([category, permissions]) => {
        if (!selectedPermissions.value[key][category]) selectedPermissions.value[key][category] = [];
      });
    });

    newValue.permissions.forEach((permission) => {
      selectedPermissions.value[permission.type][permission.category].push(permission);
    });

    notificationTypes.value = newValue.notification_permissions?.map((nt) => ({
      label: LOG_TYPE_LABELS[nt.slug as LogType].label as string,
      value: { slug: nt.slug as LogType, active: nt.active }
    }));
  }
);

const save = async () => {
  try {
    submitted.value = true;
    isLoading.value = true;

    if (!validate()) return;

    const isNew = !itemData.value.id;
    const permissions: IPermission[] | undefined = [];
    Object.values(selectedPermissions.value).forEach((category_values) => {
      Object.values(category_values).forEach((values) => {
        permissions.push(...values);
      });
    });

    const notification_permissions = notificationTypes.value?.map((nt) => nt.value) || [];
    await rolesStore.save({ ...itemData.value, permissions, notification_permissions });
    getToasts(toast).success(isNew ? 'Роль успешно создана' : 'Информация успешно обновлена');
    emits('update:item', itemData.value);
    submitted.value = false;
    close();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  } finally {
    isLoading.value = false;
  }
};
</script>
<template>
  <PanelsMedium
    v-bind:visible="visible"
    @update:visible="close"
    :header="isNew ? 'Добавить роль' : `Роль: ${itemData.name}`"
    :modal="true"
    class="p-fluid"
  >
    <template #body>
      <div class="flex flex-column gap-3">
        <div class="flex gap-2 align-items-center">
          <InputSwitch v-model="itemData.is_default" />
          <label class="font-medium">{{ itemData.is_default ? 'По умолчинию' : 'Не по умолчанию' }}</label>
        </div>
        <div class="flex flex-column gap-1 w-full">
          <label for="company" class="font-medium">Тип компании</label>
          <Dropdown
            id="company"
            v-model.trim="itemData.company_type_id"
            filter
            :options="companyTypes"
            optionLabel="title"
            optionValue="id"
            placeholder="Для всех"
          />
        </div>

        <div class="flex flex-column gap-1">
          <label for="last_name" class="font-medium">Название</label>
          <InputText id="name" v-model.trim="itemData.name" required="true" :invalid="submitted && !itemData.name" />
          <small class="p-invalid text-red-600" v-if="submitted && !itemData.name">Обазательно для заполнения</small>
        </div>

        <div v-if="Object.values(selectedPermissions).length" class="flex flex-column gap-1">
          <TabView>
            <TabPanel v-if="selectedPermissions" header="Системные">
              <ScrollPanel style="width: 100%; height: 65vh" class="p-2">
                <div class="flex flex-column gap-2">
                  <div
                    v-for="(list, category_name) in permissions[PermissionType.SYSTEM]"
                    :key="category_name"
                    class="flex justify-content-between align-items-center"
                  >
                    <div>{{ category_name }}</div>
                    <div>
                      <MultiSelect
                        v-model="selectedPermissions[PermissionType.SYSTEM][category_name]"
                        filter
                        display="chip"
                        :options="list"
                        option-label="name"
                        style="width: 15rem"
                      />
                    </div>
                  </div>
                </div>
              </ScrollPanel>
            </TabPanel>
            <TabPanel v-if="selectedPermissions" header="Кабинет">
              <ScrollPanel style="width: 100%; height: 65vh" class="p-2">
                <div class="flex flex-column gap-2">
                  <div
                    v-for="(list, category_name) in permissions[PermissionType.LABORATORY]"
                    :key="category_name"
                    class="flex justify-content-between align-items-center"
                  >
                    <div>{{ category_name }}</div>
                    <div>
                      <MultiSelect
                        v-model="selectedPermissions[PermissionType.LABORATORY][category_name]"
                        filter
                        display="chip"
                        :options="list"
                        option-label="name"
                        style="width: 15rem"
                      />
                    </div>
                  </div>
                </div>
              </ScrollPanel>
            </TabPanel>
            <TabPanel v-if="selectedPermissions" header="Уведомления">
              <ScrollPanel style="width: 100%; height: 65vh" class="p-2">
                <div class="flex flex-column gap-2">
                  <div v-for="nt in notificationTypes" :key="nt.label" class="flex gap-2 align-items-center">
                    <Checkbox binary v-model="nt.value.active" />
                    <label class="font-medium">{{ nt.label }} </label>
                  </div>
                </div>
              </ScrollPanel>
            </TabPanel>
          </TabView>
        </div>
      </div>
    </template>
    <template #footer>
      <Button label="Отмена" severity="secondary" icon="pi pi-times" @click="close" />
      <Button label="Сохранить" severity="info" icon="pi pi-check" :loading="isLoading" @click="save" />
    </template>
  </PanelsMedium>
</template>
