<script setup lang="ts">
import { useToast } from 'primevue/usetoast';
import { computed, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import AppPage from '~/layouts/AppPage.vue';
import { useCompanyStore } from '~/stores/company.store';
import type { ICompany, ICreateCompanyDto } from '~/types/company.type';
import { SYSTEM_PERMISSIONS } from '~/types/user.type';
import { getToasts } from '~/utils/vue.utils';

definePageMeta({
  title: 'Клиники',
  breadcrumb: 'Клиники',
  permissions: [SYSTEM_PERMISSIONS.SYSTEM_VIEW_CLINICS]
});
//Common
const route = useRoute();
const isLoading = ref(true);
const toast = useToast();

const submitted = ref<boolean>(false);

//Stores & hooks
const companyStore = useCompanyStore();

//Data
const { company_id } = route.params;
const company = computed<ICompany>(() => companyStore.item as ICompany);

onBeforeMount(async () => {
  isLoading.value = true;
  await fetchCompany();
  await fetchClinics();
  isLoading.value = false;
});

//dialogs
const clinicDialog = ref<boolean>(false);

const clinics = computed(() => companyStore.clinics);

const fetchCompany = async () => {
  try {
    if (Number(company_id) !== company.value?.id) {
      await companyStore.fetchItem(Number(company_id));
    }
  } catch (e: any) {
    throw showError({
      statusCode: 404,
      fatal: true
    });
  }
};
const fetchClinics = async () => {
  isLoading.value = true;
  if (company.value?.id) await companyStore.fetchCompanyClinics(Number(company.value.id));
  isLoading.value = false;
};

const validate = (clinic: ICreateCompanyDto): boolean => {
  if (!clinic?.title?.length) return false;

  return true;
};
const saveClinic = async (clinic: ICreateCompanyDto) => {
  submitted.value = true;

  if (!validate(clinic)) return;
  try {
    if (!clinic || !company.value) return;
    const isNew = !clinic.id;

    await companyStore.saveClinic(Number(company.value.id), clinic);
    getToasts(toast).success(isNew ? 'Клиника успешно создана' : 'Информация успешно обновлена');

    submitted.value = false;
    hideDialog();
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const deleteClinic = async (clinic: ICreateCompanyDto) => {
  try {
    if (!clinic?.id || !company.value) return;
    await companyStore.deleteClinic(Number(company.value.id), clinic.id);
    getToasts(toast).success('Компания удалена');
  } catch (e: any) {
    getToasts(toast).error('Что-то пошло не так, попробуйте ещё раз');
  }
};

const hideDialog = () => {
  clinicDialog.value = false;
  submitted.value = false;
};
</script>
<template>
  <app-page :loading="isLoading">
    <template #title>
      {{ company?.type.id === COMPANY_TYPES.LABORATORY ? 'Лаборатория: ' : 'Клиника: ' }}{{ company?.title }} - Клиники
    </template>

    <template #body>
      <div class="grid">
        <div class="col-12 md:col-3">
          <CompaniesMenuBlock :company="company" active="Клиники" />
        </div>
        <div class="col-12 md:col-9">
          <CompaniesClinics
            :loading="isLoading"
            :title="company?.title ? company.title : ''"
            :clinics="clinics"
            :deleteClinic="deleteClinic"
            :saveClinic="saveClinic"
          />
        </div>
      </div>
    </template>
  </app-page>
</template>
